<form [formGroup]="formGroup"
      class="formgroup row">

    <h2 class="section-header medium-10 columns">Microschema Properties:</h2>
    <div class="input-container small-12 medium-12 columns">
        <gtx-input type="text"
                   label="Microschema Name"
                   formControlName="name"></gtx-input>
        <div class="input-note">
            <p [@animNgIf]
               *ngIf="getFormControlErrorOfType('name', 'required')"
               class="invalid">required</p>
            <p [@animNgIf]
               *ngIf="getFormControlErrorOfType('name', 'pattern')"
               class="invalid">Invalid characters: alphanumeric and underscore only</p>
            <p [@animNgIf]
               *ngIf="getFormControlErrorOfType('name', 'conflict')"
               class="invalid">This name is already in use by another microschema</p>
        </div>
    </div>

    <gtx-input type="text"
               class="small-12 medium-12 columns"
               label="Description"
               formControlName="description"></gtx-input>
    <br>

    <div class="section-header-fields medium-12 columns">
        <h2>Microschema Fields:</h2>
        <gtx-button size="small"
                    (click)="fieldAdd()">
            <icon left>add</icon>New Field
        </gtx-button>
    </div>

    <div [@animNgForParent]
         class="schema-field small-12 medium-12 columns"
         *ngFor="let field of schemaFields.controls; let i = index">

        <form [@animNgForChild]
              [formGroup]="field">
            <div class="field-header">
                <h3>{{field.value?.name}}</h3>
            </div>
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <gtx-input type="text"
                               label="Field Name"
                               formControlName="name"></gtx-input>
                    <div class="input-note">
                        <p [@animNgIf]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'required')"
                           class="invalid">required</p>
                        <p [@animNgIf]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'pattern')"
                           class="invalid">Invalid characters: alphanumeric and underscore only</p>
                        <p [@animNgIf]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'duplicate')"
                           class="invalid">Duplicate content</p>
                    </div>
                </div>

                <div class="small-12 medium-3 columns">
                    <gtx-textarea label="Field Label"
                                  formControlName="label"></gtx-textarea>
                </div>

                <div class="input-container small-12 medium-2 columns">
                    <gtx-select formControlName="type"
                                label="Field Type">
                        <gtx-option *ngFor="let type of schemaFieldTypes"
                                    [value]="type.value">{{ type.label }}</gtx-option>
                    </gtx-select>
                    <div class="input-note">
                        <p [@animNgIf]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'type', 'required')"
                           class="invalid">required</p>
                    </div>
                </div>

                <div class="small-12 medium-2 columns">
                    <div class="checkbox-wrapper">
                        <div>
                            <gtx-checkbox label="required"
                                          formControlName="required"></gtx-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- INPUT DEPENDING ON listType START -->

                <!-- {{ 'modal.create_project_schema_label' | i18n }} -->
                <div class="small-12 medium-4 columns">
                    <gtx-select [hidden]="field.value.type !== 'list'"
                                formControlName="listType"
                                label="List Type">
                        <gtx-option *ngFor="let type of schemaFieldListTypes"
                                    [value]="type.value">{{ type.label }}</gtx-option>
                    </gtx-select>
                    <div class="input-note">
                        <p [@animNgIf]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'listType', 'required')"
                           class="invalid">required</p>
                    </div>
                </div>

                <!-- INPUT DEPENDING ON listType END -->
            </div>
        </form>
        <div class="button-close">
            <gtx-button icon
                        type="secondary"
                        title="remove field"
                        (click)="fieldDelete(field, i)">
                <icon>close</icon>
            </gtx-button>
        </div>

        <div class="button-add">
            <gtx-button icon
                        type="secondary"
                        title="insert field"
                        (click)="fieldAddAt(i + 1)">
                <icon>add</icon>
            </gtx-button>
        </div>
    </div>

    <div *ngIf="schemaFields.value.length === 0"
         class="small-12 medium-12 columns">
        <p class="warning">This Microschema has no schema fields</p>
    </div>
</form>

<br>

<div class="schema-controls small-12 medium-12 columns">
    <gtx-button [disabled]="!(formGroupIsValid() && schemaSaveIsPermitted())"
                (click)="schemaSave()"
                [title]="schemaSaveIsPermitted() ? 'Save' : 'You do not have the required privilege to save'">
        <icon left>save</icon>Save
    </gtx-button>

    <gtx-button [hidden]="!schemaDeleteButtonIsDisplayed()"
                [disabled]="!schemaDeleteIsPermitted()"
                (click)="schemaDelete()"
                [title]="schemaDeleteIsPermitted() ? 'Delete' : 'You do not have the required privilege to delete'">
        <icon left>delete</icon>Delete
    </gtx-button>
</div>
