@import "variables";

:host {
    gtx-breadcrumbs {
        height: 40px;
        line-height: 40px;
        width: 100%;

        /deep/ nav {
            box-shadow: none;
            background-color: $gtx-color-white;
            color: $gtx-color-primary;
        }
    }

    /deep/ gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb {
        color: $gtx-color-primary;
    }

    /deep/ gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb::before {
        color: $gtx-breadcrumbs-inactive-color;
    }
}
