@import "variables";

:host {
    .container {
        display: flex;
        height: 40px;
        background-color: $gtx-color-light-gray;
        text-align: center;
        font-size: 32px;
        color: $gtx-color-mid-gray;

        gtx-breadcrumbs {
            height: 40px;
            line-height: 40px;
            width: 100%;
        }

        project-switcher:after {
            content: '\E5CC';
            color: $gtx-color-dark-gray;
            vertical-align: top;
            display: inline-block;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 25px;
            line-height: 45px;
            margin: 0 10px 0 0px;
            -webkit-font-smoothing: antialiased;
        }
    }
}
