@import "variables";

:host {
    gtx-breadcrumbs {
        height: 40px;
        line-height: 40px;
        width: 100%;

        ::ng-deep nav {
            box-shadow: none;
            background-color: $gtx-color-white;
            color: $gtx-color-primary;
        }
    }

    ::ng-deep gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb {
        color: $gtx-color-primary;
        &:last-child {
            color: $gtx-color-primary;
        }
    }

    ::ng-deep gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb::before {
        color: $gtx-breadcrumbs-inactive-color;
    }
}

gtx-breadcrumbs
> ::ng-deep nav
> div
> div
> div.other-content
> mesh-project-switcher
> gtx-dropdown-list
> div
> gtx-dropdown-trigger
> div
{
    margin-top: 10px;
}
