<div>
    <div layout="row">
        <md-input-container flex>
            <label>{{:: fields.longitude.label}}</label>
            <input type="number" ng-model="fields.longitude.value" ng-change="updateMapSrc()" ng-readonly="!fields.longitude.canUpdate" max="180" min="-180" step="0.01">
        </md-input-container>
        <md-input-container flex>
            <label>{{:: fields.latitude.label }}</label>
            <input type="number" ng-model="fields.latitude.value" ng-change="updateMapSrc()" ng-readonly="!fields.latitude.canUpdate" max="180" min="-180" step="0.01">
        </md-input-container>
    </div>
    <div class="map-container" style="height: 400px;"></div>
</div>