<gtx-progress-bar [for]="projectsLoading$"></gtx-progress-bar>

<div class="not-found" *ngIf="(projects$ | async).length === 0 && !(projectsLoading$ | async)">
    <div><icon>sentiment_very_dissatisfied</icon></div>
    <p>{{ 'admin.projects_none_found' | i18n }}</p>
</div>

<div class="project-list">
    <mesh-project-list-item *ngFor="let project of projects$ | async" [projectUuid]="project.uuid"></mesh-project-list-item>
</div>

<gtx-button (click)="create()">{{ 'admin.projects_create' | i18n }}</gtx-button>
