.expandable-tags-list {
  .expand-tags, .contract-tags {
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    font-size: @font-size-smaller;
    color: @color-boulder;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background-color: @color-silver;
      color: @color-mineshaft;
    }
  }
}