@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;
    width: $full-width;

    :host-context(mesh-list-field),
    &.compact {
        flex-direction: column;

        label {
            @include label-style-compact;
            margin-top: 0;
            margin-bottom: 0;
        }

        .micronode-control-wrapper {
            width: $full-width;
        }
    }

    &.list-item {
        .micronode-control-wrapper {
            margin-bottom: 0;
        }
    }
}

label {
    @include label-style-full;
    margin-top: 0;
}

.micronode-control-wrapper {
    width: calc(#{$full-width-right} + #{$left-bar-width});
    border: 2px solid $gtx-color-very-light-gray;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;

    /deep/ & > .mesh-field {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
}
