<label *ngIf="api.field.label || api.field.name">{{ api.field.label || api.field.name }}</label>

<div class="editor-container">
    <gtx-button class="select-item-button"
                *ngIf="!userValue"
                flat="true"
                (click)="selectNode()">
        <icon left>search</icon>
        Select Node Reference
    </gtx-button>

    <div *ngIf="userValue"
         class="icon">
        <mesh-thumbnail [nodeUuid]="userValue"
                        [language]="node.language">
        </mesh-thumbnail>
    </div>

    <div class="fullInfo"
         *ngIf="userValue">
        <div class="schemaName">
            <span class="innerSchemaName">
                <icon>view_quilt</icon>
                <div>{{ schemaName }}</div>
            </span>
        </div>
        <a class="nodeName"
           [routerLink]="routerLink">{{ displayName }}</a>
        <div class="path">{{ breadcrumbPath }}</div>
    </div>

    <div class="show-on-hover"
         *ngIf="userValue">
        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="selectNode()">
            <icon left>search</icon>
        </gtx-button>

        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="removeNode()">
            <icon left>clear</icon>
        </gtx-button>
    </div>
</div>
