@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;

    :host-context(mesh-micronode-field),
    :host-context(mesh-list-field),
    &.compact {
        flex-direction: column;

        label {
            @include label-style-compact;
        }

        .uuid-form {
            width: $full-width;
        }
    }
}

a {
    cursor: pointer;
}

.path {
    cursor: default !important;
}

label {
    @include label-style-full;
}

.uuid-form {
    width: $half-width-right;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

.form {
    display: flex;
    right: 0;
}

gtx-contents-list-item {
    width: 100%;
    border: none;
}

.title {
    width: 150px;
    margin-left: -1%;
}

.schemaName {
    font-size: 12px;
    display: flex;
}

.schemaName icon {
    font-size: 20px;
    margin-right: 0.5%;
}

.innerSchemaName {
    display: flex;
    padding: 3px;
    border: 1px solid #d6d6da;    
}

.nodeName {
    border: 1px solid #d6d6da;
    padding: 2px;
    padding-left: 5px;
}

.path {
    border: 1px solid #d6d6da;
    padding: 1px;
    padding-left: 5px;
}

.button gtx-button, .icon {
    margin-left: 6%;
}
