@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;

    :host-context(mesh-micronode-field),
    :host-context(mesh-list-field),
    &.compact {
        flex-direction: column;

        label {
            @include label-style-compact;
        }

        .uuid-form {
            width: $full-width;
        }
    }
}

label {
    @include label-style-full;
}

.uuid-form {
    width: $half-width-right;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

.form {
    display: flex;
    right: 0;
}

gtx-contents-list-item {
    width: 100%;
    border: 1px solid #e0e0e0;
}

gtx-textarea {
    float: right;
    width: 250px;
}

.title {
    width: 150px;
}

.allowed {
    width: 300px;
}

.allowedSchemas {
    color: red;
}
