<gtx-contents-list-item>
    <div class="item-primary">
        <label class="allowedSchemas">List of allowed schemas: {{ api.field.allow }}</label>
    </div>
    <div class="item-primary">
        <label>{{ api.field.label || api.field.name }}</label>
    </div>
    <!-- TODO: re-enable the mesh-thumbnail once we have wired up real data -->
    <!--<mesh-thumbnail [nodeUuid]="userValue"></mesh-thumbnail>-->
    <div class="item-primary">
        <gtx-textarea [(ngModel)]="fullName"
                      readonly=true></gtx-textarea>
    </div>

    <div class="show-on-hover">
        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="selectNode()">
            <icon left>search</icon>
        </gtx-button>

        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="removeNode()">
            <icon left>clear</icon>
        </gtx-button>
    </div>
</gtx-contents-list-item>
