@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;

    :host-context(mesh-micronode-field),
    :host-context(mesh-list-field),
    &.compact {
        flex-direction: column;

        label {
            @include label-style-compact;
        }

        .uuid-form {
            width: $full-width;
        }
    }
}

label {
    @include label-style-full;
}

.uuid-form {
    width: $half-width-right;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}
