<gtx-contents-list-item>
    <div class="title"
         *ngIf="api.field.label || api.field.name">
        <label>{{ api.field.label || api.field.name }}</label>
    </div>
    <div class="item-primary button"
         *ngIf="!fullName">
        <gtx-button flat="true"
                    (click)="selectNode()">
            <icon left>search</icon>
            Select Node Reference
        </gtx-button>
    </div>
    <div *ngIf="fullName"
         class="icon">
        <mesh-thumbnail [nodeUuid]="userValue"></mesh-thumbnail>
        <icon *ngIf="isContainer">folder</icon>
        <icon *ngIf="!isContainer">insert_drive_file</icon>
    </div>
    <div class="item-primary"
         *ngIf="fullName">
        <ul>
            <li class="schemaName">
                <span class="innerSchemaName">
                    <icon>view_quilt</icon>
                    <div>{{ schemaName }}</div>
                </span>
            </li>
            <li>
                <a class="nodeName"
                   (click)="goToNode()">{{ displayName }}</a>
            </li>
            <li>
                <label class="path">{{ breadcrumbPath }}</label>
            </li>
        </ul>
    </div>
    <!-- TODO: re-enable the mesh-thumbnail once we have wired up real data -->
    <!--<mesh-thumbnail [nodeUuid]="userValue"></mesh-thumbnail>-->
    <div class="show-on-hover"
         *ngIf="fullName">
        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="selectNode()">
            <icon left>search</icon>
        </gtx-button>

        <gtx-button *ngIf="!api.readOnly"
                    flat="true"
                    (click)="removeNode()">
            <icon left>clear</icon>
        </gtx-button>
    </div>
</gtx-contents-list-item>
