<div class="label-container">
    <div class="floating-label"
         [meshScrollFrameHeading]="{ target: elementRef }"
         [disableScrollTarget]="disableScrollTarget">
        <label>{{ field.label || field.name }}</label>

        <div class="add-item-button"
             *ngIf="!api.readOnly">
            <gtx-sortable-list [group]="{ name: groupId, pull: 'clone', put: false }"
                               [disabled]="api.readOnly">
                <ng-template [ngIf]="field.listType === 'micronode'">
                    <gtx-sortable-item *ngFor="let schemaName of field.allow"
                                       [attr.data-microschema-name]="schemaName">
                        <div class="new-item">
                            <gtx-button (click)="addItem(schemaName)"
                                        icon>
                                <icon>add</icon>
                            </gtx-button>{{ schemaName }}
                            <gtx-drag-handle></gtx-drag-handle>
                        </div>
                    </gtx-sortable-item>
                </ng-template>
            </gtx-sortable-list>
        </div>
    </div>

    <div class="remove-area-wrapper"
         *ngIf="!api.readOnly"
         [class.visible]="dragging"
         [class.hovered]="hoverRemoveArea">
        <div class="icon-and-label">
            <icon>delete</icon>
            <div class="remove-instruction">
                {{ 'editor.remove_list_item_tooltip' | i18n }}
            </div>
        </div>
        <gtx-sortable-list (addItem)="deleteItem($event)"
                           [disabled]="api.readOnly"
                           [group]="{ name: removeGroupId, put: [groupId] }"
                           class="remove-area">
        </gtx-sortable-list>
    </div>
</div>

<div class="list-container"
     [class.updating]="updating"
     [class.dragging]="dragging"
     [style.height]="listHeight">
    <gtx-sortable-list #listContainer
                       [disabled]="api.readOnly"
                       (dragEnd)="dragEnd($event)"
                       (addItem)="addNewElement($event)"
                       [onMove]="onMove"
                       [class.empty]="!value || value.length === 0"
                       [group]="mainGroup">

        <div class="empty-placeholder"
             *ngIf="!value || value.length === 0">
            <!-- this empty-placeholder is a work-around for an issue with gtx-sortable-list, do not remove -->
            <gtx-drag-handle></gtx-drag-handle>
        </div>

        <gtx-sortable-item *ngFor="let item of value; trackBy: trackByFn">
            <div class="item-row">
                <div #listItem
                     class="list-item"></div>
                <div>Allowed Schemas: {{ api.field.allow }}</div>
                <gtx-drag-handle [hidden]="api.readOnly"
                                 (mousedown)="dragging = true"
                                 (mouseup)="dragging = false"></gtx-drag-handle>
            </div>
        </gtx-sortable-item>
    </gtx-sortable-list>
    <div class="item-primary button"
         *ngIf="field.listType !== 'micronode'">
        <gtx-button flat="true"
                    (click)="addItem()">
            <icon left>search</icon>
            Add Node Reference
        </gtx-button>
    </div>
</div>
