<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.schemas.list">Schemas</a>
                </span>
            </li><li><span>
                    {{ vm.schema.name }}
                </span>
        </li>
        </ul>
    </div>

    <div layout="row">
    <schema-editor flex flex-gt-md="70"
                    schema="vm.schema"
                   schemas="vm.schemas"
                   microschemas="vm.microschemas"
                   on-change="vm.schemaChanged(schema)"></schema-editor>
    </div>

    <form name="schemaDetailForm" class="admin-form">

        <!--<div ui-ace="{ useWrapMode : true, showGutter: true, mode: 'json', onLoad : vm.aceLoaded, workerPath: 'vendor/scripts' }"
             ng-model="vm.schemaJson"></div>-->

    </form>

    <div layout="row" layout-align="center center" class="main-buttons">

        <button class="btn btn-primary"
                ng-click="vm.persist(vm.schema)"
                ng-disabled="!vm.modified"
                aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew" translate>UPDATE</span>
            <span ng-if="vm.isNew" translate>CREATE</span>
        </button>

        <button class="btn btn-warn"
                ng-click="vm.remove(vm.schema)"
                ng-disabled="!vm.canDelete()"
                aria-label="delete">
            <i class="icon-delete"></i><span translate>DELETE</span>
        </button>

    </div>
</div>