<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.schemas.list">Schemas</a>
                </span>
            </li><li><span>
                    {{ vm.schema.name }}
                </span>
        </li>
        </ul>
    </div>

    <form name="schemaDetailForm" class="admin-form">

       <json-editor contents="vm.schema"></json-editor>

    </form>

    <div layout="row" layout-align="center center" class="main-buttons">

        <button class="btn btn-primary"
                ng-click="vm.persist(vm.group)"
                ng-disabled="!vm.modified"
                aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew" translate>UPDATE</span>
            <span ng-if="vm.isNew" translate>CREATE</span>
        </button>

        <button class="btn btn-warn"
                ng-click="vm.remove(vm.group)"
                ng-disabled="!vm.canDelete()"
                aria-label="delete">
            <i class="icon-delete"></i><span translate>DELETE</span>
        </button>

    </div>
</div>