<div class="app-content">
    <h1 class="page-title">Schemas</h1>

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label>Filter Schemas</label>
                <input ng-model="vm.schemaFilter">
            </md-input-container>
            <button class="btn btn-small btn-primary" aria-label="Create Schema" ui-sref="admin.schemas.create">
                Create New Schema
            </button>
            <button ngf-select="vm.processImport($files)"
                    ng-model="vm.schemaJsonFiles"
                    ngf-accept="'.json'"
                    ngf-pattern="'.json'"
                    ngf-multiple="true"
                    class="btn btn-small"
                    aria-label="Import Schemas">
                <i class="icon-file-upload"></i> Import Schemas...
            </button>
        </div>
    </md-toolbar>

    <md-content layout-padding class="admin-content-block">
        <table class="mh-table">
            <tr class="" ng-repeat="schema in vm.schemas | filter: vm.filterFn track by schema.uuid">
                <td>
                    <a ui-sref="admin.schemas.detail({ uuid: schema.uuid })"><strong>{{:: schema.name}}</strong></a>
                <td>
            </tr>
        </table>
    </md-content>
</div>