<div class="editor-control">
    <div class="binary-label">
        {{ vm.fieldModel.label || vm.fieldModel.name }}
           <span ng-if="!vm.fileToUpload" class="download">
               <a ng-href="{{ vm.getBinaryFileUrl() }}"><i class="icon-file-download"></i> download</a>
           </span>
    </div>

    <binary-file-input src-field="vm.fieldModel.value"
                       src-url="vm.getBinaryFileUrl()"
                       model="vm.fileToUpload"
                       on-change="vm.fieldModel.update(vm.fileToUpload)"></binary-file-input>
</div>