<div class="list-container editor-control">

    <script type="text/ng-template" id="control-proxy-recursion-safe.html">
        <control-proxy field-model="item"></control-proxy>
    </script>

    <label>{{:: vm.fieldModel.label || vm.fieldModel.name }}</label>
    <div>
        <ul class="mh-sortable-list list-control"
            dnd-list="vm.fieldModel.value"
            dnd-drop="vm.endDrag(item, index, vm.fieldModel.value)"
            dnd-allowed-types="[vm.fieldModel.listType]">

            <li flex ng-repeat="item in vm.listFieldModels track by vm.tracker(item, $id, $index)"
                class="mh-list-item"
                dnd-draggable="item"
                dnd-dragstart="vm.startDrag($index)"
                dnd-type="vm.fieldModel.listType">
                <dnd-nodrag layout="row">
                    <div flex ng-include="'control-proxy-recursion-safe.html'"></div>

                    <div>
                        <div class="remove-item list-icon-btn" ng-click="vm.removeItem($index)">
                            <i class="icon-close" title="Remove from list"></i>
                        </div>
                    </div>
                    <div class="sort-handle list-icon-btn" dnd-handle>
                        <div class="">
                            <i class="icon-more-vert" title="Drag to sort"></i>
                        </div>
                    </div>
                </dnd-nodrag>
            </li>
        </ul>

        <div layout="row" class="add-item-row">
            <div ng-if="vm.fieldModel.listType !== 'micronode'">
                <div class="add-item" ng-click="vm.addItem()" ng-hide="vm.fieldModel.value.length >= vm.fieldModel.max" title="Add item to list">
                    <button type="button" class="btn btn-small">
                        <i class="icon-add"></i> <span translate>ADD_ITEM_TO</span> {{:: vm.fieldModel.label || vm.fieldModel.name }}
                    </button>
                </div>
            </div>

            <div ng-if="vm.fieldModel.listType === 'micronode'">
                <mh-dropdown>
                    <mh-dropdown-label>
                        <div class="add-item"  ng-hide="vm.fieldModel.value.length >= vm.fieldModel.max" aria-label="Add Item">
                            <button type="button" class="btn btn-small">
                                <i class="icon-add"></i> <span translate>ADD_ITEM_TO</span> {{:: vm.fieldModel.label || vm.fieldModel.name }} <i class="icon-arrow-drop-down"></i>
                            </button>
                        </div>
                    </mh-dropdown-label>
                    <mh-dropdown-body>
                        <ul class="create-options">
                            <li ng-repeat="microschema in vm.fieldModel.allow"  ng-click="vm.addControl(microschema)"><a class="a-plain">{{:: microschema }}</a></li>
                        </ul>
                    </mh-dropdown-body>
                </mh-dropdown>
            </div>
        </div>

    </div>
</div>