<div class="editor-control node-container">
    <label>{{ vm.fieldModel.label || vm.fieldModel.name }}</label>

    <div class="node-content">
        <div class="node-ref-thumb" ng-if="vm.hasBinaryField()">
            <node-thumbnail node="vm.fieldModel.value"></node-thumbnail>
        </div>

        <span ng-show="vm.fieldModel.value.uuid"><i class="icon-link"></i></span>
        <span>{{ vm.getNodeName() }}</span> |
        <span class="select-link"><a href="" ng-click="vm.showDialog($event)"><span translate>SELECT_NODE</span>...</a></span>
    </div>
</div>