@import "variables";

.list-controls {
    display: flex;
    align-items: center;
}

.with-selected {
    overflow: hidden;
    display: flex;
    transition: visibility 0s, max-width 0.2s, opacity 0.2s, margin 0.2s;
    max-width: 100px;
    margin: 0 10px;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        max-width: 0;
        margin: 0;
        transition: visibility 0s 0.2s, max-width 0.2s, opacity 0.2s, margin 0.2s;
    }

    > * {
        margin-right: 5px;
    }
}

.filter {
    flex: 1;
    margin-right: 10px;
}

.group-filter {
    margin-right: 10px;
}

.user-row {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 15px;
}

.user-name {
    color: $gtx-color-dark-gray;
    @media screen and (min-width: $medium-screen-up){
        min-width: 150px;
    }
}

.group-wrapper {
    margin-left: 15px;
}

.row-actions {
    flex: 1;
    text-align: right;
}

gtx-dropdown-item {
    display: flex;
    align-items: center;

    &.alert {
        color: $gtx-color-alert;
    }

    &.disabled {
        color: $gtx-color-mid-gray;
        cursor: not-allowed;
    }
}
