<mesh-admin-list [items]="users$ | async"
                 [itemsPerPage]="25"
                 [currentPage]="currentPage$ | async"
                 (pageChange)="onPageChange($event)">
    <div class="list-controls">
        <div class="filter">
            <gtx-input [label]="'admin.filter_by_name' | i18n"
                       [formControl]="filterInput"></gtx-input>
        </div>
        <div class="group-filter">
            <gtx-select [label]="'admin.filter_by_group' | i18n" [formControl]="filterGroups">
                <gtx-option value="">{{ 'admin.all_groups' | i18n }}</gtx-option>
                <gtx-option *ngFor="let group of allGroups$ | async" [value]="group?.uuid">{{ group?.name }}</gtx-option>
            </gtx-select>
        </div>
        <gtx-button size="regular" [routerLink]="['/admin/users/new']">{{ 'admin.new_user' | i18n }}</gtx-button>
    </div>

    <ng-template let-user="item">
        <div class="user-row">
            <a [routerLink]="['/admin/users', user.uuid]">
                <div class="name" *ngIf="user.firstname || user.lastname">{{ user.firstname }} {{ user.lastname }}</div>
                <div class="user-name">{{ user.username }}</div>
            </a>
            <ng-container *ngFor="let group of user.groups">
                <mesh-chip>
                    {{ group.name }}
                </mesh-chip>
            </ng-container>

            <div class="row-actions">
                <gtx-dropdown-list>
                    <gtx-dropdown-trigger>
                        <gtx-button icon type="secondary"><icon>more_vert</icon></gtx-button>
                    </gtx-dropdown-trigger>
                    <gtx-dropdown-content>
                        <gtx-dropdown-item class="alert" (click)="deleteUser(user)">
                            <icon>delete</icon> {{ 'admin.delete_user' | i18n }}
                        </gtx-dropdown-item>
                    </gtx-dropdown-content>
                </gtx-dropdown-list>
            </div>
        </div>
    </ng-template>

</mesh-admin-list>
