@import "variables";

.list-controls {
    display: flex;
    align-items: center;
}

.filter {
    flex: 1;
    margin-right: 10px;
}

.group-filter {
    margin-right: 10px;
}

.user-row {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 15px;
}

.user-name {
    color: $gtx-color-dark-gray;
}

mesh-chip {
    margin-left: 15px;
}
