<div class="node-permissions-selector-container">

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <h2 class="md-title" flex >
                Node Permissions
                <i class="icon-expand-more" ng-show="vm.collapsed" ng-click="vm.collapsed = false"></i>
                <i class="icon-expand-less" ng-show="!vm.collapsed" ng-click="vm.collapsed = true"></i>
            </h2>
            <md-input-container flex>
                <label>Filter</label>
                <input ng-model="vm.filter">
            </md-input-container>
            <div>
                <md-checkbox md-no-ink aria-label="Create">
                    Create
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Read">
                    Read
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Update">
                    Update
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Delete">
                    Delete
                </md-checkbox>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding class="admin-content-block" ng-class="{ 'collapsed': vm.collapsed }">

        <div class="breadcrumbs">
            <ul>
                <li ng-repeat="label in vm.breadcrumbs" ng-if="label.name">
                  <span>
                       <a href="#" ng-click="vm.openNode($event, label)">{{ label.name }}</a>
                  </span>
                </li>
            </ul>
        </div>

        <table class="mh-table permissions-table">
            <tr ng-class="{'folder': item.children || item.rootNodeUuid }" ng-repeat="item in vm.items | filter: vm.filterNodes track by item.uuid">
                <td>
                    <span ng-if="!item.children && !item.rootNodeUuid">{{:: item.name || item.fields[item.displayField] }}</span>
                    <a href="#" ng-click="vm.openNode($event, item)" ng-if="item.children || item.rootNodeUuid">{{:: item.name || item.fields[item.segmentField] }}</a>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: item.children || item.rootNodeUuid"
                                               model="item['create']"
                                               label="Create"
                                               on-recursive-click="">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(item.children || item.rootNodeUuid)"
                                 md-no-ink aria-label="Create"
                                 ng-model="item['create']">
                        Create
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: item.children || item.rootNodeUuid"
                                               model="item['read']"
                                               label="Read"
                                               on-recursive-click="">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(item.children || item.rootNodeUuid)"
                                 md-no-ink aria-label="Read"
                                 ng-model="item['read']">
                        Read
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: item.children || item.rootNodeUuid"
                                               model="item['update']"
                                               label="Update"
                                               on-recursive-click="">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(item.children || item.rootNodeUuid)"
                                 md-no-ink aria-label="Update"
                                 ng-model="item['update']">
                        Update
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: item.children || item.rootNodeUuid"
                                               model="item['delete']"
                                               label="Delete"
                                               on-recursive-click="">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(item.children || item.rootNodeUuid)"
                                 md-no-ink aria-label="Delete"
                                 ng-model="item['delete']">
                        Delete
                    </md-checkbox>
                </td>
            </tr>
        </table>
    </md-content>
</div>