.node-permissions-selector-container {
  font-size: @font-size-standard;
  min-height: 300px;
  .breadcrumbs {
    li span {
      font-size: @font-size-standard;
    }
    li:after {
      font-size: @font-size-standard;
    }
    padding-bottom: 1rem;
    ul {
      margin-top: 1rem;
    }
  }

  td:first-child {
    padding-left: 16px;
  }
  .root-row td:first-child {
    padding-left: 6px;
  }
}