<div class="node-permissions-selector-container">

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <h2 class="md-title" flex >
                Node Permissions
                <i class="icon-expand-more" ng-show="vm.collapsed" ng-click="vm.collapsed = false"></i>
                <i class="icon-expand-less" ng-show="!vm.collapsed" ng-click="vm.collapsed = true"></i>
            </h2>
            <md-input-container flex>
                <label>Filter</label>
                <input ng-model="vm.filter">
            </md-input-container>
            <div flex></div>
           <!-- <div>
                <md-checkbox md-no-ink aria-label="Create">
                    Create
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Read">
                    Read
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Update">
                    Update
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Delete">
                    Delete
                </md-checkbox>
            </div>-->
        </div>
    </md-toolbar>
    <md-content layout-padding class="admin-content-block" ng-class="{ 'collapsed': vm.collapsed }">

        <div class="breadcrumbs">
            <ul>
                <li ng-repeat="node in vm.breadcrumbs" ng-if="node">
                  <span>
                       <a href="#" ng-click="vm.openNode($event, node)">{{ node.name || node.fields[node.displayField] }}</a>
                  </span>
                </li>
            </ul>
        </div>

        <table class="mh-table permissions-table">
            <tr ng-class="{'folder': node.container || node.rootNodeUuid }" ng-repeat="node in vm.nodes | filter: vm.filterNodes track by node.uuid">
                <td>
                    <span ng-if="!node.container && !node.rootNodeUuid">
                        {{:: node.name || node.fields[node.displayField] }}
                    </span>
                    <a href="#" ng-click="vm.openNode($event, node)" ng-if="node.container || node.rootNodeUuid">
                        {{:: node.name || node.fields[node.displayField] }}</a>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: node.container || node.rootNodeUuid"
                                               model="vm.nodePermissions[node.uuid]['create']"
                                               label="Create"
                                               ng-disabled="vm.isReadonly"
                                               on-change="vm.toggle(node, false)"
                                               on-recursive-click="vm.toggle(node, true)">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(node.container || node.rootNodeUuid)"
                                 md-no-ink aria-label="Create"
                                 ng-disabled="vm.isReadonly"
                                 ng-change="vm.toggle(node, false)"
                                 ng-model="vm.nodePermissions[node.uuid]['create']">
                        Create
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: node.container || node.rootNodeUuid"
                                               model="vm.nodePermissions[node.uuid]['read']"
                                               label="Read"
                                               ng-disabled="vm.isReadonly"
                                               on-change="vm.toggle(node, false)"
                                               on-recursive-click="vm.toggle(node, true)">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(node.container || node.rootNodeUuid)"
                                 md-no-ink aria-label="Read"
                                 ng-disabled="vm.isReadonly"
                                 ng-change="vm.toggle(node, false)"
                                 ng-model="vm.nodePermissions[node.uuid]['read']">
                        Read
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: node.container || node.rootNodeUuid"
                                               model="vm.nodePermissions[node.uuid]['update']"
                                               label="Update"
                                               ng-disabled="vm.isReadonly"
                                               on-change="vm.toggle(node, false)"
                                               on-recursive-click="vm.toggle(node, true)">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(node.container || node.rootNodeUuid)"
                                 md-no-ink aria-label="Update"
                                 ng-disabled="vm.isReadonly"
                                 ng-change="vm.toggle(node, false)"
                                 ng-model="vm.nodePermissions[node.uuid]['update']">
                        Update
                    </md-checkbox>
                </td>
                <td>
                    <recursive-toggle-checkbox ng-if=":: node.container || node.rootNodeUuid"
                                               model="vm.nodePermissions[node.uuid]['delete']"
                                               label="Delete"
                                               ng-disabled="vm.isReadonly"
                                               on-change="vm.toggle(node, false)"
                                               on-recursive-click="vm.toggle(node, true)">
                    </recursive-toggle-checkbox>
                    <md-checkbox ng-if=":: !(node.container || node.rootNodeUuid)"
                                 md-no-ink aria-label="Delete"
                                 ng-disabled="vm.isReadonly"
                                 ng-change="vm.toggle(node, false)"
                                 ng-model="vm.nodePermissions[node.uuid]['delete']">
                        Delete
                    </md-checkbox>
                </td>
            </tr>
        </table>
    </md-content>
</div>