<gtx-contents-list-item class="node-list-item"
                        [class.container-node]="node.container">
    <icon class="node-icon"
          *ngIf="node.container">folder</icon>
    <icon class="node-icon"
          *ngIf="!node.container">insert_drive_file</icon>
    <div class="item-primary">
        <div class="title">
            <a href
               [routerLink]="routerLink"
               [queryParamsHandling]="node.container ? '' : 'preserve'"
               (click)="focusEditor()"
               [innerHTML]="displayedName() | highlight:(filterTerm$ | async)"></a>
            <mesh-node-status [node]="node"
                              [current]="currentLanguage$ | async">>
            </mesh-node-status>
        </div>
        <div class="available-languages">
            <mesh-available-languages-list [node]="node"
                                           (nodeLanguage)="editNodeTranslation( $event )"
                                           [current]="currentLanguage$ | async">
            </mesh-available-languages-list>
        </div>
        <div class="added-tags">
            <mesh-tag *ngFor="let tag of node.tags;"
                      [tag]="tag"
                      [removable]="false"
                      (removeClick)="onTagDeleted(tag)">
            </mesh-tag>
        </div>
    </div>
    <div class="show-on-hover last-cell">
        <gtx-dropdown-list align="right">
            <gtx-dropdown-trigger>
                <gtx-button icon
                            type="secondary">
                    <icon>more_vert</icon>
                </gtx-button>
            </gtx-dropdown-trigger>
            <gtx-dropdown-content>
                <gtx-dropdown-item (click)="editNode()">
                    <icon left>edit</icon> {{ 'list.edit' | i18n }}
                </gtx-dropdown-item>
                <gtx-dropdown-item (click)="copyNode()">
                    <icon left>content_copy</icon> {{ 'list.copy' | i18n }}
                </gtx-dropdown-item>
                <gtx-dropdown-item (click)="moveNode()">
                    <icon left>subdirectory_arrow_right</icon> {{ 'list.move' | i18n }}
                </gtx-dropdown-item>
                <gtx-dropdown-item (click)="deleteNode()"
                                   class="dangerous item-delete">
                    <icon left>delete</icon> {{ 'list.delete' | i18n }}
                </gtx-dropdown-item>
                <mesh-publish-options [node]="node"></mesh-publish-options>
            </gtx-dropdown-content>
        </gtx-dropdown-list>
    </div>
</gtx-contents-list-item>
