@import "variables";
@include filter-selection;

.node-icon {
    color: $gtx-color-very-dark-gray;
}

.dangerous {
    color: $gtx-color-alert;
}

.last-cell {
    flex-shrink: 0;
    white-space: nowrap;
}

:host ::ng-deep mesh-chip {
    font-size: 12px;
    line-height: 18px;
    padding: 0 10px;
}