@import 'variables';

.group-header {
    text-transform: uppercase;
}

icon {
    color: $gtx-color-very-dark-gray;
}

.detail-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

gtx-contents-list-item {
    &.not-in-current-lang {
        .node-icon {
            color: $gtx-color-light-gray;
        }
        .item-primary {
            a:link, a:visited {
                color: $gtx-color-dark-gray;
            }
        }
    }
}
