<search-bar></search-bar>
<gtx-contents-list-item>
     <div class="item-primary">
         Node 1
     </div>
    <div class="show-on-hover">
        <icon>edit</icon>
    </div>
 </gtx-contents-list-item>
<gtx-contents-list-item>
     <div class="item-primary">
         Node 2
     </div>
    <div class="show-on-hover">
        <icon>edit</icon>
    </div>
 </gtx-contents-list-item>
<gtx-contents-list-item>
     <div class="item-primary">
         Node 3
     </div>
    <div class="show-on-hover">
        <icon>edit</icon>
    </div>
 </gtx-contents-list-item>
