@import 'variables';

:host {
    display: block;
}

.container-header {
    display: flex;
    flex-direction: column;
    background-color: $gtx-color-very-light-gray;
    box-shadow: $header-box-shadow;
}

.group-header {
    text-transform: uppercase;
}

icon {
    color: $gtx-color-very-dark-gray;
}

.detail-bar {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.button-upload {
    flex-grow: 1;
    margin-left: 10px;
}

gtx-contents-list-item {
    &.not-in-current-lang {
        .node-icon {
            color: $gtx-color-light-gray;
        }
        .item-primary {
            a:link, a:visited {
                color: $gtx-color-dark-gray;
            }
        }
    }
}

.list-footer {
    padding: 10px;
    background-color: $gtx-color-very-light-gray;
    text-align: center;
}