 <div
    [gtxFileDropArea]="{ disabled: isSaving }"
    (fileDragEnter)="draggingFileOnThis = true"
    (fileDragLeave)="draggingFileOnThis = false"
    (fileDrop)="onDropFiles($event)"
    (pageDragEnter)="draggingFileOnPage = true"
    (pageDragLeave)="draggingFileOnPage = false"
>

    <div class="modal-title">
        <h5>{{ 'editor.pload_files' | i18n }}</h5>
    </div>

    <div class="modal-content">
        <gtx-select label="Schema" (change)="onSchemaChange($event)" [disabled]="isSaving">
            <gtx-option *ngFor="let schema of availableSchemas" [value]="schema">{{schema.name}}</gtx-option>
        </gtx-select>

        <gtx-select label="Field" (change)="onFieldSelected($event)" [disabled]="isSaving">
            <gtx-option *ngFor="let field of schemaFields" [value]="field">{{field.name}}</gtx-option>
        </gtx-select>

        <div class="dropable-area">
            <div class="media-container">
                <div
                    *ngFor="let fileWithBlob of filesWithBlobs"
                    class="media-box"
                >
                    <i *ngIf="!isSaving" class="material-icons button-close" (click)="onFileRemoved(fileWithBlob)">close</i>

                    <div *ngIf="fileWithBlob.progress === 'uploading'" class="overlay-save">
                        <i class="material-icons">sync</i>
                    </div>

                    <div *ngIf="fileWithBlob.progress === 'done'" class="overlay-done">
                            <i class="material-icons">done</i>
                        </div>

                    <div [ngSwitch]="fileWithBlob.mediaType">
                        <div *ngSwitchCase="'image'">
                            <img class="preview" [src]="fileWithBlob.blob" alt="" />
                        </div>
                        <div *ngSwitchCase="'video'">
                            <video class="preview" width="100%" controls>
                                <source [src]="fileWithBlob.blob">
                            </video>
                        </div>

                        <div *ngSwitchCase="'audio'" class="preview audio">
                            <audio controls="controls">
                                <source [src]="fileWithBlob.blob">
                            </audio>
                        </div>

                        <div *ngSwitchDefault>
                            <div class="default-preview preview">
                                <icon class="node-icon">insert_drive_file</icon>
                            </div>
                        </div>
                    </div>
                    <div class="media-properties">{{fileWithBlob.file.fileName}}</div>
                    <!--<binary-file-preview src-file="file" transform="vm.transform"></binary-file-preview>-->
                </div>
            </div>

            <div
                [@overlayVisible]
                *ngIf="draggingFileOnPage === true && isSaving === false"
                class="drop-area-container-overlay">
                {{ 'editor.drop_files_here' | i18n }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <gtx-button
            flat
            type="secondary"
            class="button_cancel"
            (click)="cancelFn(false)"
            [disabled]="isSaving"
        >{{ 'common.cancel_button' | i18n }}</gtx-button>
        <gtx-button
            type="primary"
            class="button_save"
            (click)="save()"
            [disabled]="selectedSchema === null || selectedField === null || isSaving === true"
        ><icon left>save</icon> {{ 'modal.save_and_close_button' | i18n }}</gtx-button>
    </div>
</div>



