@import "variables";

.preview-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.preview-item {
    width: 32%;
    height: 300px;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.file-preview {
    width: 100%;
}
