<div class="path">{{ conflictedField.field.name }}</div>
<div [ngSwitch]="conflictedField.field.type" class="diffs">
    <div *ngSwitchCase="'html'">
        <div class="their-val" [innerHTML]="conflictedField.theirValue"></div>
        <div class="mine-val" [innerHTML]="conflictedField.mineValue"></div>
    </div>

    <div *ngSwitchCase="'date'">
        <div class="their-val">{{ conflictedField.theirValue | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        <div class="mine-val">{{ conflictedField.mineValue | date:'yyyy-MM-dd HH:mm:ss' }}</div>
    </div>

    <div *ngSwitchCase="'binary'">
        <div class="their-val">
            <!--<img class="image-preview" [src]="conflictedField.theirURL" alt="" />-->
            {{ conflictedField.theirValue.name }}
        </div>
        <div class="mine-val">
            <!--<img class="image-preview" [src]="conflictedField.mineURL" alt="" />-->
            {{ conflictedField.mineValue.name }}
        </div>
    </div>

    <div *ngSwitchCase="'micronode'">
            <div class="their-val">
                <!--<img class="image-preview" [src]="conflictedField.theirURL" alt="" />-->
                {{ conflictedField.theirValue.name }}
            </div>
            <div class="mine-val">
                <!--<img class="image-preview" [src]="conflictedField.mineURL" alt="" />-->
                {{ conflictedField.mineValue.name }}
            </div>
        </div>

    <div *ngSwitchDefault>
        <div class="their-val">{{ conflictedField.theirValue }}</div>
        <div class="mine-val">{{ conflictedField.mineValue }}</div>
    </div>
</div>

<div class="action">
    <gtx-checkbox
        [checked]="conflictedField.overwrite"
        (change)="conflictedField.overwrite = $event"
    >
    </gtx-checkbox>
</div>
