.tag {
  height: 26px;
  padding: 3px;
  margin: 2px 3px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

  .tag-name {
    color: rgba(0, 0, 0, 0.65);
  }

  .delete-tag {
    height: 17px;
    padding-left: 4px;
    color: @color-dusty;
    cursor: pointer;
    &:hover {
      color: @color-primary;
    }
  }
}