<div class="breadcrumbs">
    <div class="container">
        <mesh-admin-breadcrumbs></mesh-admin-breadcrumbs>
    </div>
</div>
<div class="container main">
    <ul class="main-menu">
        <li routerLinkActive="active">
            <a routerLink="/admin/projects">
                <icon>folder</icon>
                <span class="label">{{"common.projects" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/users">
                <icon>person</icon>
                <span class="label">{{"common.users" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/groups">
                <icon>people</icon>
                <span class="label">{{"common.groups" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/roles">
                <icon>people_outline</icon>
                <span class="label">{{"common.roles" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/permissions">
                <icon>lock</icon>
                <span class="label">{{"common.permissions" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/schemas">
                <icon>view_quilt</icon>
                <span class="label">{{"common.schemas" | i18n}}</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/microschemas">
                <icon>line_style</icon>
                <span class="label">{{"common.microschemas" | i18n}}</span>
            </a>
        </li>
    </ul>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
