@import "variables";

.breadcrumbs {
    .container {
        background-color: $gtx-color-very-light-gray;
        text-align: center;
        height: 40px;
    }
}

.main-menu {
    position: absolute;
    width: 15%;
    margin: 0;
    li {
        padding: 10px 0 10px 15%;
        display: flex;
        transition: background-color 0.2s;
        &.active {
            background-color: $gtx-color-dark-gray;
            a:link, a:visited {
                color: $gtx-color-very-light-gray;
            }
        }
        a {
            display: inline-flex;
            align-items: center;
            transition: color 0.2s;
            &:link, &:visited {
                color: $gtx-color-dark-gray;
            }
            &:hover {
                color: $gtx-color-primary;
            }
        }
        .label {
            margin-left: 5px;
        }

    }
    @media screen and (max-width: $medium-screen) {
        width: 7%;
        li {
            padding: 10px 0;
            justify-content: center;
            .label {
                display: none;
            }
        }
    }
    @media screen and (max-width: $small-screen) {
        width: 5%;
        li icon {
            font-size: 16px;
        }
    }
}

.content {
    padding: 20px;
}
