<div class="breadcrumbs">
    <div class="container">
        <admin-breadcrumbs></admin-breadcrumbs>
    </div>
</div>
<ul class="main-menu">
    <li routerLinkActive="active"><a routerLink="/admin/projects"><icon>folder</icon><span class="label">Projects</span></a></li>
    <li routerLinkActive="active"><a href="#/admin"><icon>people</icon><span class="label">Users</span></a></li>
    <li routerLinkActive="active"><a href="#/admin"><icon>lock</icon><span class="label">Permissions</span></a></li>
    <li routerLinkActive="active"><a routerLink="/admin/schemas"><icon>view_quilt</icon><span class="label">Schemas</span></a></li>
    <li routerLinkActive="active"><a routerLink="/admin/microschemas"><icon>line_style</icon><span class="label">Microschemas</span></a></li>
    <li routerLinkActive="active"><a href="#/admin"><icon>label</icon><span class="label">Tags</span></a></li>
</ul>
<div class="content container">
    <router-outlet></router-outlet>
</div>
