@import "variables";

.container {
    @media screen and (max-width: $large-screen) {
        width: 100%;
        max-width: 100%;
    }
}

.main {
    display: flex;
}

.main-menu {
    margin: 0;
    li {
        padding: 10px 10px 10px 15px;
        display: flex;
        transition: background-color 0.2s;
        &.active {
            background-color: $gtx-color-dark-gray;
            a:link, a:visited {
                color: $gtx-color-very-light-gray;
            }
        }
        a {
            display: inline-flex;
            align-items: center;
            transition: color 0.2s;
            &:link, &:visited {
                color: $gtx-color-dark-gray;
            }
            &:hover {
                color: $gtx-color-primary;
            }
        }
        .label {
            margin-left: 5px;
        }

    }
    @media screen and (max-width: $medium-screen) {
        width: 7%;
        li {
            padding: 10px 0;
            justify-content: center;
            .label {
                display: none;
            }
        }
    }
    @media screen and (max-width: $small-screen) {
        width: 5%;
        li icon {
            font-size: 16px;
        }
    }
}

.content {
    padding: 20px;
    flex: 1;
}
