<div *ngIf="version">
    Version: {{version}}
</div>

<div class="actions"
     *meshProjectTo="BREADCRUMBS_BAR_PORTAL_ID">
    <gtx-button type="primary"
                size="small"
                class="save-button"
                [disabled]="!isValid"
                (click)="save()">
        <ng-container *ngIf="!(isNew$ | async)">{{ 'admin.schema_editor_buttonlabel_save' | i18n }}</ng-container>
        <ng-container *ngIf="isNew$ | async">{{ 'admin.schema_editor_buttonlabel_create' | i18n }}</ng-container>
    </gtx-button>

    <gtx-button *ngIf="!(isNew$ | async)"
                type="primary"
                size="small"
                class="save-button"
                [disabled]="!isValid"
                (click)="delete()">
        {{ 'admin.schema_editor_buttonlabel_delete' | i18n }}
    </gtx-button>
</div>

<gtx-tabs>
    <gtx-tab title="Editor">
        <mesh-schema-editor [schemaJson]="schemaJson$ | async"
                            (schemaJsonChange)="schemaJson = $event"
                            [schema]="schema$ | async"
                            [isNew]="isNew$ | async"
                            (isValid)="isValid = $event">
        </mesh-schema-editor>
    </gtx-tab>

    <gtx-tab title="JSON">
        <mesh-monaco-editor [ngModel]="schemaJson$ | async"
                            (ngModelChange)="schemaJson = $event"
                            language="json"
                            [jsonSchema]="schema$ | async"
                            (errors)="onErrorChange($event)"></mesh-monaco-editor>

        <gtx-button [disabled]="errors.length > 0"
                    style="margin-top: 15px;"
                    (click)="save()">{{ 'common.save' | i18n }}</gtx-button>
    </gtx-tab>

    <gtx-tab title="Projects">
        <mesh-admin-list [items]="projects$ | async"
                         [autoHidePagination]="true"
                         [selectable]="false">

            <div class="list-controls">
                <div class="filter">
                    <gtx-input [label]="'admin.filter_by_name' | i18n"
                               [formControl]="filterInput">
                    </gtx-input>
                </div>
            </div>

            <ng-template let-project="item">
                <gtx-checkbox *ngIf="projectAssignments"
                              [label]="project.name"
                              [checked]="projectAssignments[project.uuid]"
                              (change)="onAssignmentChange(project, $event)">
                </gtx-checkbox>
            </ng-template>
        </mesh-admin-list>
    </gtx-tab>

</gtx-tabs>
