<div *ngIf="version$">
    Version: {{version$ | async}}
</div>

<mesh-monaco-editor [(ngModel)]="schemaJson"
                    language="json"
                    [jsonSchema]="schema"
                    (errors)="onErrorChange($event)"></mesh-monaco-editor>

<mesh-schema-assignment *ngIf="!isNew"
                        type="schema"
                        [uuid]="uuid$ | async"></mesh-schema-assignment>

<gtx-button [disabled]="errors.length > 0"
            (click)="save()">{{ 'common.save' | i18n }}</gtx-button>
<gtx-button type="alert"
            *ngIf="!isNew"
            (click)="delete()">{{ 'common.delete_button' | i18n }}</gtx-button>
