@import 'variables';

:host gtx-tabs {
    overflow: hidden;
    position: relative;
    height: 80vh;

    .tab-links {
        position: relative;
        background-color: $gtx-color-off-white;
    }

    ::ng-deep gtx-tab .tab-content {
        position: absolute;

        overflow: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 5vh;
    }
}
