<div class="search-row">
    <!--<gtx-progress-bar></gtx-progress-bar>-->
    <gtx-search-bar [(ngModel)]="inputValue"
                    [placeholder]="'common.search_placeholder' | i18n"
                    (ngModelChange)="filterTermChanged()"
                    (search)="searchTermChanged()"
                    (clear)="clearFilter()">

        <mesh-chip *ngIf="searchQuery"
                   class="search-term"
                   (removeClick)="clearSearch()">
            {{ 'common.searching' | i18n:{ term: this.searchQuery } }}
        </mesh-chip>

        <mesh-tag *ngFor="let tag of searchTags"
                  [tag]="tag"
                  (removeClick)="onTagDeleted(tag)"></mesh-tag>

    </gtx-search-bar>

    <mesh-tag-selector [tags]="filteredTags"
                       [filterTerm]="inputValue.substr(1)"
                       [active]="displayTagSelection"
                       (close)="displayTagSelection = false"
                       (selectTag)="onSearchTagSelected($event)"></mesh-tag-selector>
</div>
