@import "variables";
@import "search-bar-styles";

:host::shadow {
    @include search-bar-styles;
}

.search-row {
    display: flex;

    ::ng-deep mesh-container-language-switcher {
        display: flex;

        ::ng-deep gtx-dropdown-list {
            display: flex;

            & div {
                display: flex;
            }

            ::ng-deep gtx-dropdown-trigger {
                display: flex;
    
                & .trigger {
                    display: flex;

                    icon {
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}

.search-bar-container {
    display: flex;
}

gtx-dropdown-list {
    display: block
}

gtx-dropdown-trigger {
    display: block;
}

gtx-search-bar {
    flex-grow: 1;
    z-index: 1;
    margin: 3px;
    box-shadow: none;
    background-color: $gtx-color-off-white;

    &.focused {
        background-color: white;
    }

    ::ng-deep .submit-button .btn {
        padding: 0 0.5rem;
    }
}
