@import "variables";
@import "search-bar-styles";

:host::shadow {
    @include search-bar-styles;
}

.search-row {
    display: flex;
    transition:
        background-color 0.1s ease-in-out,
        padding 0.1s ease-in-out;

    ::ng-deep mesh-node-status-filter-selector {
        display: flex;

        ::ng-deep gtx-dropdown-list {
            display: flex;

            & div {
                display: flex;
            }

            ::ng-deep gtx-dropdown-trigger {
                display: flex;

                & .trigger {
                    display: flex;
                    align-items: center;

                    icon {
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .language-container {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid $gtx-color-light-gray;
    }

    ::ng-deep mesh-container-language-switcher {
        display: flex;

        ::ng-deep gtx-dropdown-list {
            display: flex;

            & div {
                display: flex;
            }

            ::ng-deep gtx-dropdown-trigger {
                display: flex;

                & .trigger {
                    display: flex;
                    align-items: center;

                    icon {
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    &.search-row--active {
        background-color: lighten($gtx-color-warning, 42%);
        padding: 0.5rem 0;
    }
}

.search-bar-container {
    display: flex;
}

gtx-dropdown-list {
    display: block
}

gtx-dropdown-trigger {
    display: block;
}

gtx-search-bar {
    flex-grow: 1;
    // z-index: 1;
    margin: 3px;
    box-shadow: none;
    background-color: $gtx-color-off-white;

    &.focused {
        background-color: white;
    }

    ::ng-deep .submit-button .btn {
        padding: 0 0.5rem;
    }
}
