/*@import "variables";
@import "../../form-generator/common-styles";

:host {
    @include input-styles;

    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 5px;

    position: relative;
}

.search-row {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

gtx-progress-bar {
    z-index: 3;
}

.search-input {
    flex-grow: 1;
}

.search-row ::ng-deep input[type=text] {
    margin: 0 !important;
    border: 1px solid $gtx-color-primary !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 2.5rem !important;
}

:host ::ng-deep .btn {
    background-color: $gtx-color-primary;
    height: 100%;
    border-radius: 0;
    box-shadow: none !important; //no hover shadow as well
    height: 2.5rem !important;
    &:hover {
        background-color: darken($gtx-color-primary, 10);
    }
}

.button-open-filters {
    padding-left: 15px;
    padding-right: 15px;
    line-height: inherit;
    border: 1px solid $gtx-color-primary !important;
    border-left: none !important;
    border-right: none !important;
    height: 2.5rem !important;
    cursor: pointer;
}

.button-open-filters icon {
    transform: rotate(90deg);
    position: relative;
    top: 8px;
    color: $gtx-color-dark-gray;
    font-size: 14px;
}

.filter-form {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 2.5rem;
    width: 100%;
    border-left: none !important;
    border-right: none !important;
    background-color: #fff;
    border-bottom: 1px solid $gtx-color-primary;
    padding: 15px 15px 15px;
    text-align: left;

    .filter-form-inner {
        position: relative;
        padding-top: 15px;
    }

    .button-close-filters {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: $gtx-color-dark-gray;
        font-size: 14px;
    }
}
*/



@import "variables";
@import "search-bar-styles";


:host::shadow {
    @include search-bar-styles;
}

.search-bar-container {
    display: flex;
}

gtx-search-bar:hover + advanced-search-help, advanced-search-help:hover {
    opacity: 1;
}

gtx-search-bar {
    flex-grow: 1;
    z-index: 1;
}

advanced-search-help {
    padding: 3px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    background-color: $gtx-color-very-light-gray;
    z-index: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
