<div class="search-row">
  <gtx-progress-bar [active]="searching"></gtx-progress-bar>
    <gtx-search-bar [(ngModel)]="inputValue"
                    [placeholder]="'common.search_placeholder' | i18n"
                    (ngModelChange)="filterTermChanged()"
                    (search)="searchTermChanged()"
                    (clear)="clearFilter()">

        <mesh-chip *ngIf="searchQuery"
                   class="search-term"
                   (removeClick)="clearSearch()">
            {{ 'common.searching' | i18n:{ term: this.searchQuery } }}
        </mesh-chip>

        <mesh-tag *ngFor="let tag of searchTags"
                  [tag]="tag"
                  (removeClick)="onTagDeleted(tag)"></mesh-tag>

    </gtx-search-bar>


    <gtx-dropdown-list belowTrigger="true" width="expand">
        <gtx-dropdown-trigger>
            <div class="dropdown-trigger"></div>
        </gtx-dropdown-trigger>
        <gtx-dropdown-content>
            <gtx-dropdown-item *ngFor="let tag of filteredTags" (click)="onSearchTagSelected(tag)">
                <span class="tag-family">{{tag.tagFamily.name}}</span>
                <span class="tag-name" [meshBackgroundFrom]="tag.tagFamily.name">
                    <span [innerHTML]="tag.name | highlight:inputValue.substr(1)"></span>
                </span>
            </gtx-dropdown-item>
        </gtx-dropdown-content>
  </gtx-dropdown-list>
</div>
