<form name="contentEditorForm">
    <div ng-repeat="field in vm.fields">
        <div ng-switch="field.type">
            <md-input-container ng-switch-when="html">
                <label>{{ field.label || field.name }}</label>
                <textarea ng-model="vm.model[field.name]" ng-change="vm.modified = true" ng-readonly="!vm.canUpdate()"></textarea>
            </md-input-container>
            <md-input-container ng-switch-default>
                <label>{{ field.label || field.name }}</label>
                <input type="text" ng-model="vm.model[field.name]" ng-change="vm.modified = true" ng-readonly="!vm.canUpdate()">
            </md-input-container>
        </div>
    </div>
</form>