.tag-permissions-selector-container {
  min-height: 300px;

  .root-row {
    padding: 0 10px;
    background-color: @color-almost-white;
    border-bottom: 1px solid @color-alto;

    md-checkbox {
      opacity: 0.4;
      &.md-checked {
        opacity: 1;
      }
    }
  }

  .project {
    td:first-child {
      padding-left: 10px;
      font-weight: bold;
    }
  }
  .tag-family {
    td:first-child {
      cursor: pointer;
      padding-left: 26px;
    }
    td {
      border-bottom: 1px solid @color-alto;
    }
  }

  .tag {
    tr {
      transition: opacity 0.3s;
    }
    td:first-child{
      padding-left: 32px;
    }
  }
}