.tag-permissions-selector-container {
  min-height: 300px;
  .root-row {
    background-color: @color-almost-white;
    td:first-child {
      padding-left: 6px;
      font-weight: bold;
    }
  }
  .tag-family {
    td:first-child {
      cursor: pointer;
      padding-left: 16px;
    }
    td {
      border-bottom: 1px solid @color-alto;
    }
  }

  .tag {
    tr {
      transition: opacity 0.3s;
    }
    td:first-child{
      padding-left: 24px;
    }
  }
}