@import "variables";

:host {
    display: flex;
    align-items: center;
    font-size: $gtx-font-size-small;
    background-color: transparentize($gtx-color-off-black, 0.5);
    text-transform: uppercase;
    padding: 1px 4px;
    border-radius: 3px;
    icon {
        color: $gtx-color-dark-gray;
    }
}
