@import "variables";

:host {
    display: flex;
    align-items: center;
    color: $gtx-color-very-dark-gray;
    font-size: $gtx-font-size-small;
    background-color: transparentize($gtx-color-light-gray, 0.6);
    border: 1px solid transparentize($gtx-color-mid-gray, 0.5);
    text-transform: uppercase;
    padding: 1px 4px;
    border-radius: 3px;
    icon {
        color: $gtx-color-dark-gray;
    }
}
