// debug class
.model-json {
  padding-left: 20px;
  font-size: 1.6rem;
  overflow: auto;
  opacity: 0.3;
  transition: opacity 1.5s;
  &:hover {
    opacity: 1;
  }
  max-height: 100vh;
  overflow-y: scroll;
}

.widget-container {
  margin-bottom: 26px;
  md-input-container {
    padding-bottom: 0 !important;
  }
}

.editor-widget {
  position: relative;

  &.display-field {
    font-size: @font-size-title-1;
    input {
      height: inherit;
    }
    label {
      transform: translate3d(0, 43px, 0) scale(1);
    }

    &.md-input-focused label:not(.md-no-float),
    &.md-input-has-value label {
      transform: translate3d(0, 29px, 0) scale(0.35) !important;
    }
  }
}

.html-container {
  padding: 2px 2px 0 2px;

  label {
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;

    &.focused {
      color: @color-primary;
    }
  }

  .htmlField {
    border-bottom: 1px solid @color-alto;
    padding: 0 2px 1px 2px;
    min-height: 100px;

    &.aloha-editable-active {
      border-bottom: 2px solid @color-primary;
      padding-bottom: 0;
    }
  }
}

.boolean-container {
  color: @color-form-label;
  :focus {
    color: @color-primary;
  }
}

.select-container {
  margin-right: 20px;
  md-select {
    margin-top: 18px;
  }
  .md-select-label {
    padding-bottom: 14px;
  }
  md-select:not([disabled]):focus .md-select-label {
    padding-bottom: 13px;
  }
  .label {
    position: absolute;
    top: 4px;
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;

    &.focused {
      color: @color-primary;
    }
  }
  md-select:focus + .label {
    color: @color-primary;
  }
}

.node-container {
  padding-bottom: 26px;

  label {
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;
    display: block;
    margin-top: 4px;
  }
  .select-link {
    margin-top: 9px;
  }
}

.list-container {

  min-height: 100px;

  & > label {
    color: @color-form-label;
  }

  &:hover > label {
    color: @color-primary;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li.list-item {
    padding: 2px;
    margin: 2px 0;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
  }

  .dndDraggingSource {
    opacity: 0.4;
    outline: 1px dashed @color-boulder;
  }

  .dndPlaceholder {
    display: block;
    background-color: @color-primary;
    outline: 1px solid @color-primary;
  }

  .list-icon-btn {
    color: @color-dusty;
    font-size: @font-size-title-2;
    cursor: pointer;
    transition: color 0.3s;
  }

  &:hover {
    .list-icon-btn {
      color: @color-subdued;
    }
  }

  .remove-item {
    margin-right: 10px;
    &:hover {
      color: @color-warn;
    }
  }

  .add-item {
    &:hover {
      color: @color-primary;
    }
  }

  .sort-handle {
    color: @color-alto;
    text-shadow: 1px 1px 0 rgba(150, 150, 150, 0.5);
    cursor: move;
    touch-action: none;
  }
  &:hover {
    .sort-handle {
      color: @color-alto;
      &:hover {
        text-shadow: 1px 1px 0 rgba(150, 150, 150, 1);
        color: @color-alto;
      }
    }
  }

  // Widgets that are contained in a list should have certain
  // styling modified:

  // widgets inside lists should always be the same width
  .editor-widget {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }

  // labels should be removed, since the overall label is displayed
  // at the top of the list
  .editor-widget label {
    display: none;
  }


  .microschema-container label:not(.microschema-label) {
    display: block;
  }
}

.datetime-picker {
  .time-picker {
    display: block;
    position: relative;
    margin-top: 26px;
    height: 27px;
    border-bottom: 1px solid @color-alto;

    &.focus {
      border-bottom: 2px solid @color-primary;
      .time-input-tooltip {
        display: block;
      }
    }

    input {
      width: 28px;
      border: none;
      background-color: transparent;
      text-align: center;
      margin-right: 4px;
      //color: @color;

      &:focus {
        outline: none;
        border-bottom: 1px solid @color-boulder;
      }
    }

    .time-input-tooltip {
      background-color: white;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px;
      border: 1px solid @color-almost-white;
      display: none;
    }
  }
}

.microschema-container {
  & > label {
    color: @color-form-label;
  }
}

.widget-highlighter {
  .responsive-max(@mq-sm, {
  display: none;
  });
  background-color: @color-alto;
  width: 3px;
  position: absolute;
  transition: top 0.1s, height 0.1s, opacity 0.3s;
}