.editor-widget {
  &.display-field input {
    font-size: @font-size-title-1;
  }
  input {
   // background-color: @color-almost-white;
   /* border-left: 1px solid @color-boulder;
    border-right: 1px solid @color-boulder;
    border-top: 1px solid @color-boulder;*/
  }
}

.microschema-container {
  border: 1px solid @color-boulder;
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.html-container {
  padding: 2px 2px 26px 2px;

  label {
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;

    &.focused {
      color: @color-primary;
    }
  }

  .htmlField {
    border-bottom: 1px solid @color-alto;
    padding: 0 2px 1px 2px;
    min-height: 100px;

    &[data-medium-focused="true"] {
      border-bottom: 2px solid @color-primary;
      padding-bottom: 0;
    }
  }
}

.boolean-container {
  color: @color-form-label;
  :focus {
    color: @color-primary;
  }
}

.select-container {
  margin-right: 20px;
  md-select {
    margin-top: 18px;
  }
  .md-select-label {
    padding-bottom: 14px;
  }
  md-select:not([disabled]):focus .md-select-label {
    padding-bottom: 13px;
  }
  .label {
    position: absolute;
    top: 4px;
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;

    &.focused {
      color: @color-primary;
    }
  }
  md-select:focus + .label {
    color: @color-primary;
  }
}

.node-container {
  margin-bottom: 26px;

  label {
    font-size: 1.06rem;
    margin-left: 1px;
    color: @color-form-label;
    display: block;
    margin-top: 4px;
  }
  .select-link {
    margin-top: 9px;
  }
}

.node-select-container {
  min-width: 50vw;
  min-height: 300px;
  border: 1px solid @color-boulder;
}

.list-container {
  margin-bottom: 26px;
  & > label {
    color: @color-form-label;
  }

  &:hover > label {
    color: @color-primary;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li.list-item {
    padding: 2px;
    margin: 2px 0;
  }

  .dndDraggingSource {
    opacity: 0.4;
    outline: 1px dashed @color-boulder;
    //background-color: lighten(@color-primary, 40%)
  }

  .dndPlaceholder {
    display: block;
    background-color: @color-primary;
    height: 0;
    outline: 1px solid @color-primary;
  }


  .sort-handle, .remove-item {
    font-size: @font-size-title-2;
    margin-right: 10px;
    color: @color-boulder;
  }

  .remove-item:hover {
    color: @color-warn;
  }

  .sort-handle {
    cursor: move;
  }

  // Widgets that are contained in a list should have certain
  // styling modified:

  // widgets inside lists should always be the same width
  .editor-widget {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }

  // labels should be removed, since the overall label is displayed
  // at the top of the list
  .editor-widget label {
    display: none;
  }
}

.model-json {
  padding-left: 20px;
  font-size: 1.6rem;
  overflow: auto;
}