<div class="node-language-menu">
<mh-dropdown>
    <mh-dropdown-label layout="row" layout-align="center center" class="language-select-label top-menu-label">
        <div class="language-indicator">
            <i class="icon-language"></i>{{ vm.node.language }} <i class="icon-arrow-drop-down"></i>
        </div>
    </mh-dropdown-label>
    <mh-dropdown-body>
        <div class="node-language-menu menu-body">
            <div ng-repeat="lang in vm.getAvailableLanguages(vm.node)"
                    class="available-btn">
                <button class="btn btn-small btn-primary" ng-click="vm.goToTranslation(lang.code)">
                    <span translate translate-values="{ lang: lang.name }">AVAILABLE_IN</span>
                </button>
            </div>
            <div ng-if="vm.showTranslateButton !== 'false' && 0 < vm.unusedLangs.length">
                <div ng-repeat="lang in vm.unusedLangs" class="translate-btn">
                    <button class="btn btn-small" ng-click="vm.translateClick(lang.code)">
                        <span translate translate-values="{ lang: lang.name }">TRANSLATE_TO</span>
                    </button>
                </div>
            </div>
            <div ng-if="!vm.node.created" class="save-notice">
                <span translate>NODE_MUST_BE_SAVED_BEFORE_TRANSLATING</span>
            </div>
        </div>
    </mh-dropdown-body>
</mh-dropdown>
</div>