.node-language-menu {
  .language-indicator {
    text-transform: uppercase;
    color: @color-boulder;
    margin-right: 10px;
    padding-top: 15px;
  }

  &.menu-body {
    padding: 5px;
    text-align: center;
  }

  .translate-btn, .available-btn {
    margin: 5px 0;
  }

  .save-notice {
    font-size: @font-size-smaller;
    color: @color-subdued;
  }
}