@import "variables";
@import "../../common-styles";

:host.mesh-field {
    /*
        position: relative is necessary to provide an anchor-element for the
        absolute positioned checkbox-element from gtx-checkbox. Without this
        there will be issues with overflows of static-positioned parent elements.
        See: https://github.com/gentics/mesh-ui/issues/337
     */
    position: relative;

    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .label {
        @include label-style-full;
        margin-top: 0;
    }
    gtx-checkbox {
        width: $half-width-right;
    }

    &.compact {
        justify-content: flex-start;
        padding-top: 0;
        margin-bottom: 3px;

        .label {
            margin-top: 2px;
            margin-right: 10px;
            font-size: $gtx-font-size-small;
        }
        gtx-checkbox {
            width: $full-width-right;
        }
    }
}
