@import "variables";

$full-width: 96%;
$half-width: 60%;
$full-width-right: 81.3%;
$half-width-right: 70%;


$left-bar-width: 6px;

@mixin label-style-full {
    position: relative;
    font-size: $gtx-font-size-regular;
    margin-top: 26px;
    cursor: pointer;
    color: $gtx-color-dark-gray;
    transition: margin 0.2s;
}

@mixin label-style-compact {
    position: relative;
    font-size: $gtx-font-size-small;
    margin-bottom: -20px;
    margin-top: 0;
    cursor: pointer;
    color: $gtx-color-dark-gray;
}

@mixin input-styles {
        display: flex;
        justify-content: space-between;

    /deep/ gtx-input, /deep/ gtx-date-time-picker {
        width: $half-width-right;
        input[type="number"]
        input[type="text"],
        input[type="password"] {
            background-color: white;
            transition: width 0.2s;
        }
    }

    :host-context(mesh-micronode-field),
    :host-context(mesh-list-field),
    &.compact {
        & /deep/ gtx-input {
            flex-direction: column-reverse;

            input[type="number"],
            input[type="text"],
            input[type="password"] {
                width: $full-width;

                mesh-list-field & {
                    width: $full-width;
                }
            }
            label {
                @include label-style-compact;
            }
        }
    }

    &.list-item {
        & /deep/ gtx-input {
            input[type="number"],
            input[type="text"],
            input[type="password"] {
                margin: 0;
            }
            label {
                display: none;
            }
        }
    }
}
