<div class="app-content">
    <h1 class="page-title">Microschemas</h1>

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label translate>FILTER_MICROSCHEMAS</label>
                <input ng-model="vm.microschemaFilter">
            </md-input-container>
            <button class="btn btn-small btn-primary" aria-label="Create Microschema" ui-sref="admin.microschemas.create">
                <span translate>CREATE_NEW_MICROSCHEMA</span>
            </button>

            <schema-import-button type="microschema"
                                  current-schemas="vm.microschemas"
                                  on-import="vm.populateMicroschemas()"></schema-import-button>

            <schema-export-button schemas="vm.microschemas"
                                  selected="vm.selected"
                                  disabled="vm.selectionEmpty()"
                                  on-export="vm.clearSelection()"></schema-export-button>
        </div>
    </md-toolbar>

    <md-content layout-padding class="admin-content-block">
        <table class="mh-table">
            <tr class="" ng-repeat="microschema in vm.microschemas | filter: vm.filterFn track by microschema.uuid">
                <td>
                    <a ui-sref="admin.microschemas.detail({ uuid: microschema.uuid })"><strong>{{:: microschema.name}}</strong></a>
                <td>
                <td>
                    <md-checkbox ng-model="vm.selected[microschema.uuid]"
                                 md-no-ink
                                 aria-label="Select microschema">
                    </md-checkbox>
                </td>
            </tr>
        </table>
    </md-content>
</div>