<div layout="row" class="wip-tabs" ng-class="{ 'empty' : vm.wips.length === 0 }">
    <div ng-repeat="wip in vm.wips"
         class="wip-tab"
         ng-class="{ 'active' : vm.selectedIndex === $index }"
         ng-click="vm.open(wip.item.uuid)"
         aria-label="{{ wip.item.fields[wip.item.displayField] }}"
         title="{{ wip.item.fields[wip.item.displayField] }}">

        <a href="" class="a-plain label" ng-class="{ modified: vm.isModified(wip.item.uuid) }">{{ wip.item.fields[wip.item.displayField] || 'Untitled ' + wip.item.schema.name  }}</a>
        <a href="" ng-click="vm.closeWip($event, $index)" class="a-plain close"><i class="icon-close"></i></a>

    </div>
</div>