@tab-bottom-color: @color-silver;
@tab-border-color: lighten(@tab-bottom-color, 10%);
@tab-bg-color: white;
@status-modified-color: #fb945e;

.wip-tabs {
  height: 25px;
  transition: height 0.2s;
  margin-left: -8px;
  margin-bottom: 2.4em;

  .wip-tab {
    cursor: pointer;
    overflow: hidden;
    padding: 7px 6px 5px 8px;
    border-bottom: none;
    font-size: @font-size-smaller;
    font-family: @title-font;
    text-transform: uppercase;
    color: @color-boulder;
    position: relative;

    &:not(:first-child) {
      border-left: 1px solid @color-silver;
    }

    &:hover {
      .label {
        border-bottom: 2px solid @color-silver;
      }
    }

    .label {
      border-bottom: 2px solid @color-transparent;
    }

    &.active {
      color: @color-mineshaft;
      overflow-x: hidden;

      .label {
        border-bottom: 2px solid @color-primary;
        .responsive-max(@mq-sm, {
          border-bottom-width: 1px;
        });
      }

      .status-indicator {
        background-color: @status-modified-color;
        top: 0;
        bottom: 0;
      }
    }

    .status-indicator {
      display: inline-block;
      position: absolute;
      width: 5px;
      top: -1px;
      left: 0;
      bottom: 1px;
      background-color: lighten(@status-modified-color, 20%);
    }

    .label {
      max-width: 92%;
      margin-right: 18px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .close {
      position: absolute;
      right: 5px;
      top: 7px;

      i {
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }
      &:hover {
        i {
          color: white;
          background-color: @color-silver;
        }
      }
    }
  }
}