<md-dialog>
  <md-content>
      <h2>Content Modified</h2>
      <p>
          This content has been modified. How would you like to proceed?
      </p>
  </md-content>

  <div class="md-actions">
    <md-button ng-click="vm.save()" class="md-raised md-primary">
      Save Changes
    </md-button>
    <md-button ng-click="vm.discard()" class="md-raised md-warn">
      Discard Changes
    </md-button>
    <md-button ng-click="vm.cancel()" class="">
      Cancel
    </md-button>
  </div>
</md-dialog>