<div layout="row" class="wip-tabs" ng-class="{ 'empty' : vm.wips.length === 0 }" layout-align="row">
    <div ng-repeat="wip in vm.wips"
         class="wip-tab"
         ng-class="{ 'active' : vm.selectedIndex === $index }"
         ng-click="vm.open(wip.item.uuid)"
         aria-label="{{ wip.item.fields[wip.item.displayField] }}"
         title="{{ wip.item.fields[wip.item.displayField] }}">

        <a href="" class="a-plain label" ng-class="{ modified: vm.isModified(wip.item.uuid) }">{{ wip.item.fields[wip.item.displayField] || 'Untitled ' + wip.item.schema.name  }}</a>
        <a href="" ng-click="vm.closeWip($index, $event)" class="a-plain close"><i class="icon-close"></i></a>

    </div>
    <div flex class="wip-menu" ng-if="0 < vm.wips.length">
        <mh-dropdown sticky="false">
            <mh-dropdown-label layout="row" layout-align="end center" class="tags-input-label">
                <div class="wip-tabs-menu">
                    <i class="icon-menu"></i>
                </div>
            </mh-dropdown-label>
            <mh-dropdown-body>
                <ul>
                    <li translate ng-click="vm.closeAllWips()">CLOSE_ALL_TABS</li>
                </ul>
            </mh-dropdown-body>
        </mh-dropdown>
    </div>
</div>