@tab-bottom-color: @color-silver;
@tab-border-color: lighten(@tab-bottom-color, 10%);
@tab-bg-color: white;
@status-modified-color: #fb945e;

.wip-tabs {
  .wip-tab {
    cursor: pointer;
    padding: 7px 6px 5px 8px;
    margin: 0 0 -1px 0;
    border-bottom: none;
    font-size: 0.75em;
    text-transform: uppercase;
    color: @color-boulder;
    position: relative;
    border-top: 1px solid @color-transparent;

    &:first-child {
      border-left: 1px solid @color-transparent;
    }

    &:hover {
      background-color: darken(@tab-bg-color, 10%);
    }

    &.active {
      background-color: @tab-bg-color;
      color: @color-subdued;
      border-top: 1px solid @tab-border-color;
      border-left: 1px solid @tab-border-color;
      border-right: 1px solid @tab-border-color;
      border-radius: 3px 3px 0 0;
      overflow-x: hidden;

      .status-indicator {
        background-color: @status-modified-color;
        top: 0;
        bottom: 0;
      }
    }

    .status-indicator {
      display: inline-block;
      position: absolute;
      width: 5px;
      top: -1px;
      left: 0;
      bottom: 1px;
      background-color: lighten(@status-modified-color, 20%);
    }

    .label {
      width: 92%;
      margin-right: 18px;
      max-width: 100px;
      .responsive-min(@mq-sm, {
        max-width: 200px;
      });
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .close {
      position: absolute;
      right: 5px;
      top: 7px;

      i {
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }
      &:hover {
        i {
          background-color: @color-silver;
        }
      }
    }
  }

  div:not(.active) + .wip-tab {
    border-left: 1px solid @tab-border-color;
  }
}