<md-dialog>
  <md-dialog-content class="md-dialog-content">
      <h2 translate>CONTENT_MODIFIED</h2>
      <p translate>
          CONTENT_MODIFIED_HOW_TO_PROCEED
      </p>
  </md-dialog-content>

  <div class="md-actions">
    <button ng-click="vm.save()" class="btn btn-primary">
      <span translate>SAVE_CHANGES</span>
    </button>
    <button ng-click="vm.discard()" class="btn btn-warn">
        <span translate>DISCARD_CHANGES</span>
    </button>
    <button ng-click="vm.cancel()" class="btn">
        <span translate>CANCEL</span>
    </button>
  </div>
</md-dialog>