@import "variables";

:host {
    gtx-breadcrumbs {
        height: 40px;
        line-height: 40px;
        width: 100%;

        /deep/ nav {
            box-shadow: none;
        }
    }

    .modal-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    gtx-search-bar {
        width: 300px;
    }

    /deep/ gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb,
    /deep/ gtx-breadcrumbs > nav > .nav-wrapper > a.breadcrumb::before {
        color: white;
        cursor: pointer;
    }
}
