@import "variables";

:host {
    gtx-breadcrumbs {
        height: 40px;
        line-height: 40px;
        width: 100%;

        ::ng-deep nav {
            box-shadow: none;
        }
    }

    .modal-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    gtx-search-bar {
        width: 400px;
    }

    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb {
        color: $gtx-color-mid-gray !important;
        cursor: pointer;
    }
    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb:last-child,
    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb::before
    {
        color: $gtx-color-very-light-gray !important;
    }
    ::ng-deep gtx-breadcrumbs > nav > .nav-wrapper > .inner-wrapper > .lastPart::before {
        top: 0;
    }
}
