<div class="modal-title">
    <h5>{{ 'modal.node_conflict_title' | i18n }}</h5>
</div>
<div class="modal-content">
    <ul class="changes">
        <li class="change-item">
            <div class="path"><strong>Field</strong></div>
            <div class="diffs">
                <div class="preview-container">
                    <div class="their-val"><strong>Their version: {{theirsNode.version}}</strong></div>
                    <div class="mine-val"><strong>My version: {{mineNode.version}}</strong></div>
                </div>
            </div>
            <div class="action" title="Overwrite"><strong>Overwrite?</strong></div>
        </li>
        <li *ngIf="conflictedTags" class="change-item">
            <div class="path">Tags</div>

            <div class="diffs">
                <div class="preview-container">
                    <div class="their-val">{{ conflictedTags.theirTags }}</div>
                    <div class="mine-val">{{ conflictedTags.mineTags }}</div>
                </div>
            </div>
            <div class="action">
                <gtx-checkbox
                    [checked]="overwriteTags"
                    (change)="overwriteTags = $event"
                >
                </gtx-checkbox>
            </div>
        </li>
        <li *ngFor="let conflictedField of conflictedFields" class="change-item">
            <div class="path">{{ conflictedField.field.name }}</div>

            <div [ngSwitch]="conflictedField.field.type" class="diffs">
                <div *ngSwitchCase="'html'">
                    <div class="their-val" [innerHTML]="conflictedField.theirValue"></div>
                    <div class="mine-val" [innerHTML]="conflictedField.mineValue"></div>
                </div>

                <div *ngSwitchCase="'date'">
                    <div class="their-val">{{ conflictedField.theirValue | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    <div class="mine-val">{{ conflictedField.mineValue | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                </div>

                <div *ngSwitchCase="'binary'">
                    <div class="their-val">
                        <!--<img class="image-preview" [src]="conflictedField.theirURL" alt="" />-->
                        {{ conflictedField.theirValue.name }}
                    </div>
                    <div class="mine-val">
                        <!--<img class="image-preview" [src]="conflictedField.mineURL" alt="" />-->
                        {{ conflictedField.mineValue.name }}
                    </div>
                </div>

                <div *ngSwitchDefault>
                    <div class="their-val">{{ conflictedField.theirValue }}</div>
                    <div class="mine-val">{{ conflictedField.mineValue }}</div>
                </div>
            </div>

            <div class="action">
                <gtx-checkbox
                    [checked]="conflictedField.overwrite"
                    (change)="conflictedField.overwrite = $event"
                >
                </gtx-checkbox>
            </div>
        </li>
    </ul>

</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="cancelFn(false)">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button type="primary" (click)="saveAndClose()"><icon left>save</icon> {{ 'modal.overwrite_selected' | i18n }}</gtx-button>
</div>
