<div class="modal-title">
    <h5>{{ 'modal.node_conflict_title' | i18n }}</h5>
</div>
<div class="modal-content">
    <ul class="changes">
        <li *ngFor="let conflictFieldName of conflict.properties.conflicts" class="change-item">
            <div class="path">{{ conflictFieldName }}</div>
            <div class="old-val">{{ mineNode.fields[conflictFieldName] }}</div>
            <div class="new-val">{{ theirsNode.fields[conflictFieldName] }}</div>
        </li>
    </ul>
    <div class="additional" *ngIf="0 < additionalChangesCount">{{ 'modal.additional_changes_label' | i18n:{ count: additionalChangesCount } }}</div>
    <p class="lead">
        {{ 'modal.confirm_navigation_body' | i18n }}
    </p>
</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="closeFn(false)">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button type="alert" (click)="closeFn(true)">{{ 'modal.discard_changes_button' | i18n }}</gtx-button>
    <gtx-button type="primary" (click)="saveAndClose()"><icon left>save</icon> {{ 'modal.save_and_close_button' | i18n }}</gtx-button>
</div>
