@import "variables";
.change-item {
    display: flex;

    .path {
        flex: 0 0 100px;
        margin-right: 10px;
        &:after {
            content: ': '
        }
    }

    .mine-val {
        color: $gtx-color-success;
        margin-right: 10px;
        flex: 1 0 auto;
    }

    .their-val {
        color: $gtx-color-alert;
        margin-right: 10px;
        flex: 1 0 auto;
    }

    .action {
        flex: 0 0 100px;
    }
}
