<div class="project-header-container">
    <div class="projects-header">
        <breadcrumbs></breadcrumbs>
    </div>
</div>


<div layout="row" class="app-content flush-right" fit-to-viewport resizer-frame resizer-style="explorerPaneStyle">

    <div flex ng-style="explorerPaneStyle">
        <project-search-bar flex></project-search-bar>
        <div class="actions-bar hide-sm" layout="row" layout-align="end">
            <div>
                <mh-dropdown>
                    <mh-dropdown-label>
                        <button class="btn btn-primary btn-small" aria-label="Create Tag">
                            Create Node
                        </button>
                    </mh-dropdown-label>
                    <mh-dropdown-body>
                        <ul class="create-options">
                            <li ng-repeat="schema in vm.schemas"
                                value="{{::$index}}"
                                ng-click="vm.createNewNode(schema.uuid)">
                                {{::schema.name}}
                            </li>
                        </ul>
                    </mh-dropdown-body>
                </mh-dropdown>
            </div>
            <div flex></div>
            <button class="btn btn-primary btn-small" ng-disabled="0 === vm.selectedItems.length" ng-click="vm.openSelected()">
                Edit Selected
            </button>
            <button class="btn btn-warn btn-small" ng-disabled="0 === vm.selectedItems.length" ng-click="vm.deleteSelected()">
                Delete Selected
            </button>
        </div>

        <div ui-view="node-contents" class="animate"></div>

        </explorer-contents-list>
    </div>

    <resizer></resizer>

    <div flex class="editor-container">
        <wip-tabs></wip-tabs>
        <div fit-to-viewport style="overflow-y: auto">
            <editor-pane></editor-pane>
        </div>
    </div>

</div>