.tag-list-container {
  &.md-locked-open {
    width: @app-width / 5;
    min-width: @app-width / 5;
    max-width: @app-width / 5;
  }
}


.md-table {
  min-width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    font-weight: 700;
    padding: 16px 16px 16px 0;
    text-transform: uppercase;
  }

  tbody tr:hover, tbody tr:focus {
    cursor:pointer;
    background-color: fadeout(@color-denim, 90%);
  }

  tbody td:first-child {
    text-transform: capitalize;
    font-size: 1em;
  }

  td {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 12px;
    border-bottom: 1px solid @color-almost-white;
  }
}