.project-header-container {
  border-bottom: 1px solid @color-silver;
  background-color: @color-almost-white;
  min-height: 30px;
  //.gradient(@color-almost-white, @color-almost-white, white);
  //box-shadow: inset 0px -15px 5px -14px rgba(0,0,0,0.11);
}

.projects-header {
  max-width: @app-width;
  margin: auto;

}

.project-body-container {
  //background-color: @color-almost-white;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    font-weight: 700;
    padding: 16px 16px 16px 0;
    text-transform: uppercase;
  }

  tbody tr:hover, tbody tr:focus {
    cursor:pointer;
    background-color: fadeout(@color-denim, 90%);
  }

  tbody td:first-child {
    text-transform: capitalize;
    font-size: 1em;
  }

  td {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 12px;
    border-bottom: 1px solid @color-almost-white;
  }
}