<div class="login-backdrop">

    <div class="top-ribbon" ng-class="{ success: vm.success }"></div>

    <div layout="column" layout-align="start center" class="login-container" ng-class="{ success: vm.success }">

        <animated-logo animate-in="true" animate-out="vm.success"></animated-logo>

        <form ng-submit="vm.submitForm($event, vm.userName, vm.password)" layout="column" layout-align="center center" class="login-form" ng-show="!vm.success">
            <md-input-container>
                <label translate>USER_NAME</label>
                <input ng-model="vm.userName">
            </md-input-container>
            <md-input-container>
                <label translate>PASSWORD</label>
                <input ng-model="vm.password" type="password">
            </md-input-container>
            <button class="btn btn-primary login-btn" type="submit" ng-show="vm.logoVisible" ng-class="{ 'hidden' : !(vm.password && vm.userName) }">
                <span translate>LOG_IN</span>
            </button>
        </form>
    </div>

</div>

