.preview-selector-container {
  .preview-button {
    text-transform: uppercase;
    color: @color-boulder;
    margin-right: 10px;
    padding-top: 15px;
  }
  .translate-btn, .available-btn {
    margin: 5px 0;
  }
}

.preview-selector-dropdown {
  min-width: 200px;
  padding: 5px;
  text-align: center;
}
.preview-selector-select {
  z-index: 101;
}