@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;

    label {
        @include label-style-full;
    }

    &.compact {
        flex-direction: column;
        margin-top: 0;

        label {
            @include label-style-compact;
            margin-bottom: 0;
        }
        .binary-preview {
            width: $full-width;
            margin-top: 0;
        }
    }
}

.binary-preview {
    width: $full-width-right;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: width 0.2s;
}

.property-list {
    font-size: $gtx-font-size-small;
    background-color: $gtx-color-very-light-gray;
    margin-top: 0;
    li {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
