@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.editor-header {
    flex-shrink: 1;
    position: relative;
    .close-button {
        position: absolute;
        right: 5px;
        top: 8px;
    }
}

.title-row {
    display: flex;
    align-items: center;
    background-color: $gtx-color-very-dark-gray;
    color: white;
    padding: 5px 30px 5px 10px;
    height: 40px;
    .main {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .display-name {
        font-size: $gtx-font-size-lead;
        display: inline-block;
    }
    .schema {
        margin-left: 10px;
        display: inline-block;
    }
}
.primary-buttons {
    display: flex;
    align-items: center;
    > gtx-button {
        margin: 0 10px;
    }
}
.info-row {
    padding: 5px;
    background-color: $gtx-color-very-light-gray;
    display: flex;
    justify-content: space-between;
    .path {
        margin-left: 5px;
        display: flex;
        align-items: center;
        icon {
            font-size: 16px;
            margin-right: 5px;
        }
        a {
            display: flex;
            align-items: center;
            &:hover {
                color: lighten($gtx-color-primary, 10%);
            }
        }
    }
}
.tags-row {
    display: flex;
    justify-content: space-between;
    background-color: $gtx-color-very-light-gray;

    .tags {
        color: $gtx-color-light-gray;
        width: 100%;
    }
}
.editor-body {
    overflow-y: auto;
    flex-grow: 1;
}

app-node-tags-bar {
    display: block;
}

.dangerous {
    color: $gtx-color-alert;
}