<div class="editor-header">
    <div class="title-row">
        <div class="main">
            <div class="display-name">{{ nodeTitle }}</div>
            <div class="schema">
                <schema-label [schema]="node?.schema"></schema-label>
            </div>
        </div>
        <div class="primary-buttons">
            <version-label [version]="node?.version"></version-label>

            <gtx-progress-bar [active]="isSaving"></gtx-progress-bar>

            <gtx-button size="small" type="primary"
                        (click)="saveNode()"
                        class="save-button"
                        [disabled]="(isSaving) || !formGenerator?.isDirty || !formGenerator?.isValid ">
                <icon left>save</icon> {{ 'editor.save_button' | i18n }}
            </gtx-button>


            <gtx-button size="small" type="success"
                        (click)="publishNode()"
                        [disabled]="!isDraft()">
                <icon left>public</icon> {{ 'editor.publish_button' | i18n }}
            </gtx-button>
        </div>
    </div>
    <div class="close-button">
        <gtx-button icon
                    type="secondary"
                    (click)="closeEditor()"><icon>close</icon></gtx-button>
    </div>
    <div class="info-row">
        <div class="path">
            <a [routerLink]="nodePathRouterLink" (click)="focusList()">
                {{ nodePath }}
            </a>
        </div>
        <div class="language">
            <node-language-switcher [node]="node"></node-language-switcher>
        </div>
    </div>
    <div class="tags-row">
        <div class="tags">
            <app-node-tags-bar [node]="node"></app-node-tags-bar>
        </div>
    </div>
</div>

<div class="editor-body" scrollFrame>
    <form-generator [schema]="schema"
                    [node]="node"></form-generator>
</div>
