@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-header {
    flex-shrink: 1;
    position: relative;
    .close-button {
        position: absolute;
        right: 5px;
        top: 6px;
    }
}

.title-row {
    display: flex;
    padding: 5px;
    background-color: lighten(desaturate($gtx-color-primary, 60%), 40%);
    padding-right: 30px;
    height: 40px;
    .main {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .display-name {
        font-size: 5px;
        display: inline-block;
    }
    .schema {
        margin-left: 10px;
        display: inline-block;
    }
}
.primary-buttons {
    display: flex;
    align-items: center;
    > gtx-button {
        margin: 0 10px;
    }
}
.info-row {
    padding: 5px;
    background-color: lighten(desaturate($gtx-color-primary, 80%), 50%);
    display: flex;
    justify-content: space-between;
    .path {

        a:hover {
            text-decoration: underline;
        }
    }
}
.tags-row {
    display: flex;
    justify-content: space-between;

    .tags {
        color: $gtx-color-light-gray;
        width: 100%;
    }
}
.editor-body {
    overflow-y: auto;
    flex-grow: 1;
}

app-node-tags-bar {
    display: block;
}
