<div class="editor-header">
    <div>
        <small>[debug]</small>
    </div>
    <div>
        Valid: {{ formGenerator?.isValid }}
    </div>
    <div>
        Dirty: {{ formGenerator?.isDirty }}
    </div>
    <div>
        <gtx-button size="small" flat (click)="formGenerator.setPristine()" [disabled]="!formGenerator?.isDirty">set pristine</gtx-button>
    </div>
    <div class="close-button">
        <gtx-button icon type="secondary" (click)="closeEditor()"><icon>close</icon></gtx-button>
    </div>
</div>
<div class="editor-body" scrollFrame *ngIf="node">
    <form-generator #formGenerator
                    [schema]="schema"
                    [node]="node"></form-generator>
</div>
