<div class="editor-header">
    <div class="title-row">
        <div class="main">
            <div class="display-name">{{ nodeTitle }}</div>
            <div class="schema">
                <mesh-schema-label [schema]="node?.schema"></mesh-schema-label>
            </div>
        </div>
        <div class="primary-buttons">
            <mesh-version-label [version]="node?.version"
                                [published]="!isDraft()"></mesh-version-label>

            <gtx-progress-bar [active]="isSaving"></gtx-progress-bar>

            <gtx-button size="small"
                        type="primary"
                        (click)="saveNode()"
                        class="save-button"
                        [disabled]="(isSaving) || !isDirty || !formGenerator?.isValid ">
                <icon left>save</icon> {{ 'editor.save_button' | i18n }}
            </gtx-button>


            <gtx-button size="small"
                        type="success"
                        (click)="publishNode()"
                        [disabled]="!isDraft()">
                <icon left>public</icon> {{ 'editor.publish_button' | i18n }}
            </gtx-button>
        </div>
        <gtx-dropdown-list>
            <gtx-dropdown-trigger>
                <gtx-button icon
                            type="secondary">
                    <icon>more_vert</icon>
                </gtx-button>
            </gtx-dropdown-trigger>
            <gtx-dropdown-content>
                <gtx-dropdown-item (click)="publishNode()">
                    {{ 'editor.publish_all' | i18n }}
                </gtx-dropdown-item>
                <gtx-dropdown-item class="dangerous"
                                   (click)="unpublishNodeLanguage()">
                    {{ 'editor.unpublish' | i18n }}
                </gtx-dropdown-item>
                <gtx-dropdown-item class="dangerous"
                                   (click)="unpublishNode()">
                    {{ 'editor.unpublish_all' | i18n }}
                </gtx-dropdown-item>
            </gtx-dropdown-content>
        </gtx-dropdown-list>
    </div>
    <div class="close-button">
        <gtx-button icon
                    type="secondary"
                    (click)="closeEditor()">
            <icon>close</icon>
        </gtx-button>
    </div>
    <div class="info-row">
        <div class="path">
            <a [routerLink]="nodePathRouterLink"
               (click)="focusList()">
                <icon>folder_open</icon>
                {{ nodePath }}
            </a>
        </div>
        <div class="language">
            <mesh-node-language-switcher [node]="node"></mesh-node-language-switcher>
        </div>
    </div>
    <div class="tags-row">
        <div class="tags">
            <mesh-node-tags-bar #tagsBar
                                [node]="node"></mesh-node-tags-bar>
        </div>
    </div>
</div>

<div class="editor-body"
     meshScrollFrame>
    <mesh-form-generator #formGenerator
                         [schema]="schema"
                         [node]="node"></mesh-form-generator>
</div>
