@import "variables";
@import "../../common-styles";

$preview-max-width: 54%;

:host.mesh-field {
    display: flex;
    justify-content: space-between;

    label {
        @include label-style-full;
    }

    &.compact {
        flex-direction: column;
        margin-top: 0;

        label {
            @include label-style-compact;
            margin-bottom: 0;
        }
        .binary-preview {
            width: $full-width;
            margin-top: 0;
        }
        .binary-controls,
        .media-preview {
            max-width: 100%;
        }
    }
}

.binary-preview {
    width: $full-width-right;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: width 0.2s;
}

.media-preview {
    max-width: $preview-max-width;
    border: 1px solid $gtx-color-very-light-gray;
    border-bottom-width: 0;
    background-color: $gtx-color-off-white;
}

.image-preview {
    position: relative;
    text-align: center;
    gentics-ui-image-preview {
        display: flex;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.2s;
    }
    max-height: 800px;
    transition: max-height 0.2s;

    &.loading {
        max-height: 300px;
        overflow: hidden;

        gentics-ui-image-preview {
            opacity: 0;
            transition: opacity 0s;
        }
    }
}

.video-preview {
    video {
        width: 100%;
    }
}

.binary-controls {
    max-width: $preview-max-width;
    position: relative;
    border: 1px solid $gtx-color-very-light-gray;
    border-top-width: 0;
    padding: 4px 10px 10px;

    &.no-binary {
        border-top-width: 1px;
        padding-top: 10px;
        .basic-info {
            display: none;
        }
    }
}

.basic-info {
    display: flex;
    flex-wrap: wrap;
    color: $gtx-color-dark-gray;
    margin-bottom: 10px;

    & > * {
        margin-right: 10px;
    }

    .file-name {
        a {
            display: flex;
            align-items: flex-end;
        }
        icon {
            font-size: $gtx-font-size-regular;
        }
    }
}
