@mixin filter-selection {
    ::ng-deep .filter-selection,
    ::ng-deep .hl-pipe
    {
        background-color: $gtx-color-primary !important;
        color: #fff;
        padding: 0 1px;
        margin: 0 1px;
    }
}
