//
// App-wide variables go here. Since this file also imports the GUIC variables file, any component needing to access
// GUIC variables (e.g. $gtx-color-mid-gray) should import this file, rather than referencing the GUIC file directly.
//
@import "../../node_modules/gentics-ui-core/dist/styles/variables";
@import "ui-core-overrides";

@import "../../node_modules/gentics-ui-core/dist/styles/mixins";
@import "./mixins";

// ui-core component-specific overrides
$gtx-breadcrumbs-background-color: #d6d6d6;
$gtx-breadcrumbs-active-color: #444444;
$gtx-breadcrumbs-inactive-color: gray;
