//
// App-wide variables go here. Since this file also imports the GUIC variables file, any component needing to access
// GUIC variables (e.g. $gtx-color-mid-gray) should import this file, rather than referencing the GUIC file directly.
//
@import "ui-core-overrides";
@import "../../node_modules/gentics-ui-core/dist/styles/variables";
@import "../../node_modules/gentics-ui-core/dist/styles/mixins";
@import "./mixins";

$gtx-color-white: #fff !default;

$header-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.20);

// node status colours
$mesh-node-status-draft: #ec971f;
$mesh-node-status-published: #449d44;
$mesh-node-status-updated: #007bff;
$mesh-node-status-archived: #c9302c;