@import "vars";
@import "icons";

/* inject:imports */
/* endinject */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  font-family: "Open Sans", sans-serif, arial;

  .responsive-max(@mq-sm, {
    font-size: 0.8em;
  })
}

.app-viewport {
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: @color-denim;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.app-content {
  max-width: @app-width;
  margin: auto;

  .responsive-max(@mq-lg, {
    padding: 0 8px;
  });

  h1 {
    font-size: 3em;
    font-weight: 300;
  }
}

.select-label {
  margin-top: 1.8em;
  color: @color-subdued;
}