@import "vars";
@import "icons";

// Components styles
@import "topMenu";
@import "projectSearchBar";

.app-viewport {
}

.app-content {
  max-width: @app-width;
  margin: auto;

  h1 {
    font-size: 3em;
    font-weight: 300;
  }
}