@import "vars";
@import "icons";
@import "typography";

/* inject:imports */
/* endinject */

html {
  background-color: @color-almost-white;
}

html, body {
  width: 100%;
  height: initial;
  min-height: 100vh;
  max-height: 100vh;
}

body {
  background: none;
  touch-action: manipulation;
}

:focus {
  outline: none;
}

body:before {
  .responsive-min(@mq-sm, {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 50%, rgba(231, 231, 231, 1) 100%) fixed;
    content: '';
    z-index: -1;
  });

}

.app-viewport {
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: @color-primary;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.app-content {
  max-width: @app-width;
  margin: auto;
  font-size: @font-size-standard;
}

[ui-view].ng-enter {
  transition: opacity .4s ease;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

.select-label {
  margin-top: 1.8em;
  margin-right: 6px;
  color: @color-subdued;
}

// label text that vertically aligns with form elements
.inline-label {
  display: inline-block;
  margin-top: 20px;
  color: @color-subdued;
}

/**
 Vendor overrides
 */
#loading-bar .bar {
  background: @color-accent;
}

.md-dialog-container {
  font-size: @font-size-standard;
}
md-option .md-text {
  font-size: @font-size-smaller;
}



@color-medium-editor: white;

.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: @color-silver transparent transparent transparent; }
.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent @color-silver transparent; }
.medium-editor-toolbar {
  background-color: @color-medium-editor;
  border: 1px solid @color-concrete;
  border-bottom: 1px solid @color-silver;
  box-shadow: @mh-box-shadow; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      min-width: 60px;
      height: 60px;
      border: none;
      border-right: 1px solid darken(@color-medium-editor, 10%);
      background-color: transparent;
      color: @color-subdued;
      -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
              transition: background-color 0.2s ease-in, color 0.2s ease-in; }
      .medium-editor-toolbar li button:hover {
        background-color: darken(@color-medium-editor, 8%);
        color: @color-subdued; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: darken(@color-medium-editor, 30%);
      color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none; }
.medium-editor-placeholder:after {
  color: @color-dusty;
}
