@import "vars";

.project-search-bar {
  background-color: @color-almost-white;

  .content {
    max-width: @app-width;
    margin: auto;
  }

  .project-selector {
    margin-top: 21px;
  }

  .search-term {
    padding: 2px 2px 5px 2px;
  }
}