// Styles for the ScrollFrameHeading directive
.scroll-frame-heading {
    &.floating {
        animation: fadeIn 0.5s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
