//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
//@import url(http://fonts.googleapis.com/css?family=Raleway);

// local versions of the Google fonts to speed up page load in dev
@font-face {
	font-family: 'Open Sans';
	src:url('../assets/fonts/opensans.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src:url('../assets/fonts/roboto.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src:url('../assets/fonts/raleway.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Univers LT W01_45 Light';
	src:url('../assets/fonts/Univers_LT_W01_45_Light.woff');
	font-weight: normal;
	font-style: normal;
}


/**
 Font families
 */
@title-font: 'Univers LT W01_45 Light', sans-serif;
@copy-font: 'Open Sans', sans-serif, arial;
@detail-font: 'Open Sans', sans-serif;


/**
 Font sizes
 Use rem units for global font sizes.
 */
html {
  font-size: 62.5%; // so 1rem === 10px
  font-family: @copy-font;

  .responsive-max(@mq-sm, {
    font-size: 55%;
  })
}
@font-size-title-1: 3.2rem;
@font-size-title-2: 2.4rem;

@font-size-standard: 1.4rem;
@font-size-smaller: 1.2rem;


.title-font {
  font-size: @font-size-title-1;
  font-weight: 300;
  font-family: @title-font;
}

.page-title {
  margin-top: 4rem;
  font-size: @font-size-title-2;
  font-family: @title-font;
  text-transform: uppercase;
  font-weight: normal;
}