@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Exo);
@import url(http://fonts.googleapis.com/css?family=Biryani);
@import url(http://fonts.googleapis.com/css?family=Offside);
@import url(http://fonts.googleapis.com/css?family=Doppio+One);
@import url(http://fonts.googleapis.com/css?family=Questrial|Nixie+One|Armata|Syncopate|Cantarell|Muli|Maven+Pro|Julius+Sans+One|Raleway|Text+Me+One|Comfortaa|Metrophobic|Gruppo);


/**
 Font families
 */
@title-font: 'Raleway', sans-serif;
@copy-font: 'Open Sans', sans-serif, arial;
@detail-font: 'Open Sans', sans-serif;


/**
 Font sizes
 Use rem units for global font sizes.
 */
html {
  font-size: 62.5%; // so 1rem === 10px
  font-family: @copy-font;

  .responsive-max(@mq-sm, {
    font-size: 50%;
  })
}
@font-size-title-1: 3.2rem;
@font-size-title-2: 2.4rem;

@font-size-standard: 1.4rem;
@font-size-smaller: 1.2rem;


.title-font {
  font-size: @font-size-title-1;
  font-weight: 300;
  font-family: @title-font;
}

.page-title {
  margin-top: 4rem;
  font-size: @font-size-title-2;
  font-family: @title-font;
  text-transform: uppercase;
  font-weight: normal;
}