@app-width: 90%;

// media query breakpoints
@mq-sm: 600px;
@mq-md: 960px;
@mq-lg: 1200px;

// responsive mixins
.responsive-max(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.responsive-min(@minWidth; @rules) {
    @media only screen and (min-width: @minWidth) {
        @rules();
    }
}

/**
 Paths
 */
@aloha-path: '../assets/vendor/aloha-editor/';
@aloha-mesh-plugin-path: @aloha-path + 'plugins/mesh/';

/**
 Colors
 ======
 The creative names come from http://chir.ag/projects/name-that-color/
 */

// special
@color-transparent: rgba(255, 255, 255, 0);

// greys
@color-almost-white: #fafafa;
@color-concrete: #f3f3f3;
@color-alto: #d9d9d9;
@color-silver: #c9c9c9;
@color-dusty: #999;
@color-boulder: #7d7d7d;
@color-subdued: #555;
@color-mineshaft: #333;


@color-gentics-blue: #00A0D2;
@color-dodger-blue: #448AFF;
@color-denim: #1976D2;
@color-md-primary: rgb(3,169,244);
@color-form-label-placeholder: rgba(0,0,0,0.5);
@color-form-label: rgba(0,0,0,0.99);

// abstracted colors
@color-primary: @color-md-primary;
@color-warn: #c0392b;
@color-accent: spin(@color-primary, 180);
@color-highlight: #1efb17;


/**
 Presentational elements
 */
@mh-box-shadow: 0px 11px 11px -12px rgba(0,0,0,0.49);