@import "variables";

:host {
    margin-left: 5px;
    display: flex;
    align-items: center;
    icon {
        font-size: 16px;
        margin-right: 5px;
        &.copy {
            margin-left: 5px;
            cursor: pointer;
        }
    }
    a {
        display: flex;
        align-items: center;
        &:hover {
            color: lighten($gtx-color-primary, 10%);
        }
    }
}

gtx-input::ng-deep {
    input {
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
    }
}