<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 translate>{{:: vm.title }}</h2>

                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="vm.name" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <button ng-click="vm.create(vm.name)" class="btn btn-primary">
                <span translate>OKAY</span>
            </button>
            <button ng-click="vm.cancel()" class="btn">
                <span translate>CANCEL</span>
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>