<div class="app-content tag-list-container">
    <h1 class="page-title">Tags</h1>

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label translate>FILTER_TAGS</label>
                <input ng-model="vm.tagFilter">
            </md-input-container>
        </div>
    </md-toolbar>

    <md-content layout-padding class="admin-content-block">
        <table class="mh-table">
            <tr class="project-row" ng-repeat-start="group in vm.projectGroups track by group.project.uuid">
                <td>
                    <strong>Project: {{:: group.project.name}}</strong>
                </td>
                <td align="right">
                    <button class="btn btn-small btn-primary"
                            aria-label="Create Tag Family"
                            ng-click="vm.addTagFamilyDialog(group.project)">
                        <span translate>CREATE_NEW_TAG_FAMILY</span>
                    </button>
                </td>
            </tr>
            <tr class="sub-row-1" ng-repeat="tagFamily in group.tagFamilies track by tagFamily.uuid" ng-repeat-end>
                <td>
                    <div class="tag-family" ng-click="vm.editTagFamilyDialog(group.project, tagFamily)">
                        {{ tagFamily.name }}
                        <span class="delete-button"
                              ng-click="vm.deleteTagFamilyDialog($event, group.project, tagFamily)">
                            <i class="icon-close"></i>
                        </span>
                    </div>
                </td>
                <td>

                    <tag source="tag"
                         class="editable-tag"
                         ng-click="vm.editTagDialog(group.project, tag)"
                         show-close="true"
                         on-close="vm.deleteTag($event, group.project, tag)"
                         ng-repeat="tag in vm.getTagsByFamily(tagFamily) | filter: { fields: { name: vm.tagFilter} } track by tag.uuid"></tag>

                    <button class="btn btn-small" ng-click="vm.addTagDialog(group.project, tagFamily)"><i class="icon-add"></i> <span translate>ADD_TAG</span></button>
                </td>
            </tr>
        </table>
    </md-content>
</div>