<ng-container *ngFor="let item of items">
    <gtx-contents-list-item>
        <div *ngIf="selectable(item)"
             class="icon-checkbox-wrapper">
            <gtx-checkbox *ngIf="selectable(item)"
                          [checked]="!!selection[item.uuid]"
                          [ngClass]="{'checked': !!selection[item.uuid] }"
                          (change)="handleSelect(item, $event)"></gtx-checkbox>
            <icon class="hover"
                  *ngIf="item.isContainer">folder</icon>
            <icon class="hover"
                  *ngIf="!item.isContainer">insert_drive_file</icon>
        </div>

        <div *ngIf="!selectable(item)"
             class="icons">
            <icon *ngIf="item.isContainer">folder</icon>
            <icon *ngIf="!item.isContainer">insert_drive_file</icon>
        </div>

        <a *ngIf="item.isContainer"
           (click)="containerClicked.emit(item)"
           class="node-browser-container">
            {{item.displayName || item.uuid}}
        </a>
        <ng-container *ngIf="!item.isContainer">{{item.displayName || item.uuid}}</ng-container>
        <div class="schemaName">
            <icon>view_quilt</icon>
            <div>{{item.schema.name}}</div>
        </div>
    </gtx-contents-list-item>
</ng-container>

<div class="no-results"
     *ngIf="items?.length === 0">
    {{ 'nodebrowser.no_children_found' | i18n }}
</div>
