@import "variables";

gtx-contents-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 10px;
  &:hover {
    background-color: #efefef;
  }
}

.node-browser-container {
  cursor: pointer;
}

.no-results {
  font-size: $gtx-font-size-lead;
  color: $gtx-color-mid-gray;
  text-align: center;
  padding: 20px;
}
