@import "variables";

gtx-contents-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 10px;
  &:hover {
    background-color: #efefef;
  }
}

.node-browser-container {
  cursor: pointer;
}

.icon-checkbox-wrapper gtx-checkbox {
  position: absolute;
  visibility: hidden;
  margin-left: 0.2%;
  margin-top: 0.3%;
}

.icons {
  margin-right: 1%;
}

.icon-checkbox-wrapper {
  margin-right: 1%;
}

gtx-contents-list-item:hover .hover {
  visibility: hidden;
}

gtx-contents-list-item:hover gtx-checkbox {
  visibility: visible;
}

.schemaName
{
  position: absolute;
  left: 70%;
}

.no-results {
  font-size: $gtx-font-size-lead;
  color: $gtx-color-mid-gray;
  text-align: center;
  padding: 20px;
}
