<div class="permissions-table-container">

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <h2 class="md-title" flex >
                {{:: vm.rootName }}
                <i class="icon-expand-more" ng-show="vm.collapsed" ng-click="vm.collapsed = false"></i>
                <i class="icon-expand-less" ng-show="!vm.collapsed" ng-click="vm.collapsed = true"></i>
            </h2>
            <md-input-container flex>
                <label>Filter {{:: vm.rootName }}</label>
                <input ng-model="vm.filter">
            </md-input-container>
            <div flex>
                <md-checkbox md-no-ink aria-label="Create"
                             ng-model="vm.rootPermissions['create']"
                             ng-change="vm.toggleRootPerm()">
                    Can create new {{:: vm.rootName }}
                </md-checkbox>
            </div>
            <!--<div>
                <md-checkbox md-no-ink aria-label="Read">
                    Read
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Update">
                    Update
                </md-checkbox>
            </div>
            <div>
                <md-checkbox md-no-ink aria-label="Delete">
                    Delete
                </md-checkbox>
            </div>-->
        </div>
    </md-toolbar>

    <md-content layout-padding class="admin-content-block" ng-class="{ 'collapsed': vm.collapsed }">

        <div class="permissions-table">
            <table class="mh-table">
                <tbody>
                <tr ng-repeat="item in vm.items | filter: vm.itemNameFilter track by item.uuid">
                    <td>{{:: vm.displayItemName(item) }}</td>
                    <td>
                        <md-checkbox md-no-ink aria-label="Create"
                                     ng-disabled="vm.isReadonly"
                                     ng-model="vm.itemPermissions[item.uuid]['create']"
                                     ng-change="vm.toggle(item)">
                            Create
                        </md-checkbox>
                    </td>
                    <td>
                        <md-checkbox md-no-ink aria-label="Read"
                                     ng-disabled="vm.isReadonly"
                                     ng-model="vm.itemPermissions[item.uuid]['read']"
                                     ng-change="vm.toggle(item)">
                            Read
                        </md-checkbox>
                    </td>
                    <td>
                        <md-checkbox md-no-ink aria-label="Update"
                                     ng-disabled="vm.isReadonly"
                                     ng-model="vm.itemPermissions[item.uuid]['update']"
                                     ng-change="vm.toggle(item)">
                            Update
                        </md-checkbox>
                    </td>
                    <td>
                        <md-checkbox md-no-ink aria-label="Delete"
                                     ng-disabled="vm.isReadonly"
                                     ng-model="vm.itemPermissions[item.uuid]['delete']"
                                     ng-change="vm.toggle(item)">
                            Delete
                        </md-checkbox>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</div>