.permissions-table {

  td:first-child {
    padding-left: 10px;
    min-width: 200px;
  }

  tr:not(.root-row) td:first-child {
    padding-left: 30px;
  }

  tr.root-row td {
    background-color: @color-concrete;
  }
} 