<md-dialog>
  <md-dialog-content class="md-dialog-content">
      <h2 translate>{{ vm.title }}</h2>
      <p translate>
          {{ vm.message }}
      </p>
  </md-dialog-content>

  <md-dialog-actions>
    <button ng-click="vm.confirm()" class="btn" ng-class="vm.confirmButtonClass">
        <span translate>{{ vm.confirmLabel }}</span>
    </button>
    <button ng-click="vm.cancel()" class="btn">
        <span translate>{{ vm.cancelLabel }}</span>
    </button>
  </md-dialog-actions>
</md-dialog>