.breadcrumbs {
  font-size: @font-size-title-2;
  font-family: @title-font;
  text-transform: uppercase;
  padding: 1em 0;

  a:link, a:visited {
    color: @color-boulder;
    transition: color 0.2s;
  }

  a:hover, a:active, a:focus {
    color: @color-primary;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  li{
    display: inline-block;

    i {
      margin-left: -5px;
      color: @color-boulder;
    }
    &:not(:last-child):after {
      content: '/';
      color: @color-boulder;
    }

    span {
      position: relative;
      display: inline-block;
      padding-right: 0.3em;

      //padding-right: 0.5em;
      /* border-top: 1px solid @color-silver;
       border-bottom: 1px solid @color-silver;*/

     /* &:after {
        display: inline-block;
        z-index: 1;
        width: 0.87em;
        height: 0.87em;
        content: ' ';
        position: absolute;
        top: 0.16em;
        right: -0.45em;
        color: @color-silver;
        border-top: 1px solid @color-silver;
        border-right: 1px solid @color-silver;
        transform: rotate(45deg);
      }*/
    }
  }
  li:not(:first-child) {
    span {
      padding-left: 0.5em;
    }
  }
  li:last-child {
    a:link, a:visited {
      color: @color-subdued;
    }
  }
}