.breadcrumbs {
  font-size: @font-size-title-2;
  font-family: @title-font;
  text-transform: uppercase;
  padding-bottom: 4rem;

  a:link, a:visited {
    color: @color-boulder;
    transition: color 0.2s;
  }

  a:hover, a:active, a:focus {
    color: @color-primary;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 4rem 0 0 0;
  }

  li{
    display: inline-block;

    i {
      margin-left: -5px;
      color: @color-boulder;
    }
    &:not(:last-child):after {
      content: '/';
      color: @color-boulder;
      padding-right: 0.2em;
      .responsive-min(@mq-sm, {
        padding-right: 0.5em;
      });
    }

    span {
      position: relative;
      display: inline-block;

      .page-title();
      margin-top: 0;

      .responsive-min(@mq-sm, {
        padding-right: 0.3em;
      });
    }
  }
  li:last-child {
    a:link, a:visited {
      color: @color-subdued;
    }
    a:hover {
      color: @color-primary;
    }
  }
}