<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.groups.list">Groups</a>
                </span>
            </li><li><span>
                    {{ vm.group.name }}
                </span>
        </li>
        </ul>
    </div>

    <form name="projectEditorForm" class="admin-form">

        <div layout="row" layout-align="center center" class="mh-main-buttons">

            <md-input-container flex>
                <label translate>GROUP_NAME</label>
                <input type="text" ng-model="vm.group.name" ng-change="vm.modified = true">
            </md-input-container>

            <button class="btn btn-primary"
                    ng-click="vm.persist(vm.group)"
                    ng-disabled="!vm.modified"
                    aria-label="save">
                <i class="icon-save"></i>
                <span ng-if="!vm.isNew" translate>UPDATE</span>
                <span ng-if="vm.isNew" translate>CREATE</span>
            </button>

            <button class="btn btn-warn"
                    ng-click="vm.remove(vm.group)"
                    ng-disabled="!vm.canDelete()"
                    aria-label="delete">
                <i class="icon-delete"></i><span translate>DELETE</span>
            </button>

        </div>
    </form>

</div>