.captioned-image-container {
  padding: 10px;
  background-color: white;
  .image-holder {
    border: 1px solid @color-alto;
    min-height: 200px;
    min-width: 300px;
    padding: 10px;
    cursor: pointer;

    i {
      color: @color-alto;
      font-size: 64px;
    }
  }
}