<div layout="column" class="gallery-container">

    <md-input-container>
        <label>{{:: microschemaFields[0].label }}</label>
        <input type="text" ng-model="microschemaModel.title" ng-change="formBuilder.modified = true" ng-readonly="!formBuilder.canUpdate()">
    </md-input-container>

    <div layout="row" layout-wrap class="list-container"
         dnd-list="microschemaModel.images.items"
         dnd-drop="endDrag(item, index, microschemaModel.images.items)"
         dnd-allowed-types="['images']"
         dnd-horizontal-list="true">

        <div class="image-box"
             ng-repeat="image in microschemaModel.images.items"
             layout="row"
             layout-align="center center"
             dnd-draggable="image"
             dnd-dragstart="startDrag($index)"
             dnd-type="'images'">

            <img ng-src="{{:: image.path }}" />
            <div class="box-controls" layout="row" layout-align="space-between">
                <div class="remove-item list-icon-btn">
                    <i class="icon-close" ng-click="removeImage(image)"></i>
                </div>
                <div class="sort-handle list-icon-btn">
                    <i class="icon-more-vert" class=""></i>
                </div>
            </div>
        </div>

        <div class="image-box add-image" layout="row" layout-align="center center" ng-click="selectImages()" title="Click to add images">
            <i ng-if="!microschemaModel.image.path" class="icon-add-to-photos"></i>
        </div>
    </div>
</div>