<div>
    <md-input-container>
        <label>{{:: microschemaFields[0].label }}</label>
        <input type="text" ng-model="microschemaModel.title" ng-change="formBuilder.modified = true" ng-readonly="!formBuilder.canUpdate()">
    </md-input-container>
    <div layout="row">
        <md-input-container flex>
            <label>{{:: microschemaFields[1].label}}</label>
            <input type="number" ng-model="microschemaModel.longitude" ng-change="formBuilder.modified = true" ng-readonly="!formBuilder.canUpdate()" max="180" min="-180" step="0.01">
        </md-input-container>
        <md-input-container flex>
            <label>{{:: microschemaFields[2].label}}</label>
            <input type="number" ng-model="microschemaModel.latitude" ng-change="formBuilder.modified = true" ng-readonly="!formBuilder.canUpdate()" max="180" min="-180" step="0.01">
        </md-input-container>
    </div>
    <div class="map-container" style="height: 400px; width: 500px;"></div>
</div>