<md-dialog ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 translate>CONFIRM_DELETE_TITLE</h2>

                <div ng-if="1 < vm.node.availableLanguages.length">
                    <span translate>CONFIRM_DELETE_NODE_MESSAGE</span>

                    <div ng-repeat="code in vm.node.availableLanguages">
                        <md-checkbox ng-model="vm.langsToDelete[code]" md-no-ink
                                     aria-label="{{:: code }}">
                            {{:: vm.getLangInfo(code).nativeName }} ({{:: vm.getLangInfo(code).name }})
                        </md-checkbox>
                    </div>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <button ng-click="vm.deleteNode()" class="btn btn-warn">
                <span translate>DELETE</span>
            </button>
            <button ng-click="vm.cancel()" class="btn">
                <span translate>CANCEL</span>
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>