@import "../../common-styles";

:host {
    display: block;
    transition: opacity 0.5s;
    opacity: 1;
    &.invisible {
        opacity: 0;
        transition: opacity 0s;
    }
}

.form-container {
    padding: 20px 0;
    overflow: hidden;

    /deep/ & > .mesh-field {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        width: $half-width;
        transition: width 0.2s;

        &.invalid {
            label {
                color: $gtx-color-alert;
            }
            input {
                border-color: $gtx-color-alert;
            }
        }

        label {
            @include noselect;
        }
    }

    // The first mesh-field should be bigger, since it can be considered the title of the node.
    /deep/ & > .mesh-field:nth-child(2) {
        /*width: 100% !important;

        gtx-input input {
            font-size: 24px;
            height: 3.2rem;
        }*/
    }
}
