.image-editor-dialog {
  height: 98%;
  width: 98%;
  max-width: 98%;

  .crop-wrapper {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
  }

  .resize-wrapper {
    height: 80vh;
    max-height: 80vh;
  }

  .resize-area {

  }
  .resize-container {
    cursor: move;
    overflow: hidden;
    position: absolute;
    box-shadow: @md-box-shadow;

    .resize-image {
      display: block;
      min-width: 0;
      min-height: 0;
      max-width: none;
      max-height: none;
    }
  }

  .resize-controls {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);

    .button-container {
      padding-top: 20px;
    }

    .slider-container {
      padding: 0 20px;
    }
  }
}