.editable-image-container {
  position: relative;
  width: 100%;
  //display: inline-block;
  overflow: hidden;

  .edit-image-button {
    position: absolute;
    top: 0;
    font-size: 16px;
    z-index: 1;
    right: -44px;
    padding: 5px 8px;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s, right 0.3s;
    border-left: 1px solid @color-silver;
    border-bottom: 1px solid @color-silver;
    text-transform: uppercase;

    i {
      margin-right: 5px;
    }
    &:hover {
      opacity: 0.9;
      right: 0;
    }
  }
}

.image-editor-dialog {
  height: 98%;
  width: 98%;
  max-width: 98%;

  .tabs-container {
    height: 80vh;
    @media only screen and (min-height: 800px) {
      height: 85vh;
    }
    @media only screen and (min-height: 900px) {
      height: 87vh;
    }
  }

  .crop-wrapper, .resize-wrapper {
    width: 100%;
    height: 70vh;

    @media only screen and (min-height: 800px) {
      height: 77vh;
    }
    @media only screen and (min-height: 900px) {
      height: 82vh;
    }
  }

  md-tab-content {
    overflow: hidden;
  }

  .content {
    opacity: 0;
    transition: opacity 0.5s;
    &.visible {
      opacity: 1;
    }
  }

  .crop-controls {
    background-color: white;
    padding: 5px;

    h3, md-radio-button {
      margin: 5px;
    }
  }

  .resize-area {

  }
  .resize-container {
    cursor: move;
    overflow: hidden;
    position: absolute;
    box-shadow: @md-box-shadow;
    outline: 1px solid transparent;
    transition: outline 0.3s;

    .resize-image {
      display: block;
      min-width: 0;
      min-height: 0;
      max-width: none;
      max-height: none;
    }

    &:hover {
      outline: 1px solid @color-primary;
    }
  }

  .resize-controls {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);;

    .button-container {
      padding-top: 20px;
    }

    .slider-container {
      padding: 0 20px;
    }

    .rz-pointer {
      background-color: @color-primary;
      &.rz-active::after {
        background-color: darken(@color-primary, 20%);
      }
    }
  }
}