<md-dialog flex="90" class="image-editor-dialog">
    <md-dialog-content class="md-dialog-content content" ng-class="{ visible: vm.loaded }">

        <div class="tabs-container">
            <div class="tab-links">
                <span ng-click="vm.selectedTab = 'crop'" ng-class="{ 'active': vm.selectedTab === 'crop' }">Crop</span>
                <span ng-click="vm.resizeTabSelected()" ng-class="{ 'active': vm.selectedTab === 'resize' }">Resize</span>
            </div>
            <div class="tab-body" ng-class="{ 'visible': vm.selectedTab === 'crop' }">
                <image-editor-cropper params="vm.transformParams"
                                      on-crop="vm.updateTransformParams(params)"></image-editor-cropper>
            </div>
            <div class="tab-body" ng-class="{ 'visible': vm.selectedTab === 'resize' }">
                <image-editor-resizer params="vm.transformParams"
                                      layout="column"
                                      on-resize="vm.updateTransformParams(params)"></image-editor-resizer>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <button ng-click="vm.save()" class="btn btn-primary">
            <span translate>SAVE_CHANGES</span>
        </button>
        <button ng-click="vm.cancel()" class="btn">
            <span translate>CANCEL</span>
        </button>
    </md-dialog-actions>
</md-dialog>