.image-editor-dialog {
  height: 98%;
  width: 98%;
  max-width: 98%;

  @controls-bg: rgba(255, 255, 255, 0.7);

  .crop-wrapper {
    width: 100%;
    height: 75vh;
    max-height: 80vh;
  }

  .crop-controls {
    z-index: 10;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -118px;
    opacity: 0.6;
    transition: opacity 0.3s, bottom 0.3s;
    &:hover {
      opacity: 1;
      bottom: 0;
    }
  }

  .resize-wrapper {
    height: 75vh;
    max-height: 80vh;
  }

  .resize-area {

  }
  .resize-container {
    cursor: move;
    overflow: hidden;
    position: absolute;
    box-shadow: @md-box-shadow;

    .resize-image {
      display: block;
      min-width: 0;
      min-height: 0;
      max-width: none;
      max-height: none;
    }

    &:hover {
      outline: 1px solid @color-primary;
    }
  }

  .resize-controls {
    z-index: 10;
    background-color: @controls-bg;

    .button-container {
      padding-top: 20px;
    }

    .slider-container {
      padding: 0 20px;
    }
  }
}