<div *ngIf="version">
    Version: {{version}}
</div>

<div class="actions"
     *meshProjectTo="BREADCRUMBS_BAR_PORTAL_ID">
    <gtx-button type="primary"
                size="small"
                class="save-button"
                [disabled]="!isValid"
                (click)="save()">
        <ng-container *ngIf="!(isNew$ | async)">{{ 'admin.schema_editor_buttonlabel_save' | i18n }}</ng-container>
        <ng-container *ngIf="isNew$ | async">{{ 'admin.schema_editor_buttonlabel_create' | i18n }}</ng-container>
    </gtx-button>

    <gtx-button *ngIf="!(isNew$ | async)"
                type="primary"
                size="small"
                class="save-button"
                [disabled]="!isValid"
                (click)="delete()">
        {{ 'admin.schema_editor_buttonlabel_delete' | i18n }}
    </gtx-button>
</div>

<gtx-tabs [activeId]="activeId$ | async">
    <gtx-tab id="tab1"
             [title]="'admin.schema_details_tab_label_editor' | i18n">
        <mesh-microschema-editor [schemaJson]="microschemaJson$ | async"
                                 (schemaJsonChange)="microschemaJson = $event"
                                 [schema]="microschema$ | async"
                                 [isNew]="isNew$ | async"
                                 (isValid)="isValid = $event">
        </mesh-microschema-editor>
    </gtx-tab>

    <gtx-tab id="tab2"
             [title]="'admin.schema_details_tab_label_json' | i18n">
        <mesh-monaco-editor [ngModel]="microschemaJson$ | async"
                            (ngModelChange)="microschemaJson = $event"
                            language="json"
                            [jsonSchema]="microschema"
                            (errors)="onErrorChange($event)"></mesh-monaco-editor>
    </gtx-tab>

    <gtx-tab id="tab3"
             [title]="'admin.schema_details_tab_label_projects' | i18n">
        <mesh-admin-list [items]="projects$ | async"
                         [autoHidePagination]="true"
                         [selectable]="false">

            <div class="list-controls">
                <div class="filter">
                    <gtx-input [label]="'admin.filter_by_name' | i18n"
                               [formControl]="filterInput">
                    </gtx-input>
                </div>
            </div>

            <ng-template let-project="item">
                <gtx-checkbox *ngIf="projectAssignments"
                              [label]="project.name"
                              [checked]="projectAssignments[project.uuid]"
                              (change)="onAssignmentChange(project, $event)">
                </gtx-checkbox>
            </ng-template>
        </mesh-admin-list>
    </gtx-tab>

</gtx-tabs>
