<div *ngIf="version">
    Version: {{version}}
</div>

<gtx-tabs>
    <gtx-tab title="Editor">
        <mesh-microschema-editor [schemaJson]="microschemaJson$ | async"
                                 (schemaJsonChange)="microschemaJson = $event"
                                 [schema]="microschema$ | async"
                                 [isNew]="isNew"
                                 (save)="save()"
                                 (delete)="delete()">
        </mesh-microschema-editor>
    </gtx-tab>

    <gtx-tab title="JSON">
        <mesh-monaco-editor [ngModel]="microschemaJson$ | async"
                            (ngModelChange)="microschemaJson = $event"
                            language="json"
                            [jsonSchema]="microschema$ | async"
                            (errors)="onErrorChange($event)"></mesh-monaco-editor>

        <gtx-button [disabled]="errors.length > 0"
                    style="margin-top: 15px;"
                    (click)="save()">{{ 'common.save' | i18n }}</gtx-button>
    </gtx-tab>

    <gtx-tab title="Projects">
        <mesh-admin-list [items]="projects$ | async"
                         [autoHidePagination]="true"
                         [selectable]="false">

            <div class="list-controls">
                <div class="filter">
                    <gtx-input [label]="'admin.filter_by_name' | i18n"
                               [formControl]="filterInput">
                    </gtx-input>
                </div>
            </div>

            <ng-template let-project="item">
                <gtx-checkbox *ngIf="projectAssignments"
                              [label]="project.name"
                              [checked]="projectAssignments[project.uuid]"
                              (change)="onAssignmentChange(project, $event)">
                </gtx-checkbox>
            </ng-template>
        </mesh-admin-list>
    </gtx-tab>

</gtx-tabs>
