.top-menu-container {

  background-color: @color-concrete;
  border-bottom: 1px solid @color-silver;

  .top-menu {
    max-width: @app-width;
    padding-top: 6px;
    padding-bottom: 6px;

    .admin-menu-icon {
      font-size: 24px;
    }

    .logo {
      font-size: 24px;
      color: @color-silver;
    }

    .top-menu-label {
      height: 43px;
    }

    .language-container {
      padding-right: 20px;
      border-right: 1px solid @color-silver;
      .language-select-label {
        i {
          margin-right: 5px;
        }
        font-size: 0.8em;
        color: @color-subdued;
        padding: 0 10px;
      }
    }


    .user-container {
      padding-left: 20px;
      .profile-image {
        margin-right: 5px;
        width: 36px;
        height: 36px;
        background: no-repeat center center;
        background-size: cover;
        border-radius: 50%;
      }

      .user-name {
        font-size: 0.8em;
        margin-left: 6px;
      }
    }
  }
}
