.top-menu-container {
  max-width: @app-width;
  padding-top: 6px;
  padding-bottom: 6px;

  .admin-menu-icon {
    font-size: 24px;
  }

  .logo {
    font-size: 24px;
  }

  .user-container {
    .profile-image {
      width: 36px;
      height: 36px;
      background: no-repeat center center;
      background-size: cover;
      border-radius: 50%;
    }

    md-select {
      margin: 0;
    }
    .md-select-label {
      border-bottom: 0;
    }

    .user-name {
      font-size: 0.8em;
      margin-left: 6px;
    }

    .language {
      font-size: 12px;
      cursor: pointer;
    }
  }
}