<div ng-if="vm.isLoggedIn" class="top-menu-container" layout layout-align="center">

    <div class="top-menu" layout="row" flex>

        <div flex>
            <i class="icon-menu admin-menu-icon"></i>
            <span class="title-font logo">MESH</span>
        </div>

        <div flex layout="row" layout-align="end center">

            <div class="user-container" layout="row">

               <!-- <div class="language">
                    <i class="icon-language"></i>
                    <md-select ng-model="vm.lang" ng-change="vm.updateLanguage(vm.lang)">
                        <md-option ng-repeat="language in vm.languages" ng-value="language.code">{{ language.nativeName | uppercase }}</md-option>
                    </md-select>
                </div>-->
                <mh-dropdown>
                    <mh-dropdown-label layout="row" layout-align="center center">
                        <div class="profile-image" style="background-image: url({{ vm.profileImage }})"></div>
                        <div>{{ vm.userName }} <i class="icon-arrow-drop-down"></i></div>
                    </mh-dropdown-label>
                    <div mh-dropdown-options>
                    <ul>
                        <li translate>PROFILE</li>
                        <li ng-click="vm.logout()" translate>LOG_OUT</li>
                    </ul>
                    </div>
                </mh-dropdown>
            </div>

        </div>
    </div>
</div>