<md-toolbar ng-if="isLoggedIn">
    <div class="md-toolbar-tools" layout-align="center">
        <div class="top-menu-container" layout="row" flex>

            <div flex layout="row">
                <div class="top-menu-tab active">Content</div>
                <div class="top-menu-tab">Admin</div>
            </div>

            <div flex layout="row" layout-align="end center">
                <div class="user-container" layout="row">
                    <div class="profile-image" style="background-image: url({{ profileImage }})"></div>

                    <div flex layout="column" layout-align="center center">
                        <md-select ng-model="someModel">
                            <md-select-label>
                                <div class="user-name">{{ userName }}</div>
                            </md-select-label>
                            <md-option value="1" ng-click="">Profile</md-option>
                            <md-option value="2" ng-click="logout()">Log Out</md-option>
                        </md-select>

                        <div class="language">
                            <i class="icon-language"></i>
                            <span>EN</span>
                            <md-tooltip md-visible="demo.showTooltip">
                                <i class="icon-check"></i> EN - English<br>
                                <i class="icon-check-box-outline-blank"></i> DE - Deutsch<br>
                            </md-tooltip>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</md-toolbar>