.top-menu-container {
  max-width: @app-width;

  .top-menu-tab {
    padding: 20px;

    .responsive-max(@mq-md, {
      font-size: 0.8em;
    });

    &.active {
      @negative-margin: 6px;
      @toolbar-height: 64px;

      background-color: @color-almost-white;
      margin-bottom: -@negative-margin;
      min-height: @toolbar-height + @negative-margin;
      color: #555;
    }

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }

  .user-container {
    .profile-image {
      width: 45px;
      height: 45px;
      background: no-repeat center center;
      background-size: cover;
      border-radius: 50%;
    }

    md-select {
      margin: 0;
    }
    .md-select-label {
      border-bottom: 0;
    }

    .user-name {
      font-size: 0.8em;
      margin-left: 6px;
    }

    .language {
      font-size: 12px;
      cursor: pointer;
    }
  }
}