<div class="label-container">
    <label>{{ field.label || field.name }}</label>

    <div class="add-item-button">
        <gtx-sortable-list [group]="{ name: groupId, pull: 'clone', put: false }">
            <ng-template [ngIf]="field.listType === 'micronode'">
                <gtx-sortable-item *ngFor="let schemaName of field.allow"
                                   [attr.data-microschema-name]="schemaName">
                    <div class="new-item">
                        <icon>add</icon>{{ schemaName }}
                        <gtx-drag-handle></gtx-drag-handle>
                    </div>
                </gtx-sortable-item>
            </ng-template>
            <gtx-sortable-item *ngIf="field.listType !== 'micronode'">
                <div class="new-item">
                    <icon>add</icon>{{ field.listType }}
                    <gtx-drag-handle></gtx-drag-handle>
                </div>
            </gtx-sortable-item>
        </gtx-sortable-list>
    </div>

    <div class="remove-area-wrapper"
         [class.visible]="dragging"
         [class.hovered]="hoverRemoveArea">
        <div class="icon-and-label">
            <icon>delete</icon>
            <div class="remove-instruction">
                {{ 'editor.remove_list_item_tooltip' | i18n }}
            </div>
        </div>
        <gtx-sortable-list (addItem)="deleteItem($event)"
                           [group]="{ name: removeGroupId, put: [groupId] }"
                           class="remove-area">
        </gtx-sortable-list>
    </div>
</div>

<div class="list-container"
     [class.updating]="updating"
     [class.dragging]="dragging"
     [style.height]="listHeight">
    <gtx-sortable-list #listContainer
                       (dragEnd)="dragEnd($event)"
                       (addItem)="addNewElement($event)"
                       [onMove]="onMove"
                       [group]="mainGroup">
        <gtx-sortable-item *ngFor="let item of value; trackBy: trackByFn">
            <div class="item-row">
                <div #listItem class="list-item"></div>
                <gtx-drag-handle (mousedown)="dragging = true"
                                 (mouseup)="dragging = false"></gtx-drag-handle>
            </div>
        </gtx-sortable-item>
    </gtx-sortable-list>
</div>


