@import "variables";
@import "../../common-styles";

:host.mesh-field {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    :host-context(micronode-field),
    &.compact {
        flex-direction: column;

        .label-container {
            flex-direction: row;
            align-items: center;
            label {
                @include label-style-compact;
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
        .list-container {
            margin-top: 0;
            width: $full-width;
        }
        .new-item {
            font-size: $gtx-font-size-small;
            height: 24px;
            icon {
                font-size: 18px;
            }
        }
    }

    &.micronode-list:not(.compact) {
        .list-container {
            width: calc(#{$full-width-right} + #{$left-bar-width});
        }
    }
}

.new-item {
    display: flex;
    align-items: center;
    color: $gtx-color-dark-gray;
    justify-content: space-between;
    border: 1px solid $gtx-color-very-light-gray;
    border-radius: 3px;
    transition: height 0.2s;
    > * {
        padding: 0 5px;
    }
    icon {
        color: $gtx-color-primary;
    }
    gtx-drag-handle {
        color: $gtx-color-mid-gray;
    }
    .sortable-ghost & {
        //padding: 0 3px;
        height: inherit;
    }
}

.label-container {
    display: flex;
    flex-direction: column;

    label {
        @include label-style-full;
    }

    .remove-area-wrapper {
        visibility: hidden;
        flex-grow: 1;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px dotted transparent;
        background-color: transparentize($gtx-color-alert, 0.9);
        transition: opacity 0.1s, visibility 0s 0.1s;
        will-change: opacity, visibility, border;
        overflow: hidden;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 18%;
        z-index: 100;


        .icon-and-label {
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 3px;
            text-align: center;

            icon {
                color: $gtx-color-alert;
                opacity: 0.7;
            }

            .remove-instruction {
                color: $gtx-color-alert;
                font-size: $gtx-font-size-small;
            }
        }

        &.visible {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s, visibility 0s;
        }

        &.hovered {
            background-color: transparentize($gtx-color-alert, 0.4);
            border: 1px dotted $gtx-color-alert;
            transition: border 0.3s, background 0.3s;
        }

        .remove-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

.list-container {
    margin: 20px 0;
    width: calc(#{$half-width-right} + #{$left-bar-width});
    transition: opacity 0.2s, width 0.2s;
    will-change: opacity;
    &.updating {
        opacity: 0.2;
        transition: opacity 0s;
    }


    .item-row {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 6px;
        border-left: $left-bar-width solid $gtx-color-very-light-gray;
        transition: background-color 0.3s, border-color 0.3s;

        /deep/ & > micronode-field,
        /deep/ & > number-field,
        /deep/ & > html-field,
        /deep/ & > string-field {
            flex-grow: 1;
        }
    }


    gtx-sortable-item.sortable-chosen > .item-row,
    &:not(.dragging) .item-row:hover {
        border-color: transparentize($gtx-color-primary, 0.5);
        background-color: transparentize(desaturate($gtx-color-primary, 30%), 0.95);

        > gtx-drag-handle {
            color: $gtx-color-dark-gray;
        }
    }

    gtx-drag-handle {
        color: $gtx-color-mid-gray;
        transition: color 0.3s;
    }
}

