@import "variables";

:host {
    display: block;
    margin: 20px 0;
    width: 100%;
}

.item-row {
    display: flex;
    align-items: center;
    margin: -1px 0;
    padding: 0 6px;
    border: 1px solid $gtx-color-very-light-gray;

    /deep/ & > micronode-field,
    /deep/ & > number-field,
    /deep/ & > html-field,
    /deep/ & > string-field {
        flex-grow: 1;
    }
}

.list-container {
    transition: opacity 0.2s;
    will-change: opacity;
    &.updating {
        opacity: 0.2;
        transition: opacity 0s;
    }
}

