@import "variables";

:host {
    border: 1px solid grey;
    padding: 10px;
    display: block;
    margin: 20px 0;
}

.item-row {
    display: flex;
    align-items: center;

    /deep/ micronode-field,
    /deep/ number-field,
    /deep/ html-field,
    /deep/ string-field {
        flex-grow: 1;
    }
}

.list-container {
    transition: opacity 0.2s;
    will-change: opacity;
    &.updating {
        opacity: 0.2;
        transition: opacity 0s;
    }
}

