<div class="label-container">
    <label>{{ field.label || field.name }}</label>

    <div class="add-item-button">
        <gtx-button *ngIf="field.listType !== 'micronode'"
                    size="small"
                    flat
                    (click)="addItem()">
            <icon left>add</icon>Add Item
        </gtx-button>

        <gtx-dropdown-list *ngIf="field.listType === 'micronode'">
            <gtx-dropdown-trigger>
                <gtx-button size="small" flat>
                    <icon left>add</icon>Add Item <icon right>arrow_drop_down</icon>
                </gtx-button>
            </gtx-dropdown-trigger>
            <gtx-dropdown-content>
                <gtx-dropdown-item *ngFor="let schemaName of field.allow"
                                   (click)="addItem(schemaName)">
                    {{ schemaName }}
                </gtx-dropdown-item>
            </gtx-dropdown-content>
        </gtx-dropdown-list>
    </div>

    <div class="remove-area-wrapper"
         [class.visible]="dragging"
         [class.hovered]="hoverRemoveArea">
        <div class="icon-and-label">
            <icon>delete</icon>
            <div class="remove-instruction">
                {{ 'editor.remove_list_item_tooltip' | i18n }}
            </div>
        </div>
        <gtx-sortable-list (addItem)="deleteItem($event)"
                           [group]="{ name: removeGroupId, put: [groupId] }"
                           class="remove-area">
        </gtx-sortable-list>
    </div>
</div>

<div class="list-container"
     [class.updating]="updating"
     [class.dragging]="dragging"
     [style.height]="listHeight">
    <gtx-sortable-list #listContainer
                       (dragEnd)="dragEnd($event)"
                       [onMove]="onMove"
                       [group]="mainGroup">
        <gtx-sortable-item *ngFor="let item of value; trackBy: trackByFn">
            <div class="item-row">
                <div #listItem class="list-item"></div>
                <gtx-drag-handle (mousedown)="dragging = true"
                                 (mouseup)="dragging = false"></gtx-drag-handle>
            </div>
        </gtx-sortable-item>
    </gtx-sortable-list>
</div>


