<div class="content">

    <h5>{{ role.name }}</h5>

    <p-accordion>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">folder</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_projects' | i18n }}
                    </div>
                </div>
            </p-header>

            <ng-template pTemplate="content">
                <mesh-simple-permissions [role]="role"
                                         entityType="projects"></mesh-simple-permissions>
            </ng-template>
        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">insert_drive_file</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_nodes' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">

                <mesh-node-permissions [role]="role"></mesh-node-permissions>
            </ng-template>

        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">local_offer</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_tags' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">

                <mesh-tag-permissions [role]="role"></mesh-tag-permissions>
            </ng-template>

        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">view_quilt</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_schemas' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">

                <mesh-simple-permissions [role]="role"
                                         entityType="schemas"></mesh-simple-permissions>
            </ng-template>

        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">view_list</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_microschemas' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">

                <mesh-simple-permissions [role]="role"
                                         entityType="microschemas"></mesh-simple-permissions>
            </ng-template>
        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_users' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">
                <mesh-simple-permissions [role]="role"
                                         entityType="users"></mesh-simple-permissions>
            </ng-template>
        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_groups' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">
                <mesh-simple-permissions [role]="role"
                                         entityType="groups"></mesh-simple-permissions>
            </ng-template>
        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <div class="gtx-p-header">
                    <div class="gtx-p-header-icon">
                        <i class="material-icons">people_outline</i>
                    </div>
                    <div class="gtx-p-header-label">
                        {{ 'admin.entity_name_roles' | i18n }}
                    </div>
                </div>
            </p-header>
            <ng-template pTemplate="content">
                <mesh-simple-permissions [role]="role"
                                         entityType="roles"></mesh-simple-permissions>
            </ng-template>
        </p-accordionTab>

    </p-accordion>
</div>
