$material-design-icons-font-file-path: '~material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular';
@import "~material-design-icons-iconfont/src/material-design-icons";
@import "variables";

/** PrimeNG components overrides START */
// p-accordiontab
p-accordion {
    p-accordiontab ::ng-deep {

        // header
        .ui-accordion-header {
            margin-top: 0;
            margin-bottom: 0;

            a {
                background-color: transparent;
                margin: 0;
                border-left: none;
                border-right: none;
                border-top: none;
                padding: 0.5rem;
                color: $gtx-color-dark-gray;

                &:last {
                    border-bottom: none;
                }

                .ui-accordion-toggle-icon {
                    margin-top: -1rem;
                }
            }
        }
        // state hover
        .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
            border-left: none;
            border-right: none;
            border-top: none;
        }
        // state active
        .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
            background-color: $gtx-color-dark-gray;
            border-color: $gtx-color-dark-gray;
        }

        // body
        .ui-accordion-content {
            background-color: transparent;
            border: none;

            // inner
            .ui-treetable  {
                .ui-treetable-tbody > tr, table th {
                    background-color: transparent;
                }
                table {
                    thead tr {
                        border-bottom-color: $gtx-color-mid-gray;
                    }
                    th {
                        border-top: none;
                        border-bottom: none;
                        border-left: none;
                        border-right: none;
                    }
                }
                .ui-treetable-tbody > tr {

                    & > td {
                        border-top: none;
                        border-bottom: $gtx-color-very-light-gray;
                        border-left: none;
                        border-right: none;
                    }
                }
            }
        }
    }

    // p-header ::ng-deep {
        
    // }
}

// p-checkbox
::ng-deep p-checkbox {
    .ui-chkbox {
        .ui-chkbox-box {
            background-color: transparent;
            border-radius: 0;
            border-color: $gtx-color-mid-gray;
        }
        // checkbox icon
        .ui-chkbox-box .ui-chkbox-icon {
            overflow: visible;
            font-size: 1.5rem;
            left: -0.2rem;
            top: -0.2rem;
        }
        // active
        .ui-chkbox-box.ui-state-active {
            background-color: transparent;
            color: $gtx-color-very-dark-gray;
            border-color: transparent;
        }
    }
}

/** PrimeNG components overrides END */

.gtx-entity-filter {
    width: 25%;
    margin-bottom: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
}

.gtx-recursive-checkbox-container {
    float: right;
}

.gtx-column-name {
    width: auto;
    text-align: left;
}

.gtx-column-any {
    width: 6%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .ui-treetable th,
::ng-deep .ui-treetable td
{
    &:not(:first-child) {
        text-align: center !important;
    }
}

::ng-deep .ui-accordion-header .ui-accordion-toggle-icon {
    margin-top: -0.6rem;
}

.gtx-p-header {
    display: inline-flex;
    align-items: center;
}

.gtx-p-header-icon {
    display: flex;
    margin-right: 0.4rem;
    font-size: 1.4rem;
}

.gtx-p-header-label {
    display: flex;
}
