<gtx-top-bar *ngIf="loggedIn$ | async">
    <div class="gtx-top-bar-left">
        <gtx-button size="small"
                    flat
                    type="secondary"
                    *ngIf="!(adminMode$ | async)"
                    [routerLink]="['/admin']">Admin Mode</gtx-button>
        <gtx-button size="small"
                    flat
                    type="secondary"
                    *ngIf="adminMode$ | async"
                    [routerLink]="['/editor', 'project']">Editor Mode</gtx-button>
    </div>

    <div class="gtx-top-bar-right">
        <language-switcher></language-switcher>
        <user-dropdown></user-dropdown>
    </div>
</gtx-top-bar>
<router-outlet></router-outlet>
<gtx-overlay-host></gtx-overlay-host>
