<gtx-top-bar *ngIf="loggedIn$ | async">
    <gtx-button size="small"
                flat
                type="secondary"
                *ngIf="!(adminMode$ | async)"
                [routerLink]="['/admin']">Admin Mode</gtx-button>
    <gtx-button size="small"
                flat
                type="secondary"
                *ngIf="adminMode$ | async"
                [routerLink]="['/editor', 'project']">Editor Mode</gtx-button>

    <div class="gtx-top-bar-right">
        <project-switcher></project-switcher>
        <language-switcher></language-switcher>
        <gtx-button size="small" flat type="secondary" (click)="logOut()">Log Out</gtx-button>
    </div>
</gtx-top-bar>
<router-outlet></router-outlet>
<gtx-overlay-host></gtx-overlay-host>
