@import "variables";

html, body{
    height: 100%;
    background-color: $gtx-color-off-white;
}

app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

gtx-top-bar {
    background-color: $gtx-color-white;
    padding: 8px 0 4px;
    box-shadow: $header-box-shadow;

    .content {
        max-width: 5000px;
        width: 95%;
    }

    .gtx-top-bar-left {
        text-align: left !important;
    }
}

.logo {
    width: auto;
    height: 1.8rem;
}