.admin-menu-icon {
  cursor: pointer;
  padding: 14px 45px 16px 0;
  span, span:before, span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: lighten(@color-boulder, 10%);
    position: absolute;
    display: block;
    content: '';
  }
   span:before {
    top: -10px;
  }
   span:after {
    bottom: -10px;
  }

   span,  span:before,  span:after {
    transition: all 200ms ease;
  }
  &.open span {
    background-color: transparent;
  }
  &.open span:before, &.open span:after {
    top: 0;
    background-color: @color-subdued;
  }
  &.open span:before {
    transform: rotate(45deg);
  }
  &.open span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
  }
}

.admin-menu-container {
  font-size: @font-size-standard;
  color: @color-almost-white;
  background-color: fade(black, 70%);
  box-shadow: inset -9px 8px 17px -10px rgba(0,0,0,0.75);
  overflow: hidden;
  width: 0;
  padding-left: 0;
  transition: width 0.5s, padding-left 0.5s;

  &.open {
    width: 20vw;
    padding-left: 5vw;
  }

  .menu {
    width: 200px;
    padding: 0;

    ul {
      list-style-type: none;
      padding: 0;
      li {
        padding: 0.8em 0;
      }
    }

    a {
      transition: color 0.2s;
      &:link, &:visited {
        color: @color-alto;
      }

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  .responsive-max(@mq-sm, {
    max-height: 0;
    transition: max-height 0.5s;
    .menu ul li {
      display: inline-block;
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }
    }
    &.open {
      max-height: 12rem;
      width: 100vw;
      padding-left: 5%;
    }
  });
}