/deep/ .split-view-container {
    top: 4rem !important;
}

/deep/ .content-pane {
    height: 100%;
}

/deep/ .left-panel {
    background-color: white;
}

/deep/ .right-panel {
    position: relative;
    transform: translateX(0);
}
