<breadcrumbs></breadcrumbs>
<gtx-split-view-container class="split-view-container"
                          [class.rightPanelFocused]="editorFocused$ | async"
                          [initialSplit]="35"
                          [rightPanelVisible]="editorOpen$ | async"
                          [focusedPanel]="(editorFocused$ | async) ? 'right' : 'left'"
                          (focusedPanelChange)="setSplitFocus($event)">

    <div class="list-pane" left>
        <router-outlet name="list"></router-outlet>
    </div>

    <div class="content-pane" right>
        <router-outlet name="detail"></router-outlet>
    </div>

</gtx-split-view-container>
