:host {
    margin-top: 2rem;
}

/deep/ .content-pane {
    height: 100%;
}

/deep/ .left-panel {
    background-color: white;
}

/deep/ .right-panel {
    position: relative;
    transform: translateX(0);
}
