::ng-deep .split-view-container {
    top: 4rem !important;
}

::ng-deep .content-pane {
    height: 100%;
}

::ng-deep .left-panel {
    background-color: white;
}

::ng-deep .right-panel {
    position: relative;
    transform: translateX(0);
}
