<div class="app-content content-editor-container" ng-show="vm.isLoaded">

    <h1 class="title-font">{{ vm.content.properties[vm.availableLangs[0].code].name }}</h1>

    <div layout="rows">
        <md-checkbox md-no-ink ng-repeat="lang in vm.availableLangs" ng-model="vm.selectedLangs[lang.code]" ng-class="'lang-color-' + $index">
            {{::lang.nativeName }}
        </md-checkbox>
    </div>

    <div layout="row">
        <div flex class="content-editor-pane"
             ng-repeat="lang in vm.availableLangs"
             ng-class="'lang-color-' + $index"
             ng-if="vm.selectedLangs[lang.code]">
            <generated-form model="vm.content.properties[lang.code]"
                            fields="vm.schema.properties"
                            modified-flag="vm.contentModified"
                            perms="vm.content.perms"></generated-form>
        </div>
    </div>

    <div layout="row" layout-align="start center" class="main-buttons">

        <md-button class="md-raised md-primary"
                   ng-click="vm.persist(vm.content)"
                   ng-disabled="!vm.contentModified"
                   aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew" translate>UPDATE</span>
            <span ng-if="vm.isNew" translate>CREATE</span>
        </md-button>

        <md-button class="md-raised md-warn"
                   ng-click="vm.remove(vm.content)"
                   ng-disabled="!vm.canDelete()"
                   aria-label="delete">
            <i class="icon-delete"></i><span translate>DELETE</span>
        </md-button>

    </div>

</div>