<div class="app-content">

    <breadcrumbs></breadcrumbs>

    <div layout="rows">
        <div flex="20">
            <span class="inline-label">Edit Localized Version:</span>
        </div>
        <md-checkbox md-no-ink flex="5" ng-repeat="(lang, obj) in vm.content.properties" ng-model="vm.selectedLangs[lang]">
            {{ lang }}
        </md-checkbox>
    </div>

    <div layout="rows">
        <div flex class="content-editor-pane"
             ng-repeat="(lang, properties) in vm.content.properties"
             ng-if="vm.selectedLangs[lang]">
            <generated-form model="properties"
                            fields="vm.schema.properties"
                            modified-flag="vm.contentModified"
                            perms="vm.content.perms"></generated-form>
        </div>
    </div>

    <md-button class="md-raised md-primary"
               ng-click="vm.persist(vm.content)"
               ng-show="vm.contentModified">
        <i class="icon-save"></i><span translate>UPDATE</span>
    </md-button>

    <md-button class="md-raised md-warn"
               ng-click="vm.remove(vm.content)"
               ng-show="vm.canDelete()">
        <i class="icon-delete"></i><span translate>DELETE</span>
    </md-button>

</div>