<div class="app-content">
    <h1>Projects</h1>


    <md-content>
        <md-list>
            <md-item ng-repeat="project in vm.projects">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3><a ui-sref="projects.explorer({ projectName: project.name })">{{project.name}}</a></h3>
                        <h4>Roles</h4>
                        <p>
                            Description...
                        </p>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>

</div>