.admin-form {
  max-width: 600px;
}

.admin-content-block {
  max-height: 600px;
  margin-bottom: 30px;
}

.admin-toolbar {
  background-color: @color-concrete;
  color: @color-subdued;
  border-bottom: 1px solid @color-silver;

  .md-toolbar-tools {
    font-size: @font-size-standard;
  }

  h2 {
    font-size: @font-size-title-2;
  }
}