@import "variables";

.publish {
    color: $gtx-color-success;

    &[disabled] {
        opacity: 0.2;
    }
}

.dangerous {
    color: $gtx-color-alert;

    &[disabled] {
      opacity: 0.2;
    }
}

.placeholder {
    height: 0;
    overflow: hidden;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    visibility: hidden;
}
