.explorer-folders-col, .explorer-contents-col {
  h2 {
    font-family: @title-font;
    color: @color-boulder;
    font-weight: 300;
    font-size: @font-size-title-2;
    margin-top: 0;
  }
}

.explorer-contents-col {
  .responsive-min(@mq-sm, {
    h2 {
      padding-left: 10px;
    }
    .actions-bar {
      padding-left: 10px;
    }
    border-left: 1px solid @color-concrete;
  });
}

.create-options {
  min-width: 145px;
}

.actions-bar {
  margin: 1em 0;
  button {
    margin: 0 3px;
  }
}