.animate-item.ng-enter, .animate-item.ng-move {
  transition: 0.15s linear all;
  opacity:0;
}

.animate-item.ng-enter.ng-enter-active,
.animate-item.ng-move.ng-move-active {
  opacity:1;
}

.animate-item.ng-enter-stagger {
  transition-delay: 0.03s ;
  transition-duration: 0s ;
}

.explorer-tags-col, .explorer-contents-col {
  h2 {
    font-family: @title-font;
    color: @color-boulder;
    font-weight: 300;
    font-size: @font-size-title-2;
    margin-top: 0;
  }
}

.create-options {
  min-width: 145px;
}