<div class="app-content">
    <project-search-bar></project-search-bar>

    <div layout="row" layout-sm="column">

        <div flex-gt-sm="25" flex-gt-md="15" class="explorer-tags-col">
            <h2>Tags
                <md-button aria-label="Create Tag">
                    <i class="icon-add"></i>
                </md-button>
            </h2>

            <explorer-tags-list tags="vm.tags"></explorer-tags-list>
        </div>

        <div flex class="explorer-contents-col">
            <h2>Contents
                <md-button class="md-icon-button" aria-label="Create Tag">
                                    <i class="icon-add"></i>
                                </md-button>
            </h2>

            <!--<div flex layout="row" layout-align="end" class="create-content-menu">
                <md-select ng-model="_" ng-if="vm.createPermission">
                    <md-select-label>
                        <div class="user-name" translate>CREATE_NEW</div>
                    </md-select-label>
                    <md-option ng-repeat="schema in vm.schemas"
                               value="{{::$index}}"
                               ui-sref="projects.explorer.createContent({ schemaId: schema.uuid })">
                        {{::schema.displayName || schema.title}}
                    </md-option>
                </md-select>

            </div>-->

            <explorer-contents-list contents="vm.contents"
                                    current-page="vm.currentPage"
                                    items-per-page="vm.itemsPerPage"
                                    total-items="vm.totalItems"
                                    on-update="vm.updateContents(currentPage, itemsPerPage)">
            </explorer-contents-list>
        </div>
    </div>

</div>