.explorer-tags-col, .explorer-contents-col {
  h2 {
    font-family: @title-font;
    color: @color-boulder;
    font-weight: 300;
    font-size: @font-size-title-2;
    margin-top: 0;
  }
}

.create-options {
  min-width: 145px;
}

.group-actions {
  margin: 1em 0;
  button {
    margin: 0 3px;
  }
}