<div class="app-content">

    <breadcrumbs></breadcrumbs>

    <div layout="row">

        <explorer-side-nav></explorer-side-nav>

        <md-content class="md-padding" flex>

            <div layout="columns">
                <div flex>
                    <dir-pagination-controls on-page-change="vm.getPage(newPageNumber)"></dir-pagination-controls>
                </div>
                <div flex="30" layout="columns" layout-align="center center ">
                    <div flex>
                        <div class="select-label">Items per page:</div>
                    </div>
                    <div flex>
                        <md-select ng-model="vm.itemsPerPage">
                            <md-option ng-value="number" ng-repeat="number in [10, 25, 50]">{{ number }}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>

            <table class="md-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Schema</th>
                        <th>Author</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in vm.contents | itemsPerPage: vm.itemsPerPage" total-items="vm.totalItems" current-page="vm.currentPage">
                        <td>{{ item.properties.name }}</td>
                        <td>{{ item.schemaName }}</td>
                        <td>{{ item.author.firstname }} {{ item.author.lastname }}</td>
                        <td>{{ item.created }}</td>
                    </tr>
                </tbody>
            </table>

        </md-content>


    </div>

</div>