<gtx-dropdown-list>
    <gtx-dropdown-trigger>
        <gtx-button [disabled]="disabled" size="small" flat><icon left>add</icon> {{ 'editor.create_node' | i18n }}</gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content>
        <gtx-dropdown-item *ngFor="let schema of schemas$ | async" (click)="itemClick(schema)">
            <div class="name-row">
                <icon>{{ schema.icon }}</icon>
                <div class="name">{{ schema.name }}</div>
            </div>
            <div class="description">{{ schema.description }}</div>
        </gtx-dropdown-item>
    </gtx-dropdown-content>
</gtx-dropdown-list>
