<p-checkbox [label]="'Can create new ' + entityType"
            [ngModel]="canCreate"
            binary="true"
            class="gtx-can-create"
            (onChange)="canCreateClicked($event)"></p-checkbox>
<p-treeTable [value]="treeTableData"
             sortMode="multiple"
             [columns]="columns"
             [loading]="loading">
    <ng-template pTemplate="header"
                 let-columns>
        <tr>
            <th *ngFor="let col of columns"
                [class]="col.field === 'name' ? 'gtx-column-name': 'gtx-column-any'"
                (click)="columnClicked(col.field)">
                <ng-container *ngIf="col.field !== 'name'">
                    <mesh-icon-checkbox [iconName]="col.iconName"
                                        [actionName]="col.header"
                                        [value]="allCheckedColumn(col.field)"
                                        [disabled]="true">
                    </mesh-icon-checkbox>
                </ng-container>

                <ng-container *ngIf="col.field === 'name'">
                    {{col.header}}
                </ng-container>
            </th>
            <th class="gtx-column-any"
                title="select all"
                (click)="columnAllClicked()">
                <mesh-icon-checkbox label="all"
                                    actionName="check all"
                                    [value]="allCheckedAll()"
                                    [disabled]="true">
                </mesh-icon-checkbox>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-rowNode
                 let-rowData="rowData"
                 let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index"
                (click)="togglePermission(rowNode, col.field)"
                class="gtx-column-any">
                <ng-container *ngIf="col.field !== 'name'">
                    <p-treeTableToggler *ngIf="i == 0"
                                        [rowNode]="rowNode"></p-treeTableToggler>
                    <mesh-icon-checkbox [value]="rowData.rolePerms[col.field]"
                                        [iconName]="col.iconName"
                                        [actionName]="col.header"
                                        [disabled]="true">
                    </mesh-icon-checkbox>
                </ng-container>

                <ng-container *ngIf="col.field === 'name'">
                    <p-treeTableToggler *ngIf="i == 0"
                                        [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData[col.field] }}
                </ng-container>
            </td>
            <td class="gtx-column-any"
                title="select all">
                <p-checkbox binary="true"
                            [ngModel]="allChecked(rowData)"
                            (onChange)="toggleAllPermissions(rowNode)"></p-checkbox>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
