<div class="app-content">
    <h1 class="page-title">Groups</h1>

    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label translate>FILTER_GROUPS</label>
                <input ng-model="vm.groupFilter">
            </md-input-container>
            <button class="btn btn-small btn-primary" aria-label="Create Project" ui-sref="admin.groups.create">
                <span translate>CREATE_NEW_GROUP</span>
            </button>
        </div>
    </md-toolbar>
    <md-content layout-padding class="admin-content-block">

        <table class="mh-table">
            <tr ng-repeat="group in vm.groups | filter: vm.filterFn track by group.uuid">
                <td>
                    <a ui-sref="admin.groups.detail({ uuid: group.uuid })">
                        <strong>{{ group.name }}</strong><br>
                    </a>
                </td>
                <td>
                    <md-chips ng-model="group.roles"
                              readonly="group.name === 'admin'"
                              md-require-match="true"
                              md-on-append="vm.validateRole($chip, group)"
                              md-on-remove="vm.removeRole($chip, group)">

                        <md-autocomplete
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-items="role in vm.filterBy(vm.roles, searchText)"
                                md-item-text="group.name"
                                placeholder="Add a role">
                            <span md-highlight-text="searchText">{{ role.name }}</span>
                        </md-autocomplete>

                        <md-chip-template>
                            <span>{{ vm.displayChipName($chip) }}</span>
                        </md-chip-template>

                    </md-chips>

                </td>
            </tr>
        </table>
    </md-content>
</div>