<div class="modal-title">
    <h5>{{ 'modal.create_new_tag' | i18n }}</h5>
</div>
<div class="modal-content">
    <gtx-input #InputTagName
            label="Tag Name"
            [(ngModel)]="newTagName"
            (change)="InTagNameInputChange($event)">
    </gtx-input>
    <br />
    <gtx-dropdown-list belowTrigger="true" #TagFamilyList width="trigger">
        <gtx-dropdown-trigger>
            <gtx-input #InputTagFamily
                    [(ngModel)]="inputTagFamilyValue"
                    label="Tag Family"
                    (ngModelChange)="onFamilyNameInputChange($event)">
            </gtx-input>
        </gtx-dropdown-trigger>
        <gtx-dropdown-content>
            <gtx-dropdown-item *ngFor="let family of filteredFamilies"
                                (click)="onFamilySelected(family)"
                                [innerHTML]="family.valueFormated">
            </gtx-dropdown-item>
        </gtx-dropdown-content>
    </gtx-dropdown-list>
</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="closeFn(false)">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button type="primary" (click)="saveAndClose()"><icon left>save</icon> {{ 'modal.save_and_close_button' | i18n }}</gtx-button>
</div>
