<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.users.list">Users</a>
                </span>
            </li>
            <li ng-if="vm.isNew">
                <span translate>CREATE_NEW_USER</span>
            </li>
            <li ng-if="!vm.isNew">
                <span>
                    {{ vm.user.username }}
                </span>
            </li>
        </ul>
    </div>

    <form name="projectEditorForm" class="admin-form">

        <md-input-container>
            <label translate>USERNAME</label>
            <input type="text" ng-model="vm.user.username" ng-change="vm.modified = true" autocomplete="off">
        </md-input-container>
        <md-input-container>
            <label translate>PASSWORD</label>
            <input type="password" ng-model="vm.user.password" ng-change="vm.modified = true" autocomplete="new-password">
        </md-input-container>
        <md-input-container>
            <label translate>FIRST_NAME</label>
            <input type="text" ng-model="vm.user.firstname" ng-change="vm.modified = true">
        </md-input-container>
        <md-input-container>
            <label translate>LAST_NAME</label>
            <input type="text" ng-model="vm.user.lastname" ng-change="vm.modified = true">
        </md-input-container>
        <md-input-container>
            <label translate>EMAIL_ADDRESS</label>
            <input type="text" ng-model="vm.user.emailAddress" ng-change="vm.modified = true">
        </md-input-container>
    </form>

    <div layout="row" layout-align="center center" class="mh-main-buttons">

        <button class="btn btn-primary"
                ng-click="vm.persist(vm.user)"
                ng-disabled="!vm.modified"
                aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew" translate>UPDATE</span>
            <span ng-if="vm.isNew" translate>CREATE</span>
        </button>

        <button class="btn btn-warn"
                ng-click="vm.remove(vm.user)"
                ng-disabled="!vm.canDelete()"
                aria-label="delete">
            <i class="icon-delete"></i><span translate>DELETE</span>
        </button>

    </div>
</div>