@import "variables";
@import "search-bar-styles";
@include filter-selection;

$add-tag-button-width: 100px;

.search-bar-container {
    position: relative;
    height: 2.5rem;
}

.add-tag {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $add-tag-button-width;
    z-index: 1;
    background-color: white;

    .add-tag-button {
        position: absolute;
        left: 0;
        top: 2px;
        will-change: transform;
        transition: opacity 0.2s, transform 0s;
    }

    gtx-input {
        max-width: 0;
        opacity: 0;
        will-change: max-width;
        transition: max-width 0.2s, opacity 0.2s;
        color: $gtx-color-off-black;

        /deep/ input {
            margin: 0 !important;
        }
    }

    &.active {
        width: 100%;

        .add-tag-button {
            opacity: 0;
            transform: translateX(-$add-tag-button-width);
            transition: opacity 0.2s, transform 0s 0.2s;
        }
        gtx-input {
            max-width: 100%;
            opacity: 1;
        }
    }
}

.tags-list {
    margin-left: $add-tag-button-width;
    margin-top: 5px;
}

.search-chip {
    display: inline-block;
}
