<div class="search-bar-container">
    <div class="add-tag"
         [class.active]="inputIsFocused"
         (click)="addTagClick()">
        <gtx-button type="secondary"
                    size="small"
                    class="add-tag-button">
            <icon left>add</icon> {{ 'editor.add_tag' | i18n }}
        </gtx-button>
        <gtx-input [(ngModel)]="filterTerm"
                   placeholder="{{ 'editor.add_tag' | i18n }}"
                   (change)="onFilterChange($event)"
                   (focus)="onInputFocus($event)"
                   (blur)="onInputBlur()"
        ></gtx-input>
    </div>
    <div class="tags-list">
        <mesh-tag *ngFor="let tag of nodeTags"
                  [tag]="tag"
                  (removeClick)="onTagDeleted(tag)"></mesh-tag>
    </div>
</div>
<gtx-dropdown-list belowTrigger="true" width="trigger">
    <gtx-dropdown-trigger>
        <div></div>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content>
        <span></span>
        <gtx-dropdown-item *ngFor="let tag of filteredTags" (click)="onTagSelected(tag)">
            <span class="tag-family">{{tag.tagFamily.name}}</span>
            <span class="tag-name" [meshBackgroundFrom]="tag.tagFamily.name">
                <span [innerHTML]="tag.name | highlight:filterTerm"></span>
            </span>
        </gtx-dropdown-item>
        <gtx-dropdown-item *ngIf="newTagName" class="create-new-tag" (click)="onCreateNewTagClick()">
            <span class="tag-family">{{ 'editor.create_new_tag' | i18n }} </span>{{newTagName}}
        </gtx-dropdown-item>
    </gtx-dropdown-content>
</gtx-dropdown-list>
