<div class="search-bar-container">
    <div class="add-tag"
         [class.active]="inputIsFocused || displayTagSelection"
         (click)="addTagClick()">
        <gtx-button type="secondary"
                    size="small"
                    class="add-tag-button">
            <icon left>add</icon> {{ 'editor.add_tag' | i18n }}
        </gtx-button>
        <gtx-input [(ngModel)]="filterTerm"
                   placeholder="{{ 'editor.add_tag' | i18n }}"
                   (change)="onFilterChange($event)"
                   (focus)="onInputFocus($event)"
                   (blur)="onInputBlur()"
        ></gtx-input>
    </div>
    <div class="tags-list">
        <mesh-tag *ngFor="let tag of nodeTags"
                  [tag]="tag"
                  (removeClick)="onTagDeleted(tag)"></mesh-tag>
    </div>
</div>
<mesh-tag-selector [tags]="filteredTags"
                   [active]="displayTagSelection"
                   [filterTerm]="filterTerm"
                   [canCreate]="true"
                   (selectTag)="onTagSelected($event)"
                   (close)="displayTagSelection = false"
                   (createNewTag)="onCreateNewTagClick($event)"></mesh-tag-selector>
