@import "variables";
@import "search-bar-styles";
@include filter-selection;
@include search-chip;
@include tag-filter;



gtx-dropdown-list, gtx-dropdown-trigger {
    width: 100%;
    display: block;
}

gtx-dropdown-content {
    max-height: 300px !important; /* !important because the gtx-dropdown-list will try to overwrite it */
}

.tags-list {
    margin-top: 5px;
}

.search-chip {
    display: inline-block;
}

gtx-input {
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.87) 1px 3px 7px -5px;
}

gtx-input /deep/ input {
    margin: 0 !important;
    border: none;
    padding-left: 15px;
    outline: none !important;
    color: $gtx-color-off-black;
}

.create-new-tag {
    border-top: 2px solid rgba($gtx-color-off-black, 0.2);
}
