@import "variables";
@import "search-bar-styles";
@include filter-selection;

$add-tag-button-width: 100px;

:host {
    display: block;
    position: relative;
    padding: 0 5px;
    box-shadow: $header-box-shadow;
}

.tag-bar-container {
    position: relative;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.4rem 0 0.8rem;
}

.add-tag {
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

gtx-input {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 0;
    opacity: 0;
    z-index: 1;
    will-change: max-width, opacity;
    transition: max-width 0.2s, opacity 0.2s;
    color: $gtx-color-off-black;

    /deep/ input[type=text],
    /deep/ input[type=text]:focus:not([readonly]) {
        margin: 0 !important;
        border-color: transparent;
        background-color: white;
    }

    &.active {
        max-width: 100%;
        opacity: 1;
    }
}

.tags-list {
    line-height: 2.5rem;
}

.search-chip {
    display: inline-block;
}

mesh-tag-selector {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 2.5rem;
}
