<div class="user-details">
    <form [formGroup]="form">
        <gtx-input formControlName="userName" [label]="'admin.user_name_label' | i18n"></gtx-input>
        <gtx-input formControlName="firstName" [label]="'admin.first_name_label' | i18n"></gtx-input>
        <gtx-input formControlName="lastName" [label]="'admin.last_name_label' | i18n"></gtx-input>
        <gtx-input formControlName="emailAddress" [label]="'admin.email_address_label' | i18n"></gtx-input>
    </form>
</div>

<div class="actions">
    <gtx-button type="primary" [disabled]="form.pristine" (click)="updateUser()">{{ 'admin.update_user' | i18n }}</gtx-button>
</div>
