:host {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.44);
    margin: 5px;
    padding: 5px;
}

.micronode-control-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    overflow: hidden;
    justify-content: space-between;

    /deep/ & > .mesh-field {
        margin-left: 20px;
        margin-right: 20px;
    }
}
