:host {
    border: 1px solid darkolivegreen;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.micronode-control-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    overflow: hidden;

    /deep/ & > .mesh-field {
        margin-left: 20px;
        margin-right: 20px;
    }
}
