.preview {
    max-height: 270px;
    max-width: 100%;
}

.audio {
    margin-top: 120px;
}

.node-icon {
    font-size: 10vw;
    width: 100%;
    text-align: center;
}

.media-properties {
    position: absolute;
    width:100%;
    bottom: 10px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
