<div layout="column" class="node-selector">

    <div class="breadcrumbs">
        <ul>
           <li ng-repeat="label in vm.breadcrumbs" ng-if="label.name">
               <span>
                    <a href="#" ng-click="vm.openNode(label.uuid)">{{ label.name }}</a>
               </span>
        </li>
        </ul>
    </div>

    <div layout="row">

        <div flex="20">
            <div class="tag-list-container">
                <ul class="tag-list">
                    <li ng-repeat="folder in vm.folders track by $index" class="tag-item" ng-click="vm.openNode(folder.uuid)">
                        <a href="#" class="a-plain">{{ folder.segmentName }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div flex>

            <table class="mh-table" ng-show="0 < vm.contents.length" ng-if="vm.displayMode === 'list'">
                <tbody>
                <tr ng-repeat="content in vm.contents track by content.uuid"
                    ng-class="{ selected: vm.isSelected(content) }"
                    ng-click="vm.toggleSelect(content)">
                    <td>
                        <md-checkbox md-no-ink ng-checked="vm.isSelected(content)" aria-label="Select All"></md-checkbox>
                    </td>
                    <td>{{:: content.fields[content.displayField] }}</td>
                    <td>{{:: content.schema.name }}</td>
                </tr>
                </tbody>
            </table>

            <div class="node-grid" ng-if="vm.displayMode === 'grid'" layout="row" layout-wrap>
                <div class="grid-item"
                     layout="column" layout-align="space-around center"
                     ng-repeat="content in vm.contents track by content.uuid"
                     ng-class="{ selected: vm.isSelected(content) }"
                     ng-click="vm.toggleSelect(content)">
                    <img ng-src="{{:: content.path }}">
                    <div>{{:: content.fields[content.displayField] }}</div>
                </div>
            </div>
        </div>

    </div>


</div>