.node-selector {

  min-height: 300px;

  .breadcrumbs {
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: @font-size-standard;

    ul {
      margin-top: 0;
    }

    li span {
      font-size: @font-size-standard;
    }
  }
}