.node-selector {
  min-height: 300px;

  .breadcrumbs {
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: @font-size-standard;

    ul {
      margin-top: 0;
    }

    li span {
      font-size: @font-size-standard;
    }
  }

  .grid-item {
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid @color-concrete;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: @color-concrete;
    }

    &.selected {
      background-color: @color-concrete;
      border-color: @color-primary;
      box-shadow: @mh-box-shadow;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}