<div layout="column" class="node-selector">

    <div class="breadcrumbs">
        <ul>
            <li ng-repeat="label in vm.breadcrumbs">
               <span>
                    <a href="" ng-click="vm.openNode(label, $event)">{{ label.name }}</a>
               </span>
            </li>
        </ul>
    </div>

    <md-input-container>
        <label>Filter</label>
        <input type="text" ng-model="vm.q">
    </md-input-container>

    <div layout="row">
        <div flex>
            <table class="mh-table" ng-show="0 < vm.nodes.length" ng-if="vm.displayMode === 'list'">
                <tbody>
                <tr ng-repeat="node in vm.nodes | filter: vm.filterNodes track by node.uuid"
                    class="node-selector-table"
                    ng-class="{ selected: vm.isSelected(node) }"
                    ng-click="vm.toggleSelect(node)">
                    <td>
                        <md-checkbox ng-show="vm.isAllowedSchema(node)"
                                     md-no-ink
                                     ng-checked="vm.isSelected(node)"
                                     aria-label="Select All"></md-checkbox>
                    </td>
                    <td>
                        <span ng-click="vm.openNode(node, $event)" class="node-name" ng-class="::{ 'link': node.container }">
                            {{:: node.fields[node.displayField] }}
                        </span>
                    </td>
                    <td>{{:: node.schema.name }}</td>
                </tr>
                </tbody>
            </table>

            <div class="node-grid" ng-if="vm.displayMode === 'grid'" layout="row" layout-wrap>
                <div class="grid-item"
                     layout="column" layout-align="space-around center"
                     ng-repeat="node in vm.nodes | filter: vm.filterNodes track by node.uuid"
                     ng-class="{ selected: vm.isSelected(node) }"
                     ng-click="vm.toggleSelect(node)">
                    <binary-thumbnail src-node="node"></binary-thumbnail>
                    <div>
                        <span ng-click="vm.openNode(node, $event)"  class="node-name" ng-class="::{ 'link': node.container }">
                            {{:: node.fields[node.displayField] }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>