<div class="list-container editor-widget">
    <label>{{:: field.label || field.name }}</label>
    <div>
        <ul dnd-list="model[path]"
            dnd-drop="endDrag(item, index, model[path])"
            dnd-allowed-types="[listTypeField.name]">

            <li flex ng-repeat="item in model[path] track by tracker(item, $id, $index)"
                class="list-item"
                layout="row"
                dnd-draggable="item"
                dnd-dragstart="startDrag($index)"
                dnd-type="listTypeField.name">

                <widget-proxy flex model="model[path]" path="$index" field="listTypeField"></widget-proxy>

                <div>
                    <div class="remove-item list-icon-btn" ng-click="removeItem($index)">
                       <i class="icon-close" title="Remove from list"></i>
                    </div>
                </div>
                <div class="sort-handle list-icon-btn" dnd-handle>
                    <div class="">
                        <i class="icon-more-vert" title="Drag to sort"></i>
                    </div>
                </div>

            </li>
        </ul>

        <div layout="row" class="add-item-row">
            <div ng-if="listTypeField.type !== 'microschema'">
                <div class="add-item list-icon-btn" ng-click="addItem()" ng-disabled="model[path].length >= listTypeField.max" title="Add item to list">
                    <i class="icon-add">
                    </i>
                </div>
            </div>

            <div ng-if="listTypeField.type === 'microschema'">
                <mh-dropdown>
                    <mh-dropdown-label>
                        <button class="btn btn-small btn-primary"  ng-disabled="model[path].length >= listTypeField.max" aria-label="Add Item">
                            Add Widget <i class="icon-arrow-drop-down"></i>
                        </button>
                    </mh-dropdown-label>
                    <mh-dropdown-body>
                        <ul class="create-options">
                            <li ng-repeat="microschema in listTypeField.allow"  ng-click="addWidget(microschema)"><a href="#" class="a-plain">{{:: microschema }}</a></li>
                        </ul>
                    </mh-dropdown-body>
                </mh-dropdown>
            </div>
        </div>

    </div>
</div>