<div class="list-container"  flex="100">
    <div ng-repeat="item in model[path] track by $index" layout="row">
        <widget-proxy flex model="model[path]" path="$index" field="listTypeField"></widget-proxy>
        <div flex="20">
            <button class="btn btn-small" ng-click="removeItem($index)">Remove</button>
        </div>
    </div>

    <div ng-if="listTypeField.type !== 'microschema'">
        <button class="btn btn-small btn-primary" ng-click="addItem()" ng-disabled="model[path].length >= listTypeField.max">Add item</button>
    </div>

    <span ng-if="listTypeField.type === 'microschema'">
        <mh-dropdown>
            <mh-dropdown-label>
                <button class="btn btn-small btn-primary"  ng-disabled="model[path].length >= listTypeField.max" aria-label="Add Item">
                    Add Item <i class="icon-arrow-drop-down"></i>
                </button>
            </mh-dropdown-label>
            <mh-dropdown-body>
                <ul class="create-options">
                    <li ng-repeat="microschema in listTypeField.allow"><a href="#" ng-click="addWidget(microschema)">{{:: microschema }}</a></li>
                </ul>
            </mh-dropdown-body>
        </mh-dropdown>
    </span>
</div>