@import "variables";

:host {
    display: block;
    position: relative;

    ::ng-deep gtx-breadcrumbs > nav {
        box-shadow: none;
    }
    
    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb {
        color: $gtx-color-mid-gray !important;
        cursor: pointer;
    }
    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb:last-child,
    ::ng-deep gtx-breadcrumbs > nav a.breadcrumb::before
    {
        color: $gtx-color-very-light-gray !important;
    }
}

.bar-wrapper {
    display: flex;
    background-color: $gtx-breadcrumbs-background-color;
}

gtx-breadcrumbs {
    height: 40px;
    flex: 1;
}

mesh-content-portal {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
