<mesh-admin-list [items]="schemas$ | async"
                 [itemsPerPage]="25"
                 [currentPage]="currentPage$ | async"
                 [(selection)]="selectedIndices"
                 (pageChange)="onPageChange($event)">

    <div class="list-controls">

        <div class="with-selected"
             [class.hidden]="selectedIndices.length === 0">
            <gtx-button flat
                        type="alert"
                        [title]="'admin.delete_selected_schemas' | i18n: { count: selectedIndices.length }"
                        (click)="deleteSchemas(selectedIndices)"
                        size="small">
                <icon>delete</icon>
            </gtx-button>
        </div>

        <div class="filter">
            <gtx-input [label]="'admin.filter_by_name' | i18n"
                       [formControl]="filterInput"></gtx-input>
        </div>

        <gtx-button (click)="createSchema()">{{ 'admin.schema_create' | i18n }}</gtx-button>

    </div>

    <ng-template let-schema="item">

        <div>
            <a [routerLink]="['/admin/schemas', schema.uuid]">
                <gtx-contents-list-item>
                    <div class="item-primary"
                         [innerHTML]="schema.name | highlight:filterTerm"></div>
                </gtx-contents-list-item>
            </a>
        </div>

    </ng-template>

</mesh-admin-list>
