.tags-input-label {
}

.tags-input-container {

}

.new-tag-text {
  height: 20px;
  padding: 10px;

  .new-tag-link {
    cursor: pointer;
    color: @color-primary;
    .noselect();
  }
}

.autocomplete-template {
  .family-name {
    font-size: @font-size-smaller;
    color: @color-dusty;
  }
}

