<mh-dropdown sticky="true">
    <mh-dropdown-label layout="row" layout-align="end center" class="tags-input-label">
        <button class="btn btn-small"><i class="icon-add"></i> <span translate>ADD_TAG</span></button>
    </mh-dropdown-label>
    <mh-dropdown-body>

        <div class="tags-input-container">
            <div class="new-tag-text">
                <div class="new-tag-link" ng-click="vm.newTagDialog(vm.tagSearch)">
                    <span translate>CREATE_NEW_TAG</span>
                </div>
            </div>
            <md-autocomplete
                    md-selected-item="vm.selectedTag"
                    md-search-text="vm.tagSearch"
                    md-no-cache="true"
                    md-items="tag in matches = vm.querySearch(vm.tagSearch)"
                    md-selected-item-change="vm.addTag(vm.selectedTag)"
                    md-item-text="tag.name"
                    md-min-length="0"
                    placeholder="{{ 'SELECT_A_TAG' | translate }}">

                <md-item-template>
                    <div class="autocomplete-template" layout="row" layout-align="start center">
                        <span class="family-name">{{ tag.tagFamily.name }}</span>
                        <tag source="tag" show-close="false"></tag>
                    </div>
                </md-item-template>

            </md-autocomplete>
        </div>
    </mh-dropdown-body>
</mh-dropdown>

