<div class="content-editor-container" ng-show="vm.isLoaded">


    <div layout="row" layout-align="center start" class="editor-top-bar">
        <div class="published-toggle">
            <md-checkbox ng-model="vm.node.published" ng-change="vm.setAsModified()" aria-label="Published" md-no-ink>
              <span translate>PUBLISHED</span>
            </md-checkbox>
        </div>
        <div>
            <preview-selector node="vm.node"></preview-selector>
        </div>

        <div>
            <node-language-menu node="vm.node"
                                on-translate-click="vm.createTranslation(code, vm.node)"
                                on-change-language="vm.openInLanguage(code, vm.node)"></node-language-menu>
        </div>


        <div flex>
            <div class="tags-list-container" layout="row" layout-align="start center" ng-if="!vm.isNew(vm.node)">
                <div>
                    <tag ng-repeat="tag in vm.tags track by tag.uuid"
                         show-close="true"
                         on-close="vm.removeTag(tag)"
                         source="tag"></tag>
                </div>

                <div flex></div>

                <div>
                <div class="tags-input-wrapper">
                    <tags-input on-add="vm.addTag(tag)" tags="vm.availableTags"></tags-input>
                </div>
                </div>
            </div>
        </div>
    </div>

    <form-builder fields="vm.node.fields"
                  schema="vm.schema.fields"
                  project-name="vm.projectName"
                  node="vm.node"
                  display-field="vm.schema.displayField"
                  on-change="vm.setAsModified()"
                  perms="vm.node.permissions"></form-builder>

    <div layout="row" layout-align="center center" class="mh-main-buttons">

        <button class="btn btn-primary"
                ng-click="vm.persist(vm.node)"
                ng-disabled="!vm.contentModified"
                aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew(vm.node)" translate>UPDATE</span>
            <span ng-if="vm.isNew(vm.node)" translate>CREATE</span>
        </button>

        <button class="btn btn-warn"
                ng-click="vm.remove(vm.node)"
                ng-disabled="!vm.canDelete(vm.node)"
                aria-label="delete">
            <i class="icon-delete"></i> <span translate>DELETE</span>
        </button>

    </div>

</div>