<div class="content-editor-container" ng-show="vm.isLoaded">


    <div layout="row" layout-align="center start" class="editor-top-bar">
        <div class="published-status">
            <span class="published" ng-if="vm.isPublished()"><span translate>PUBLISHED</span></span>
            <span class="draft" ng-if="!vm.isPublished()" ><span translate>DRAFT</span></span>
            <span class="version">v{{ vm.node.version }}</span>
        </div>
        <div>
            <preview-selector node="vm.node"></preview-selector>
        </div>

        <div>
            <node-language-menu node="vm.node"
                                omit-current-language="true"
                                on-translate-click="vm.createTranslation(code, vm.node)"
                                on-change-language="vm.openInLanguage(code, vm.node)"></node-language-menu>
        </div>


        <div flex>
            <div class="tags-list-container" layout="row" layout-align="start center" ng-if="!vm.isNew(vm.node)">
                <div>
                    <tag ng-repeat="tag in vm.node.tags track by tag.uuid"
                         show-close="true"
                         on-close="vm.removeTag(tag)"
                         source="tag"></tag>
                </div>

                <div flex></div>

                <div>
                <div class="tags-input-wrapper">
                    <tags-input on-add="vm.addTag(tag)" tags="vm.availableTags"></tags-input>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.liveUrl" layout="row" layout-align="start" class="editor-top-bar">
        <a target="_blank" ng-href="{{ vm.liveUrl }}">
            <i class="icon-open-in-new"></i> <span translate="LIVE_URL"></span>
        </a>
    </div>

    <form-builder fields="vm.node.fields"
                  schema="vm.schema.fields"
                  project-name="vm.projectName"
                  node="vm.node"
                  display-field="vm.schema.displayField"
                  on-change="vm.setAsModified()"
                  perms="vm.node.permissions"></form-builder>

    <div layout="row" layout-align="center center" class="mh-main-buttons">

        <button class="btn btn-primary"
                ng-if="vm.node.permissions.update"
                ng-click="vm.persist(vm.node)"
                ng-disabled="!vm.formIsValid()"
                aria-label="save">
            <i class="icon-check"></i>
            <span ng-if="!vm.isNew(vm.node)" translate>SAVE_DRAFT</span>
            <span ng-if="vm.isNew(vm.node)" translate>CREATE</span>
        </button>

        <button class="btn btn-publish"
                ng-if="vm.node.permissions.publish"
                ng-click="vm.publish(vm.node)"
                ng-disabled="!vm.readyToPublish()"
                aria-label="publish">
            <i class="icon-publish"></i>
            <span translate ng-if="!vm.formIsValid()">PUBLISH</span>
            <span translate ng-if="vm.formIsValid()">SAVE_AND_PUBLISH</span>
        </button>

        <button class="btn btn-warn"
                ng-if="vm.node.permissions.delete"
                ng-click="vm.remove(vm.node)"
                ng-disabled="!vm.canDelete(vm.node)"
                aria-label="delete">
            <i class="icon-delete"></i> <span translate>DELETE</span>
        </button>

    </div>

</div>