<mesh-admin-list [items]="microschemas$ | async"
                 [itemsPerPage]="10"
                 [currentPage]="currentPage$ | async"
                 [(selection)]="selectedItems"
                 (pageChange)="onPageChange($event)">

    <div class="list-controls">

        <div class="with-selected"
             [class.hidden]="selectedItems.length === 0">
            <gtx-button flat
                        type="alert"
                        [title]="'admin.delete_selected_schemas' | i18n: { count: selectedItems.length }"
                        (click)="deleteMicroschemas(selectedItems)"
                        size="small">
                <icon>delete</icon>
            </gtx-button>
        </div>

        <div class="filter">
            <gtx-input [label]="'admin.filter_by_name' | i18n"
                       [formControl]="filterInput"></gtx-input>
        </div>

        <gtx-button (click)="createMicroschema()">{{ 'admin.microschema_create' | i18n }}</gtx-button>

    </div>

    <ng-template let-microschema="item">
        <div>
            <a [routerLink]="['/admin/microschemas', microschema.uuid]">
                <gtx-contents-list-item>
                    <div class="item-primary"
                         [innerHTML]="microschema.name | highlight:filterTerm"></div>
                </gtx-contents-list-item>
            </a>
        </div>
    </ng-template>


</mesh-admin-list>
