@import "variables";

.section-header {
    font-size: 16px;
    color: #79797d;
    text-transform: uppercase;
}

.checkbox-wrapper {
    padding-top: 1.8rem;
    // display: flex;
    // height: 100%;

    // & > div {
    //     align-self: center;
    // }

    // /deep/ gtx-dropdown-list {
    //     .btn, .btn-large, .btn-flat {
    //         padding: 0;
    //     }
    // }
    @media screen and (max-width: $medium-screen) {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    @media screen and (max-width: $small-screen) {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

/* Remove margins for warning texts */
/deep/ gtx-search-bar, /deep/ gtx-select {
    margin-bottom: 0.4rem !important;

    @media screen and (max-width: $medium-screen) {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    @media screen and (max-width: $small-screen) {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    label {
        @media screen and (max-width: $medium-screen) {
            padding-top: 1rem;
        }
    
        @media screen and (max-width: $small-screen) {
            padding-top: 1rem;
        }   
    }
}

/deep/ gtx-input {
    // label {
    //     @media screen and (max-width: $medium-screen) {
    //         padding-top: 1rem;
    //     }
    
    //     @media screen and (max-width: $small-screen) {
    //         padding-top: 1rem;
    //     }   
    // }

    input {
        margin-bottom: 0.4rem !important;

        @media screen and (max-width: $medium-screen) {
            padding-top: 2rem;
            padding-bottom: 0;
        }

        @media screen and (max-width: $small-screen) {
            padding-top: 2rem;
            padding-bottom: 0;
        }
    }
}

/deep/ gtx-textarea {
    line-height: 0.8;
    label {
        line-height: 1.5;
    }
    & > .materialize-textarea {
        margin-bottom: 0.4rem;

        @media screen and (max-width: $medium-screen) {
            padding-top: 0;
            padding-bottom: 1rem;
        }

        @media screen and (max-width: $small-screen) {
            padding-top: 0;
            padding-bottom: 1rem;
        }
    }
}

/deep/ gtx-search-bar {
    border: 2px solid #d6d6da;
    border-radius: 3px;
    margin-top: 1.2rem;
    // flex-grow: 1;
    // z-index: 1;
    // margin: 3px;
    box-shadow: none;
    background-color: $gtx-color-off-white;

    input {
        margin-bottom: 0 !important;
    }

    &.focused {
        background-color: white;
    }

    .submit-button {
        display: none;
    }

    /deep/ mesh-chip {
        margin-bottom: 0 !important;
        margin-left: 0.3rem;
    }

    @media screen and (max-width: $medium-screen) {
        padding-top: 0;
    }

    @media screen and (max-width: $small-screen) {
        padding-top: 0;
    }
}

.schema-field {
    position: relative;
    margin-bottom: 0.6rem;

    form {
        border-top: 1px solid $gtx-color-light-gray;
        padding-top: 0.5rem;
        // box-shadow: 0 0 10px rgba( 0, 0, 0, 0.2 );
    }
}

.close-button {
    position: absolute;
    right: 0.5rem;
    top: 0;
}

.string-bar {
    label {
        position: absolute;
        color: #79797d;
    }
}

.input-note {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;

    &.invalid {
        color: $gtx-color-alert;
    }

    &.hint {
        color: $gtx-color-success;
    }
}
