<form [formGroup]="formGroup"
      class="formgroup row">

    <h2 class="section-header medium-12 columns">{{ 'admin.schema_editor_sectionlabel_schemaproperties' | i18n }}:</h2>
    <div class="input-container small-12 medium-8 columns">
        <gtx-input type="text"
                   [label]="'admin.schema_editor_inputlabel_name' | i18n"
                   formControlName="name"></gtx-input>
        <div class="input-note">
            <p *ngIf="isformControlTouched('name') && getFormControlErrorOfType('name', 'required')"
               class="invalid">{{ 'common.field_required' | i18n }}</p>
            <p *ngIf="isformControlTouched('name') && getFormControlErrorOfType('name', 'pattern')"
               class="invalid">{{ 'admin.schema_editor_validator_pattern' | i18n: { allowedchars: allowedSpecialChars } }}</p>
            <p *ngIf="isformControlTouched('name') && getFormControlErrorOfType('name', 'conflict')"
               class="invalid">{{ 'admin.schema_editor_validator_conflict' | i18n }}</p>
        </div>
    </div>

    <div class="small-12 medium-2 columns">
        <div class="checkbox-wrapper">
            <div>
                <gtx-checkbox [label]="'admin.schema_editor_inputlabel_container' | i18n"
                              formControlName="container"></gtx-checkbox>
            </div>
        </div>
    </div>

    <div class="small-12 medium-2 columns">
        <div class="checkbox-wrapper">
            <div>
                <gtx-checkbox [label]="'admin.schema_editor_inputlabel_autopurge' | i18n"
                              formControlName="autoPurge"></gtx-checkbox>
            </div>
        </div>
    </div>

    <gtx-input type="text"
               class="small-12 medium-12 columns"
               [label]="'admin.schema_editor_inputlabel_description' | i18n"
               formControlName="description"></gtx-input>

    <div class="input-container small-12 medium-4 columns">
        <gtx-select formControlName="displayField"
                    [label]="'admin.schema_editor_inputlabel_displayfield' | i18n">
            <gtx-option *ngFor="let field of displayFields"
                        [value]="field.value">{{ field.label }}</gtx-option>
        </gtx-select>
        <div class="input-note">
            <p *ngIf="isformControlTouched('displayField') && getFormControlErrorOfType('displayField', 'required')"
               class="invalid">{{ 'common.field_required' | i18n }}</p>
            <p class="warning"
               *ngIf="!hasDisplayFields()">{{ 'admin.schema_editor_warning_displayfield' | i18n }}</p>
        </div>
    </div>

    <div class="input-container small-12 medium-4 columns">
        <gtx-select formControlName="segmentField"
                    [label]="'admin.schema_editor_inputlabel_segmentfield' | i18n">
            <gtx-option *ngFor="let field of segmentFields"
                        [value]="field.value">{{ field.label }}</gtx-option>
        </gtx-select>
        <div class="input-note">
            <p class="warning"
               *ngIf="!hasSegmentFields()">{{ 'admin.schema_editor_warning_segmentfield' | i18n }}</p>
        </div>
    </div>


    <div class="input-container small-12 medium-4 columns">
        <gtx-select formControlName="urlFields"
                    [multiple]="true"
                    [label]="'admin.schema_editor_inputlabel_urlfield' | i18n">
            <gtx-option *ngFor="let field of urlFields"
                        [value]="field.value">{{ field.label }}</gtx-option>
        </gtx-select>
        <div class="input-note">
            <p class="warning"
               *ngIf="!hasUrlFields()">{{ 'admin.schema_editor_warning_urlfield' | i18n }}</p>
        </div>
    </div>

    <br>
    <div class="section-header-fields medium-12 columns">
        <h2>{{ 'admin.schema_editor_sectionlabel_schemafields' | i18n }}:</h2>
        <gtx-button size="small"
                    (click)="fieldAddAtAnim(0)">
            <icon left>add</icon>{{ 'admin.schema_editor_buttonlabel_newfield' | i18n }}
        </gtx-button>
    </div>

    <div class="small-12 medium-12 columns">
        <gtx-sortable-list (dragEnd)="fieldMove($event.oldIndex, $event.newIndex)">

            <!-- This hidden drag handle is necessary because gtx-sortable-list only
                enables drag handles if at least one is present during onContentInit(). -->
            <gtx-drag-handle *ngIf="!hasSchemaFields()"
                             class="workaround-handle"></gtx-drag-handle>

            <gtx-sortable-item *ngFor="let field of schemaFields.controls; let i = index"
                               class="schema-field"
                               #fields>
                <form [formGroup]="field">
                    <div class="field-header">
                        <h3>{{field.value?.name}}</h3>
                        <gtx-button icon
                                    class="button-close"
                                    type="secondary"
                                    [title]="'admin.schema_editor_tooltip_removefield' | i18n"
                                    (click)="fieldDelete(field, i)">
                            <icon>close</icon>
                        </gtx-button>
                        <gtx-drag-handle></gtx-drag-handle>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-3 columns">
                            <gtx-input type="text"
                                       [label]="'admin.schema_editor_inputlabel_name' | i18n"
                                       formControlName="name"></gtx-input>
                            <div class="input-note">
                                <p *ngIf="isFormControlInArrayTouched(i, 'name') && getFormControlInArrayErrorOfType(i, 'name', 'required')"
                                   class="invalid">{{ 'common.field_required' | i18n }}</p>
                                <p *ngIf="isFormControlInArrayTouched(i, 'name') && getFormControlInArrayErrorOfType(i, 'name', 'pattern')"
                                   class="invalid">{{ 'admin.schema_editor_validator_pattern' | i18n: { allowedchars: allowedSpecialChars } }}</p>
                                <p *ngIf="isFormControlInArrayTouched(i, 'name') && getFormControlInArrayErrorOfType(i, 'name', 'duplicate')"
                                   class="invalid">{{ 'admin.schema_editor_validator_duplicate' | i18n }}</p>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <gtx-input type="text"
                                       [label]="'admin.schema_editor_inputlabel_label' | i18n"
                                       formControlName="label"></gtx-input>
                        </div>

                        <div class="input-container small-12 medium-2 columns">
                            <gtx-select formControlName="type"
                                        [label]="'admin.schema_editor_inputlabel_type' | i18n">
                                <gtx-option *ngFor="let type of schemaFieldTypes"
                                            [value]="type.value">{{ type.label }}</gtx-option>
                            </gtx-select>
                            <div class="input-note">
                                <p *ngIf="isFormControlInArrayTouched(i, 'type') && getFormControlInArrayErrorOfType(i, 'type', 'required')"
                                   class="invalid">{{ 'common.field_required' | i18n }}</p>
                            </div>
                        </div>

                        <div class="small-12 medium-2 columns">
                            <div class="checkbox-wrapper">
                                <div>
                                    <gtx-checkbox [label]="'admin.schema_editor_inputlabel_required' | i18n"
                                                  formControlName="required"></gtx-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngIf="field.value.type === 'list'"
                             class="small-12 medium-4 columns">
                            <gtx-select formControlName="listType"
                                        [label]="'admin.schema_editor_inputlabel_listtype' | i18n">
                                <gtx-option *ngFor="let type of schemaFieldListTypes"
                                            [value]="type.value">{{ type.label }}</gtx-option>
                            </gtx-select>
                            <div class="input-note">
                                <p *ngIf="isFormControlInArrayTouched(i, 'listType') && getFormControlInArrayErrorOfType(i, 'listType', 'required')"
                                   class="invalid">{{ 'common.field_required' | i18n }}</p>
                            </div>
                        </div>

                        <div *ngIf="field.value.type === 'node' || field.value.listType === 'node'"
                             class="input-container small-12 medium-7 columns">
                            <gtx-select formControlName="allow"
                                        [value]="allowValueGetAt(i)"
                                        (change)="allowValueSetAt(i, $event)"
                                        [multiple]="true"
                                        [label]="'admin.schema_editor_inputlabel_allowedschemas' | i18n">
                                <gtx-option *ngFor="let schema of (allSchemas$ | async)"
                                            [value]="schema.name">{{ schema.name }}</gtx-option>
                            </gtx-select>
                            <div class="input-note">
                                <p *ngIf="isFormControlInArrayTouched(i, 'allow') && getFormControlInArrayErrorOfType(i, 'allow', 'required')"
                                   class="invalid">{{ 'common.field_required' | i18n }}</p>
                            </div>
                        </div>

                        <div *ngIf="field.value.type === 'micronode' || field.value.listType === 'micronode'"
                             class="input-container small-12 medium-7 columns">
                            <gtx-select formControlName="allow"
                                        [value]="allowValueGetAt(i)"
                                        (change)="allowValueSetAt(i, $event)"
                                        [multiple]="true"
                                        [label]="'admin.schema_editor_inputlabel_allowedmicroschemas' | i18n">
                                <gtx-option *ngFor="let microschema of (allMicroschemas$ | async)"
                                            [value]="microschema.name">{{ microschema.name }}</gtx-option>
                            </gtx-select>
                            <div class="input-note">
                                <p *ngIf="isFormControlInArrayTouched(i, 'allow') && getFormControlInArrayErrorOfType(i, 'allow', 'required')"
                                   class="invalid">{{ 'common.field_required' | i18n }}</p>
                            </div>
                        </div>

                        <div *ngIf="field.value.type === 'string' || field.value.listType === 'string'"
                             class="string-bar small-12 medium-7 columns">
                            <label class="ng-star-inserted">{{ 'admin.schema_editor_inputlabel_allowedstrings' | i18n }}</label>
                            <gtx-search-bar formControlName="allow"
                                            (search)="allowValueOnStringInputAddAt(i, $event)"
                                            (keydown.backspace)="allowValueRemoveLastAt(i)"
                                            [placeholder]="'admin.schema_editor_placeholder_allowedstrings' | i18n"
                                            (clear)="formControlInArrayClear(i, 'allow')">

                                <mesh-chip *ngFor="let item of allowValues[i]"
                                           (removeClick)="allowValueRemoveAt(i, item)">
                                    {{ item }}
                                </mesh-chip>
                            </gtx-search-bar>
                        </div>
                    </div>
                </form>
                <gtx-button icon
                            class="button-add"
                            type="secondary"
                            [title]="'admin.schema_editor_tooltip_insertnewfield' | i18n"
                            (click)="fieldAddAtAnim(i + 1)">
                    <icon>add</icon>
                </gtx-button>
            </gtx-sortable-item>
        </gtx-sortable-list>
    </div>

    <div *ngIf="schemaFields.value.length > 0"
         class="section-header-fields medium-12 columns">
        <gtx-button size="small"
                    (click)="fieldAddAnim()">
            <icon left>add</icon>{{ 'admin.schema_editor_buttonlabel_newfield' | i18n }}
        </gtx-button>
    </div>

    <div *ngIf="schemaFields.value.length === 0"
         class="small-12 medium-12 columns">
        <p class="warning">{{ 'admin.schema_editor_warning_nofields' | i18n }}</p>
    </div>
</form>
