<form [formGroup]="formGroup"
      class="formgroup row">

    <h2 class="section-header medium-10 columns">Schema Properties:</h2>
    <div class="small-12 medium-10 columns">
        <gtx-input type="text"
                   label="Schema Name"
                   formControlName="name"></gtx-input>
        <p *ngIf="getErrorFromControlOfType('name', 'required')"
           class="input-note invalid">required</p>
    </div>

    <div class="small-12 medium-2 columns">
        <div class="checkbox-wrapper">
            <div>
                <gtx-checkbox label="Container"
                              formControlName="container"></gtx-checkbox>
            </div>
        </div>
    </div>

    <gtx-input type="text"
               class="small-12 medium-12 columns"
               label="Description"
               formControlName="description"></gtx-input>

    <div class="small-12 medium-4 columns">
        <gtx-select formControlName="displayField"
                    label="Display Field"
                    title="Select the name of the field whose value will be used as the node display (e. g. field 'ISBN' or field 'Title' on a schema 'Book' )">
            <gtx-option *ngFor="let displayField of displayFields"
                        [value]="displayField.value">{{ displayField.label }}</gtx-option>
        </gtx-select>
        <p *ngIf="getErrorFromControlOfType('displayField', 'required')"
           class="input-note invalid">required</p>
        <p class="input-note hint"
           *ngIf="! hasNamedFields()">Create at least one valid field schema field</p>
    </div>

    <div class="small-12 medium-4 columns">
        <gtx-select formControlName="segmentField"
                    label="Segment Field">
            <gtx-option *ngFor="let segmentField of segmentFields"
                        [value]="segmentField.value">{{ segmentField.label }}</gtx-option>
        </gtx-select>
        <p class="input-note hint"
           *ngIf="! hasNamedFields()">Create at least one valid field schema field</p>
    </div>


    <gtx-select class="small-12 medium-4 columns"
                formControlName="urlFields"
                label="URL Fields">
        <!-- <gtx-option *ngFor="let schema of schemas$ | async" [value]="schema">{{ schema.name }}</gtx-option> -->
    </gtx-select>

    <br>
    <h2 class="section-header medium-10 columns">Schema Fields:</h2>

    <div class="schema-field small-12 medium-12 columns"
         *ngFor="let field of schemaFields.controls; let i = index">
        <form [formGroup]="field">
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <gtx-input type="text"
                               label="Field Name"
                               formControlName="name"></gtx-input>
                    <p *ngIf="getErrorFromControlInFromArrayOfType(i, 'name', 'required')"
                       class="input-note invalid">required</p>
                    <p *ngIf="getErrorFromControlInFromArrayOfType(i, 'name', 'duplicate')"
                       class="input-note invalid">Duplicate content</p>
                </div>

                <div class="small-12 medium-3 columns">
                    <gtx-textarea label="Field Label"
                                  formControlName="label"></gtx-textarea>
                    <p *ngIf="getErrorFromControlInFromArrayOfType(i, 'label', 'required')"
                       class="input-note invalid">required</p>
                    <p *ngIf="getErrorFromControlInFromArrayOfType(i, 'label', 'duplicate')"
                       class="input-note invalid">Duplicate content</p>
                </div>

                <div class="small-12 medium-2 columns">
                    <gtx-select formControlName="type"
                                label="Field Type">
                        <gtx-option *ngFor="let type of schemaFieldTypes"
                                    [value]="type.value">{{ type.label }}</gtx-option>
                    </gtx-select>
                    <p *ngIf="getErrorFromControlInFromArrayOfType(i, 'type', 'required')"
                       class="input-note invalid">required</p>
                </div>

                <div class="small-12 medium-2 columns">
                    <div class="checkbox-wrapper">
                        <div>
                            <gtx-checkbox label="required"
                                          formControlName="required"></gtx-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- INPUT DEPENDING ON listType START -->

                <!-- {{ 'modal.create_project_schema_label' | i18n }} -->
                <gtx-select [hidden]="field.value.type !== 'list'"
                            class="small-12 medium-4 columns"
                            formControlName="listType"
                            label="List Type">
                    <gtx-option *ngFor="let type of schemaFieldListTypes"
                                [value]="type.value">{{ type.label }}</gtx-option>
                </gtx-select>

                <div [hidden]="field.value.type !== 'node' && field.value.listType !== 'node'"
                     class="small-12 medium-8 columns">
                    <gtx-select (change)="allowValueSetAt(i, $event)"
                                [multiple]="true"
                                label="Allowed Schemas">
                        <gtx-option *ngFor="let schema of (allSchemas$ | async)"
                                    [value]="schema.name">{{ schema.name }}</gtx-option>
                    </gtx-select>
                </div>

                <div [hidden]="field.value.type !== 'micronode' && field.value.listType !== 'micronode'"
                     class="small-12 medium-8 columns">
                    <gtx-select (change)="allowValueSetAt(i, $event)"
                                [multiple]="true"
                                label="Allowed Microschemas">
                        <gtx-option *ngFor="let microschema of (allMicroschemas$ | async)"
                                    [value]="microschema.name">{{ microschema.name }}</gtx-option>
                    </gtx-select>
                </div>

                <div [hidden]="field.value.type !== 'string' && field.value.listType !== 'string'"
                     class="string-bar small-12 medium-8 columns">
                    <label class="ng-star-inserted">Allowed Strings</label>
                    <gtx-search-bar formControlName="allow"
                                    (search)="allowValueOnStringInputAddAt(i)"
                                    (keydown.backspace)="allowValueRemoveLastAt(i)"
                                    [placeholder]="'Type to add allowed value'"
                                    (clear)="allowValuesClearAt(i)">

                        <mesh-chip *ngFor="let item of allowValues[i]"
                                   (removeClick)="allowValueRemoveAt(i, item)">
                            {{ item }}
                        </mesh-chip>
                    </gtx-search-bar>
                </div>

                <!-- INPUT DEPENDING ON listType END -->
            </div>
        </form>
        <div class="close-button">
            <gtx-button icon
                        type="secondary"
                        (click)="fieldRemoveAt(index)">
                <icon>close</icon>
            </gtx-button>
        </div>
    </div>

    <div class="small-12 medium-12 columns">
        <gtx-button flat
                    size="small"
                    (click)="fieldAdd()">
            Add field
        </gtx-button>

        <gtx-button flat
                    size="small"
                    (click)="fieldRemoveLast()">
            Remove field
        </gtx-button>
    </div>

</form>

<br>

<div class="small-12 medium-12 columns">
    <gtx-button [disabled]="!formGroupIsValid()"
                (click)="schemaCreate()">
        <icon left>add</icon>Create
    </gtx-button>

    <gtx-button (click)="schemaDelete()">
        <icon left>delete</icon>Delete
    </gtx-button>
</div>
