<form [formGroup]="formGroup"
      class="formgroup row">

    <h2 class="section-header medium-10 columns">Schema Properties:</h2>
    <div class="input-container small-12 medium-10 columns">
        <gtx-input type="text"
                   label="Schema Name"
                   formControlName="name"></gtx-input>
        <div class="input-note">
            <p [@statusAnim]
               *ngIf="getFormControlErrorOfType('name', 'required')"
               class="invalid">required</p>
            <p [@statusAnim]
               *ngIf="getFormControlErrorOfType('name', 'pattern')"
               class="invalid">Invalid characters: alphanumeric and underscore only</p>
        </div>
    </div>

    <div class="small-12 medium-2 columns">
        <div class="checkbox-wrapper">
            <div>
                <gtx-checkbox label="Container"
                              formControlName="container"></gtx-checkbox>
            </div>
        </div>
    </div>

    <gtx-input type="text"
               class="small-12 medium-12 columns"
               label="Description"
               formControlName="description"></gtx-input>

    <div class="input-container small-12 medium-4 columns">
        <gtx-select formControlName="displayField"
                    label="Display Field"
                    title="Select the name of the field whose value will be used as the node display (e. g. field 'ISBN' or field 'Title' on a schema 'Book' )">
            <gtx-option *ngFor="let displayField of displayFields"
                        [value]="displayField.value">{{ displayField.label }}</gtx-option>
        </gtx-select>
        <div class="input-note">
            <p [@statusAnim]
               *ngIf="getFormControlErrorOfType('displayField', 'required')"
               class="invalid">required</p>
            <p class="invalid"
               [@statusAnim]
               *ngIf="! hasNamedFields()">Create at least one valid schema field</p>
        </div>
    </div>

    <div class="input-container small-12 medium-4 columns">
        <gtx-select formControlName="segmentField"
                    label="Segment Field">
            <gtx-option *ngFor="let segmentField of segmentFields"
                        [value]="segmentField.value">{{ segmentField.label }}</gtx-option>
        </gtx-select>
        <div class="input-note">
            <p class="invalid"
               [@statusAnim]
               *ngIf="! hasNamedFields()">Create at least one valid schema field</p>
        </div>
    </div>


    <gtx-select class="input-container small-12 medium-4 columns"
                formControlName="urlFields"
                label="URL Fields">
        <!-- <gtx-option *ngFor="let schema of schemas$ | async" [value]="schema">{{ schema.name }}</gtx-option> -->
    </gtx-select>

    <br>
    <div class="section-header-fields medium-12 columns">
        <h2>Schema Fields:</h2>
        <gtx-button size="small"
                    (click)="fieldAdd()">
            <icon left>add</icon>New Field
        </gtx-button>
    </div>

    <div [@ngForAnimParent]
         class="schema-field small-12 medium-12 columns"
         *ngFor="let field of schemaFields.controls; let i = index">

        <form [@ngForAnimChild]
              [formGroup]="field">
            <div class="field-header">
                <h3>{{field.value?.name}}</h3>
            </div>
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <gtx-input type="text"
                               label="Field Name"
                               formControlName="name"></gtx-input>
                    <div class="input-note">
                        <p [@statusAnim]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'required')"
                           class="invalid">required</p>
                        <p [@statusAnim]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'pattern')"
                           class="invalid">Invalid characters: alphanumeric and underscore only</p>
                        <p [@statusAnim]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'name', 'duplicate')"
                           class="invalid">Duplicate content</p>
                    </div>
                </div>

                <div class="small-12 medium-3 columns">
                    <gtx-textarea label="Field Label"
                                  formControlName="label"></gtx-textarea>
                </div>

                <div class="input-container small-12 medium-2 columns">
                    <gtx-select formControlName="type"
                                label="Field Type">
                        <gtx-option *ngFor="let type of schemaFieldTypes"
                                    [value]="type.value">{{ type.label }}</gtx-option>
                    </gtx-select>
                    <div class="input-note">
                        <p [@statusAnim]
                           *ngIf="getFormControlInArrayErrorOfType(i, 'type', 'required')"
                           class="invalid">required</p>
                    </div>
                </div>

                <div class="small-12 medium-2 columns">
                    <div class="checkbox-wrapper">
                        <div>
                            <gtx-checkbox label="required"
                                          formControlName="required"></gtx-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- INPUT DEPENDING ON listType START -->

                <!-- {{ 'modal.create_project_schema_label' | i18n }} -->
                <gtx-select [hidden]="field.value.type !== 'list'"
                            class="small-12 medium-4 columns"
                            formControlName="listType"
                            label="List Type">
                    <gtx-option *ngFor="let type of schemaFieldListTypes"
                                [value]="type.value">{{ type.label }}</gtx-option>
                </gtx-select>

                <div [hidden]="field.value.type !== 'node' && field.value.listType !== 'node'"
                     class="input-container small-12 medium-8 columns">
                    <gtx-select [value]="allowValueGetAt(i)"
                                (change)="allowValueSetAt(i, $event)"
                                [multiple]="true"
                                label="Allowed Schemas">
                        <gtx-option *ngFor="let schema of (allSchemas$ | async)"
                                    [value]="schema.name">{{ schema.name }}</gtx-option>
                    </gtx-select>
                </div>

                <div [hidden]="field.value.type !== 'micronode' && field.value.listType !== 'micronode'"
                     class="input-container small-12 medium-8 columns">
                    <gtx-select [value]="allowValueGetAt(i)"
                                (change)="allowValueSetAt(i, $event)"
                                [multiple]="true"
                                label="Allowed Microschemas">
                        <gtx-option *ngFor="let microschema of (allMicroschemas$ | async)"
                                    [value]="microschema.name">{{ microschema.name }}</gtx-option>
                    </gtx-select>
                </div>

                <div [hidden]="field.value.type !== 'string' && field.value.listType !== 'string'"
                     class="string-bar small-12 medium-8 columns">
                    <label class="ng-star-inserted">Allowed Strings</label>
                    <gtx-search-bar formControlName="allow"
                                    (search)="allowValueOnStringInputAddAt(i, $event)"
                                    (keydown.backspace)="allowValueRemoveLastAt(i)"
                                    [placeholder]="'Type to add allowed value'"
                                    (clear)="allowValuesClearAt(i)">

                        <mesh-chip *ngFor="let item of allowValues[i]"
                                   (removeClick)="allowValueRemoveAt(i, item)">
                            {{ item }}
                        </mesh-chip>
                    </gtx-search-bar>
                </div>

                <!-- INPUT DEPENDING ON listType END -->
            </div>
        </form>
        <div class="button-close">
            <gtx-button icon
                        type="secondary"
                        title="remove field"
                        (click)="fieldRemoveAt(i)">
                <icon>close</icon>
            </gtx-button>
        </div>
        <div class="button-add">
            <gtx-button icon
                        type="secondary"
                        title="insert field"
                        (click)="fieldAddAt(i + 1)">
                <icon>add</icon>
            </gtx-button>
        </div>
    </div>

    <!-- <div class="field-controls">
        <div class="field-controls-container-inner small-10 medium-10 columns">
            <gtx-button flat
                        size="small"
                        (click)="fieldAdd()">
                Add field
            </gtx-button>

            <gtx-button flat
                        size="small"
                        (click)="fieldRemoveLast()">
                Remove field
            </gtx-button>
        </div>
    </div> -->

</form>

<br>

<div class="schema-controls small-12 medium-12 columns">
    <!-- <div class="container"> -->
    <!-- <div class="schema-controls-container"> -->
    <gtx-button [disabled]="!formGroupIsValid()"
                (click)="schemaCreate()">
        <icon left>add</icon>Save
    </gtx-button>

    <gtx-button (click)="schemaDelete()">
        <icon left>delete</icon>Delete
    </gtx-button>
    <!-- </div> -->
    <!-- </div> -->
</div>
