@import "variables";

.section-header {
    font-size: 16px;
    color: #79797d;
    text-transform: uppercase;
}

.checkbox-wrapper {
    display: flex;
    height: 100%;

    & > div {
        align-self: center;
    }

    // /deep/ gtx-dropdown-list {
    //     .btn, .btn-large, .btn-flat {
    //         padding: 0;
    //     }
    // }
}

.schema-field {
    position: relative;
    margin-bottom: 0.6rem;

    form {
        border-top: 1px solid $gtx-color-light-gray;
        padding-top: 0.5rem;
        // box-shadow: 0 0 10px rgba( 0, 0, 0, 0.2 );
    }
}

.close-button {
    position: absolute;
    right: 0.5rem;
    top: 0;
}

/deep/ gtx-search-bar {
    border: 2px solid #d6d6da;
    border-radius: 3px;
    flex-grow: 1;
    // z-index: 1;
    margin: 3px;
    box-shadow: none;
    background-color: $gtx-color-off-white;

    &.focused {
        background-color: white;
    }

    .submit-button {
        display: none;
    }

    /deep/ mesh-chip {
        margin-bottom: 0 !important;
        margin-left: 0.3rem;
    }
}
