@max-height: 400px;

.binary-file-input {
  background-color: @color-concrete;
  .binary-preview-container {
    min-height: 200px;
    max-height: @max-height;
    overflow:hidden;
    position: relative;
    cursor: pointer;
  }

  .drop-box {
    background-color: fade(@color-primary, 10%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s, background 0.3s;

    .hint {
      background-color: @color-alto;
      padding: 8px;
      border-radius: 3px;
    }
    &.fadeout {
      opacity: 0;
    }

    &:hover, &.dragover {
      opacity: 1;
      background-color: fade(@color-primary, 30%);
    }
  }

  .upload-preview-container, .current-file-container {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
  }
}