<div class="binary-file-input">

    <div class="binary-preview-container"
         layout="row"
         layout-align="center center">

        <div class="current-file-container" ng-if="!vm.model && vm.srcUrl !== ''">
            <binary-file-preview src-url="vm.srcUrl"
                                 transform="vm.transform"
                                 src-field="vm.srcField"></binary-file-preview>
        </div>

        <div class="upload-preview-container" ng-show="vm.model && !vm.model.$error">
            <binary-file-preview src-file="vm.model"
                                 transform="vm.transform"></binary-file-preview>
        </div>

        <div class="drop-box"
             ng-class="{ 'fadeout': vm.model.name || vm.srcUrl }"
             ng-model="vm.model"
             ngf-change="vm.fileChanged()"
             ngf-select=""
             ngf-drop=""
             ngf-drag-over-class="dragover"
             ngf-fix-orientation="false"
             layout="row"
             layout-align="center center">
            <div ng-hide="vm.model && !vm.model.$error" class="hint">Select or drop file...</div>
        </div>
    </div>

</div>