<div class="binary-file-preview">
    <div ng-if="sourceUrl && sourceUrl !== ''">
        <img ng-if="isImageNode()" ng-src="{{ sourceUrl }}" />

        <div ng-if="!isImageNode()" class="non-image-preview">
            <div class="file-preview">
                <i class="icon-insert-drive-file"></i>
                {{ getFileExt(node.fileName) }}
            </div>
            {{ node.fileName }}
        </div>

    </div>
    <div ng-if="!sourceUrl && sourceFile">
        <img ng-if="isImageFile()" ngf-src="!sourceFile.$error && sourceFile">

        <div ng-if="!isImageFile()" class="non-image-preview">
            <div class="file-preview">
                <i class="icon-insert-drive-file"></i>
                {{ getFileExt(sourceFile.name) }}
            </div>
            {{ sourceFile.name }}
        </div>
    </div>
</div>