<div class="container"
     [ngClass]="animclasscontainer">
    <div class="login-header">
        <div class="logoanim">
            <img [ngClass]="animclassimg"
                 src="assets/img/logo.svg"
                 alt="vendor logo">
            <div class="cube"
                 [ngClass]="animclasslogo">
                <div class="cube__face cube__face--front"></div>
                <div class="cube__face cube__face--back"></div>
                <div class="cube__face cube__face--right"></div>
                <div class="cube__face cube__face--left"></div>
                <div class="cube__face cube__face--top"></div>
                <div class="cube__face cube__face--bottom"></div>
            </div>
        </div>
        <div class="name-company">Gentics</div>
        <div class="name-app">Mesh</div>
    </div>

    <div class="error-message"
         *ngIf="forcedPasswordChange">
        {{'auth.forced_password_change_message' | i18n}}
    </div>

    <form class="login-form"
          [formGroup]="loginForm"
          [ngClass]="animclassform"
          (ngSubmit)="onSubmit()">
        <gtx-input placeholder="username"
                   name="username"
                   formControlName="username"></gtx-input>
        <div class="input-note">
            <p *ngIf="loginForm.touched && loginForm.controls.username.hasError('required')"
               class="invalid">{{'common.field_required' | i18n}}</p>
        </div>
        <gtx-input placeholder="password"
                   name="password"
                   type="password"
                   formControlName="password"></gtx-input>
        <div class="input-note">
            <p *ngIf="loginForm.touched && loginForm.controls.password.hasError('required')"
               class="invalid">{{'common.field_required' | i18n}}</p>
        </div>
        <gtx-input *ngIf="forcedPasswordChange"
                   placeholder="New Password"
                   type="password"
                   formControlName="newPassword"></gtx-input>
        <gtx-input *ngIf="forcedPasswordChange"
                   placeholder="Repeat New Password"
                   type="password"
                   formControlName="newPasswordRepeat"></gtx-input>
        <div class="input-note">
            <p *ngIf="loginForm.touched && loginForm.controls.newPasswordRepeat.hasError('matchOther')"
               class="invalid">{{'auth.password_mismatch' | i18n }}</p>
        </div>
        <gtx-button [disabled]="loginForm.invalid"
                    submit>Log In</gtx-button>
    </form>
</div>
