<div class="container"
     [ngClass]="animclasscontainer">
    <div class="login-header">
        <div class="logoanim">
            <img [ngClass]="animclassimg"
                 src="/assets/img/logo.svg"
                 alt="vendor logo">
            <div class="cube"
                 [ngClass]="animclasslogo">
                <div class="cube__face cube__face--front"></div>
                <div class="cube__face cube__face--back"></div>
                <div class="cube__face cube__face--right"></div>
                <div class="cube__face cube__face--left"></div>
                <div class="cube__face cube__face--top"></div>
                <div class="cube__face cube__face--bottom"></div>
            </div>
        </div>
        <div class="name-company">Gentics</div>
        <div class="name-app">Mesh</div>
    </div>

    <form class="login-form"
          [ngClass]="animclassform"
          (ngSubmit)="onSubmit()">
        <gtx-input placeholder="username"
                   [(ngModel)]="username"
                   name="username"></gtx-input>
        <gtx-input placeholder="password"
                   type="password"
                   [(ngModel)]="password"
                   name="password"></gtx-input>
        <gtx-button submit>Log In</gtx-button>
    </form>
</div>
