@import "variables";

gtx-input {
    padding-left: 5px;
}

:host ::ng-deep gtx-input input {
    border-width: 2px;
    border-color: transparent;
}

:host ::ng-deep gtx-input input:hover {
    border-color: $gtx-color-light-gray;
}
