@import "variables";

.item-row {
    display: flex;
    align-items: center;
}

.name {
    width: 100px;
    margin-right: 15px;
    color: $gtx-color-primary;
}

.row-actions {
    flex: 1;
    text-align: right;
}

.list-controls {
    display: flex;
    width: 100%;
}

.list-controls-title
{
    flex-grow: 1;
    text-align: left;
    line-height: 35px;
}

gtx-dropdown-item {
    display: flex;
    align-items: center;

    &.alert {
        color: $gtx-color-alert;
    }

    &.disabled {
        color: $gtx-color-mid-gray;
        cursor: not-allowed;
    }
}

