@import "variables";

:host {
    position: relative;
    display: inline-flex;
    font-size: 13px;
    line-height: 28px;
    padding: 0 12px;
    background-color: #e4e4e4;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.chip-contents {
    overflow: hidden;
    text-overflow: ellipsis;

    .removable & {
        margin-right: 16px;
    }
}

.remove-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }
}
