<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.microschemas.list">Microschemas</a>
                </span>
            </li><li><span>
                    {{ vm.microschema.name }}
                </span>
        </li>
        </ul>
    </div>

    <md-tabs md-dynamic-height md-border-bottom md-no-ink>
        <md-tab label="Schema Builder">
            <md-content class="md-padding">
                <div layout="row">
                    <microschema-editor flex flex-gt-md="70"
                                        microschema="vm.microschema"
                                        schemas="vm.schemas"
                                        on-change="vm.schemaChanged(schema)"></microschema-editor>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="JSON Editor"
                md-on-deselect="vm.deselectJsonTab()">
            <md-content class="md-padding">
                <form name="schemaDetailForm" class="admin-form">

                    <div ui-ace="{ useWrapMode : true,
                                           showGutter: true,
                                           mode: 'json',
                                           onLoad : vm.aceLoaded,
                                           onChange: vm.aceChanged,
                                           workerPath: 'vendor/scripts'}"
                         ng-model="vm.microschemaJson"></div>

                </form>
            </md-content>
        </md-tab>
    </md-tabs>

    <div class="mh-error-alert" ng-if="vm.lastError" layout="row" layout-align="center center">
        <i class="icon-error"></i> {{ vm.lastError }}
    </div>

    <div layout="row" layout-align="center center" class="mh-main-buttons">

        <button class="btn btn-primary"
                ng-click="vm.persist(vm.microschema)"
                ng-disabled="!vm.modified || !vm.isValid"
                aria-label="save">
            <i class="icon-save"></i>
            <span ng-if="!vm.isNew" translate>UPDATE</span>
            <span ng-if="vm.isNew" translate>CREATE</span>
        </button>

        <button class="btn btn-warn"
                ng-click="vm.remove(vm.microschema)"
                ng-disabled="!vm.canDelete()"
                aria-label="delete">
            <i class="icon-delete"></i><span translate>DELETE</span>
        </button>

    </div>
</div>