.binary-thumbnail {

  background-color: @color-concrete;
  min-height: 100px;
  min-width: 125px;
  width: 100%;
  text-align: center;
  .non-image-preview {
    .file-preview {
      font-size: @font-size-title-1;
      color: @color-subdued;
    }
  }

  img, video {
    width: 100%;
    height: auto;
  }

  .resize-container {
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 100%;

    .resize-content {
      display: block;
      min-width: 0;
      min-height: 0;
      max-width: none;
      max-height: none;
    }
  }
}