.binary-thumbnail {

  background-color: @color-concrete;
  min-height: 100px;
  min-width: 125px;
  max-width: 200px;
  text-align: center;
  .non-image-preview {
    .file-preview {
      font-size: @font-size-title-1;
      color: @color-subdued;
    }
  }

  img, video {
    width: 100%;
    height: auto;
  }
}