<div class="project-search-bar">
    <form ng-submit="vm.doSearch(vm.searchTerm)">
        <div class="content" layout="row" layout-align="end" >
            <div flex layout="row">

                <md-input-container flex class="search-term">
                    <label><span translate>SEARCH</span> in {{ vm.currentNode.fields[vm.currentNode.displayField] || vm.currentProject.name }}</label>
                    <input type="text" ng-model="vm.searchTerm" ng-keyup="vm.updateSearchTerm($event)">
                </md-input-container>
                <i class="icon-search"></i>
            </div>
        </div>
    </form>
</div>