@import "../../../../styles/vars";

.project-search-bar {
  background-color: @color-almost-white;
  padding: 0 8px;

  .content {
    max-width: @app-width;
    margin: auto;
  }

  .project-selector {
    margin-top: 17px;
    text-transform: capitalize;

    .md-select-label {
      height: 33px;
    }
  }

  .search-term {
    padding: 2px 2px 5px 2px;

    input, select {
      background-color: white;
      border-radius: 2px 2px 0 0;
    }
  }
}

.project-search-name {
  text-transform: capitalize;
}