@import "../../../../styles/vars";

.project-search-bar {
  margin-top: -18px;

  .content {
    i {
      color: @color-boulder;
      font-size: 32px;
      margin-top: 18px;
      margin-left: -32px;
      z-index: 1;
    }
  }

  .search-term {
    padding: 2px 2px 5px 2px;

    input, select {
      border-radius: 2px 2px 0 0;
    }
  }
}

.project-search-name {
  text-transform: capitalize;
}