@import "../../../../styles/vars";

.project-search-bar {
  //background-color: @color-almost-white;

  .content {
    i {
      font-size: 32px;
      margin-top: 20px;
    }
  }

  .search-term {
    padding: 2px 2px 5px 2px;

    input, select {
      background-color: white;
      border-radius: 2px 2px 0 0;
    }
  }
}

.project-search-name {
  text-transform: capitalize;
}