<div class="project-search-bar">

    <div class="content" layout="row" layout-align="start" >
        <md-select ng-model="currentContext" class="project-selector">
            <md-option ng-value="all"
                       ng-selected="vm.currentProject === ''"
                       class="project-search-name"
                       ng-click="vm.goToContext('')" translate>
                ALL_PROJECTS
            </md-option>
            <md-option ng-value="project"
                       ng-repeat="project in vm.projects"
                       ng-selected="vm.currentProject === project.name"
                       class="project-search-name"
                       ng-click="vm.goToContext(project.name)">
                {{ project.name }}
            </md-option>
        </md-select>

        <md-input-container class="search-term">
            <label translate>SEARCH</label>
            <input type="text" ng-model="searchTerm">
        </md-input-container>

        <div flex class="active-filters">
        </div>
    </div>
</div>