<gtx-progress-bar [active]="creating"></gtx-progress-bar>

<div class="modal-title">
    <h5>{{ 'modal.create_project_title' | i18n }}</h5>
</div>
<div class="modal-content">
    <form [formGroup]="form">
        <gtx-input label="Name" formControlName="name" autofocus></gtx-input>
        <div class="error" *ngIf="name.errors && name.errors.conflict">
            {{ 'modal.create_project_conflict' | i18n }}
        </div>

        <gtx-select formControlName="schema" label="{{ 'modal.create_project_schema_label' | i18n }}">
            <gtx-option *ngFor="let schema of schemas$ | async" [value]="schema">{{ schema.name }}</gtx-option>
        </gtx-select>

        <div class="non-container-warning" *ngIf="schema.value && !schema.value.container">
            {{ 'modal.create_project_non_container_hint' | i18n }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat
                (click)="cancelFn()">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button type="primary"
                [disabled]="!form?.valid || creating"
                (click)="createProject()">{{ 'modal.create_project_button' | i18n }}</gtx-button>
</div>
