<div class="app-content">
    <h1 class="page-title">Users</h1>


    <md-toolbar class="admin-toolbar">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label translate>FILTER_USERS</label>
                <input ng-model="vm.userFilter">
            </md-input-container>
            <button class="btn btn-small btn-primary" aria-label="Create Project" ui-sref="admin.users.create">
                <span translate>CREATE_NEW_USER</span>
            </button>
        </div>
    </md-toolbar>
    <md-content layout-padding class="admin-content-block">


        <table class="mh-table">
            <tr ng-repeat="user in vm.users | filter: vm.filterFn track by user.uuid">
                <td>
                    <a ui-sref="admin.users.detail({ uuid: user.uuid })">
                        <strong>{{ vm.userDisplayName(user) }}</strong><br>
                        {{:: user.emailAddress }}
                    </a>
                </td>
                <td>

                    <md-chips ng-model="user.groups"
                              readonly="user.username === 'admin'"
                              md-require-match="true"
                              md-on-append="vm.validateGroup($chip, user)"
                              md-on-remove="vm.removeGroup($chip, user)">

                        <md-autocomplete
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-items="group in vm.filterBy(vm.groups, searchText)"
                                md-item-text="item.name"
                                placeholder="Add user to a group">
                            <span md-highlight-text="searchText">{{ group.name }}</span>
                        </md-autocomplete>

                        <md-chip-template>
                            <span>{{ vm.displayChipName($chip) }}</span>
                        </md-chip-template>

                    </md-chips>

                </td>
            </tr>
        </table>
    </md-content>
</div>