<div *ngIf="getNodeHasStatus()"
     class="status"
     [ngClass]="cssClass"
     [@animNgIfation]
     (mouseenter)="onMouseenter()"
     (mouseleave)="onMouseleave()">
    <icon *ngIf="nodeIsPublished">cloud_upload</icon>
    <icon *ngIf="!nodeIsPublished">cloud_off</icon>
    <span class="text-uppercase">{{ 'common.' + nodeLabel | i18n }}</span>
    <!-- DRAFT -->
    <p [@animNgIfation]
       *ngIf="(hasHover | async) && (node | nodeStatus: current) === nodeStatusStringsEnum.DRAFT">
        <span class="text-dark">{{ 'common.last_edited' | i18n }} {{ 'common.at' | i18n }}
            <span class="text-bold">{{ nodeEditedDate | date:(getDateTimeFormat() | async)?.date }}</span> /
            <span class="text-bold">{{ nodeEditedDate | date:(getDateTimeFormat() | async)?.time }}</span>
        </span>
    </p>
    <!-- PUBLISHED -->
    <p [@animNgIfation]
       *ngIf="(hasHover | async) && (node | nodeStatus: current) === nodeStatusStringsEnum.PUBLISHED">
        <span class="text-dark">{{ 'common.at' | i18n }}
            <span class="text-bold">{{ nodePublishDate | date:(getDateTimeFormat() | async)?.date }}</span> /
            <span class="text-bold">{{ nodePublishDate | date:(getDateTimeFormat() | async)?.time }}</span>
        </span>
    </p>
    <!-- UPDATED -->
    <p [@animNgIfation]
       *ngIf="(hasHover | async) && (node | nodeStatus: current) === nodeStatusStringsEnum.UPDATED">
        <span class="text-dark">{{ 'common.published' | i18n }} {{ 'common.at' | i18n }}
            <span class="text-bold">{{ nodePublishDate | date:(getDateTimeFormat() | async)?.date }}</span> /
            <span class="text-bold">{{ nodePublishDate | date:(getDateTimeFormat() | async)?.time }}</span>
        </span>
    </p>
    <!-- ARCHIVED -->
    <p [@animNgIfation]
       *ngIf="(hasHover | async) && (node | nodeStatus: current) === nodeStatusStringsEnum.ARCHIVED">
        <span class="text-dark">{{ 'common.last_edited' | i18n }} {{ 'common.at' | i18n }}
            <span class="text-bold">{{ nodeEditedDate | date:(getDateTimeFormat() | async)?.date }}</span> /
            <span class="text-bold">{{ nodeEditedDate | date:(getDateTimeFormat() | async)?.time }}</span>
        </span>
    </p>
</div>
