.group-actions {
  button {
    margin: 0 3px;
  }
}
.mh-table {
  min-width: 100%;
  border-collapse: collapse;
  font-family: @detail-font;
  font-size: @font-size-standard;

  thead {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    padding: 16px 16px 16px 0;
    text-transform: uppercase;
  }

  tbody tr {
    &:hover {
      cursor: pointer;
      background-color: @color-concrete;
    }
    &.selected {
      background-color: @color-concrete;
      border-left: 2px solid @color-primary;
    }
  }

  tbody td:first-child {
    width: 65px;
  }

  td {
    white-space: nowrap;
    color: @color-subdued;
    padding: 5px 0;
    border-bottom: 1px solid @color-almost-white;
  }

  td, th {
    md-checkbox {
      margin-top: 5px;
      margin-bottom: 5px;
      opacity: 0.4;
      &.md-checked {
        opacity: 1;
      }
    }
  }
}

.animate-item.ng-enter, .animate-item.ng-move {
  transition: 0.15s linear all;
  opacity:0;
}

.animate-item.ng-enter.ng-enter-active,
.animate-item.ng-move.ng-move-active {
  opacity:1;
}

.animate-item.ng-enter-stagger {
  transition-delay: 0.03s ;
  transition-duration: 0s ;
}