.contents-list-container {

  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }

  .node-bundle {
    margin-bottom: 20px;

    .schema-name {
      text-transform: uppercase;
      color: @color-silver;
      margin-bottom: 10px;
    }
    .bundle-item {
      padding-bottom: 10px;
    }
    .bundle-item + .bundle-item {
      border-top: 1px solid @color-concrete;
      padding: 10px 0;
    }
  }
}

.items-per-page-select {
  md-select-label {
    min-width: 20px;
  }
}

.binary-preview img {
  max-width: 100px;
  max-height: 100px;
}

.animate-item.ng-enter, .animate-item.ng-move {
  transition: 0.15s linear all;
  opacity:0;
}

.animate-item.ng-enter.ng-enter-active,
.animate-item.ng-move.ng-move-active {
  opacity:1;
}

.animate-item.ng-enter-stagger {
  transition-delay: 0.03s ;
  transition-duration: 0s ;
}