.contents-list-container {

  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }

  .node-bundle {
    margin-top: 30px;

    .schema-name {
      text-transform: uppercase;
      color: @color-dusty;
      margin-bottom: 10px;
    }
    .node-title {
      .noselect();
      &.container {
        cursor: pointer;
        color: @color-primary;
      }
    }
    .bundle-item {
      padding: 10px;
      border-left: 3px solid transparent;
      transition: border 0.2s, background 0.2s;

      &:hover {
        border-left-color: @color-alto;
        background-color: @color-concrete;
      }

      &.selected {
        border-left-color: @color-primary;
        background-color: @color-concrete;
      }
    }
    .bundle-item + .bundle-item {
      border-top: 1px solid @color-concrete;
    }
  }
}

.items-per-page-select {
  md-select-label {
    min-width: 20px;
  }
}

.binary-preview img {
  max-width: 100px;
  max-height: 100px;
}

.animate-item.ng-enter, .animate-item.ng-move {
  transition: 0.15s linear all;
  opacity:0;
}

.animate-item.ng-enter.ng-enter-active,
.animate-item.ng-move.ng-move-active {
  opacity:1;
}

.animate-item.ng-enter-stagger {
  transition-delay: 0.03s ;
  transition-duration: 0s ;
}