<gtx-dropdown-list width="trigger">
    <gtx-dropdown-trigger>
        <gtx-button flat
                    size="regular"
                    type="secondary">
            {{ currentLanguage$ | async | i18n }}
            <icon right>arrow_drop_down</icon>
        </gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content>
        <gtx-dropdown-item (click)="changeLanguage('de')">
            Deutsch
        </gtx-dropdown-item>
        <gtx-dropdown-item (click)="changeLanguage('en')">
            English
        </gtx-dropdown-item>
        <gtx-dropdown-item (click)="changeLanguage('zh')">
            Chinese
        </gtx-dropdown-item>
    </gtx-dropdown-content>
</gtx-dropdown-list>
