<div class="app-content">
    <div class="breadcrumbs">
        <ul>
            <li>
                <span>
                    <a href="#" ui-sref="admin.roles.list">Roles</a>
                </span>
            </li>
            <li>
                <span>
                    {{ vm.role.name }}
                </span>
            </li>
        </ul>
    </div>

    <form name="roleEditorForm" class="admin-form">

        <div layout="row" layout-align="center center" class="main-buttons">

            <md-input-container flex class="role-name">
                <label>Role Name</label>
                <input type="text" ng-model="vm.role.name" ng-change="vm.modified = true" ng-disabled="vm.isAdminRole()">
            </md-input-container>

            <button class="btn btn-primary"
                    ng-click="vm.persist(vm.role)"
                    ng-disabled="!vm.modified"
                    aria-label="save">
                <i class="icon-save"></i>
                <span ng-if="!vm.isNew" translate>UPDATE</span>
                <span ng-if="vm.isNew" translate>CREATE</span>
            </button>

            <button class="btn btn-warn"
                    ng-click="vm.remove(vm.role)"
                    ng-disabled="!vm.canDelete()"
                    aria-label="delete">
                <i class="icon-delete"></i><span translate>DELETE</span>
            </button>

        </div>

        <div ng-if="!vm.isNew">

            <node-permissions-selector
                    role-id="vm.roleId"
                    on-toggle="vm.setNodePermissions(node, project, permissions)"
                    is-readonly="vm.isReadonly()"></node-permissions-selector>

             <tag-permissions-selector
                     items="vm.tagItems"
                     item-permissions="vm.tagItemPermissions"
                     is-readonly="vm.isReadonly()"
                     on-toggle="vm.setTagPermissions(project, permissions, item)"
                     role-id="vm.roleId"></tag-permissions-selector>

            <permissions-table
                    is-readonly="vm.isReadonly()"
                    root-name="Projects"
                    items="vm.projects"
                    item-name-field="item.name"
                    on-toggle="vm.setProjectPermissions(permissions, item)"></permissions-table>

            <permissions-table
                    is-readonly="vm.isReadonly()"
                    root-name="Schemas"
                    items="vm.schemas"
                    item-name-field="item.name"
                    on-toggle="vm.setSchemaPermissions(permissions, item)"></permissions-table>

            <!--  <permissions-table
                      root-name="Microschemas"
                      items="vm.microschemas"
                      item-name-field="item.name"></permissions-table>-->

            <permissions-table
                    is-readonly="vm.isReadonly()"
                    root-name="Users"
                    items="vm.users"
                    item-name-field="item.username"
                    on-toggle="vm.setUserPermissions(permissions, item)"></permissions-table>

            <permissions-table
                    is-readonly="vm.isReadonly()"
                    root-name="Groups"
                    items="vm.groups"
                    item-name-field="item.name"
                    on-toggle="vm.setGroupPermissions(permissions, item)"></permissions-table>

            <permissions-table
                    is-readonly="vm.isReadonly()"
                    root-name="Roles"
                    items="vm.roles"
                    item-name-field="item.name"
                    on-toggle="vm.setRolePermissions(permissions, item)"></permissions-table>

        </div>

    </form>
</div>