<div class="schema-editor-container">

    <div layout="row">
        <div layout="row" layout-align="space-between" flex-gt-sm="60">
            <md-input-container class="display-field" flex flex-gt-sm="70">
                <label>Name</label>
                <input type="text" ng-model="vm.schema.name" required ng-change="vm.schemaChanged()">
            </md-input-container>

            <div flex flex-gt-sm="20">
                <md-checkbox class="checkbox-horizonal-align"
                             ng-model="vm.schema.container"
                             aria-label="Folder"
                             ng-change="vm.schemaChanged()">
                    Container
                </md-checkbox>
            </div>
        </div>
    </div>


    <div layout="row">
        <md-input-container flex flex-gt-sm="30">
            <label>Display Field</label>
            <md-select ng-model="vm.displayFieldValue" ng-change="vm.updateDisplayField()" ng-model-options="{ trackBy: '$value.name'}">
                <md-option ng-value="field" ng-repeat="field in vm.baseSchema.fields | filter: vm.validDisplayFieldsFilter">{{ field.name || 'name property not set' }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex flex-gt-sm="30">
            <label>Segment Field</label>
            <md-select ng-model="vm.segmentFieldValue" ng-change="vm.updateSegmentField()" ng-model-options="{ trackBy: '$value.name'}">
                <md-option ng-value="{ name: '' }" ></md-option>
                <md-option ng-value="field" ng-repeat="field in vm.baseSchema.fields">{{ field.name || 'name property not set' }}</md-option>
            </md-select>
        </md-input-container>
    </div>


    <h3>Fields</h3>

    <ul class="schema-field-container mh-sortable-list"
        dnd-list="vm.schema.fields"
        dnd-drop="vm.endDrag(item, index, vm.schema.fields)">

        <li dnd-draggable="field"
            ng-repeat="field in vm.schema.fields"
            dnd-dragstart="vm.startDrag($index)">
            <schema-field field="field"
                          schemas="vm.schemas"
                          microschemas="vm.microschemas"
                          on-change="vm.schemaChanged()"
                          on-delete="vm.removeField($index)"></schema-field>
        </li>

    </ul>

    <div layout="row" layout-align="center center">
        <button class="btn add-field-btn" ng-click="vm.addField()">
            <i class="icon-add"></i> <span translate>ADD_NEW_FIELD</span>
        </button>
    </div>


</div>