.schema-editor-container {

  margin-bottom: 24px;

  ul.schema-field-container {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  .schema-field {
    border-bottom: 2px solid @color-alto;
    padding: 10px 0 0 0;
  }

  .add-field-btn {
    margin-top: 20px;
  }

  md-input-container {
    margin-bottom: 0;
  }

  md-select {
    // TODO: this can be removed once this angular-material
    // issue is fixed: https://github.com/angular/material/issues/6529
    margin-bottom: 24px;
  }

  .field-icon {
    color: @color-dusty;
    font-size: @font-size-title-2;
    margin: 20px 10px 0 5px;
  }

  .spacer {
    width: 39px;
  }

}